{# form pour afficher les formulaire #}


{{ form_start(form) }}


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.codedepot, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.nomdepot, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.adressedepot, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.adressedepot2, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.agence, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.cpdepot, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.villedepot, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.contactnom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.contactprenom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.contacttel, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.contactportable, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.infoouverture, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.contactemail, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.commentaires, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.codechantier, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">{{ button_label|default("Ajouter") }}</button>
{{ form_end(form) }}

