<div class="row mt-3 form-container" id="facade">

    <h6 class="text-center">Général</h6>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Type de préstation :
        </div>
        <div class="col-md-9">
            <div id="demande_typeDePrestation" class="row">
                <div class="col-md-4">
                    <input type="radio" id="demande_typeDePrestation_0" name="demande[typeDePrestation]"
                           required="required"
                           value="Estimation"
                           class="required" {{ demande.typeDePrestation == "Estimation" ? "checked" :"" }}>
                    <label for="demande_typeDePrestation_0" class="required">Estimation</label>
                </div>

                <div class="col-md-4">
                    <input type="radio" id="demande_typeDePrestation_1"
                           name="demande[typeDePrestation]" {{ demande.typeDePrestation == "Pre-etude" ? "checked" :"" }}
                           required="required" class="required"
                           value="Pre-etude">
                    <label for="demande_typeDePrestation_1" class="required">Pré-étude</label>
                </div>

                <div class="col-md-4">
                    <input type="radio" id="demande_typeDePrestation_2"
                           name="demande[typeDePrestation]" {{ demande.typeDePrestation == "Execution" ? "checked" :"" }}
                           required="required" class="required"
                           value="Execution">
                    <label for="demande_typeDePrestation_2" class="required">Exécution</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Documents souhaités :
        </div>
        <div class="col-md-9">

            <div id="demande_documentsSouhaites" class="row">
                <div class="col-md-4">
                    <input type="checkbox" id="demande_documentsSouhaites_0"
                           name="demande[documentsSouhaites][]" {{ "Plan" in demande.documentsSouhaites ? "checked" :"" }}
                           value="Plan">
                    <label for="demande_documentsSouhaites_0" class="required">PLAN</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" id="demande_documentsSouhaites_1"
                           name="demande[documentsSouhaites][]" {{ "NDC" in demande.documentsSouhaites ? "checked" :"" }}
                           value="NDC">
                    <label for="demande_documentsSouhaites_1" class="required">NDC</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" id="demande_documentsSouhaites_2"
                           name="demande[documentsSouhaites][]" {{ "Autre" in demande.documentsSouhaites ? "checked" :"" }}
                           value="Autre">
                    <label for="demande_documentsSouhaites_2" class="required">Autre</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Fonds de plan :
        </div>
        <div class="col-md-9">
            <div id="demande_fondsDePlan" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_fondsDePlan_0"
                           name="demande[fondsDePlan]" {{ "1" == demande.fondsDePlan ? "checked" :"" }}
                           required="required" value="1">
                    <label for="demande_fondsDePlan_0" class="required">Oui</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" id="demande_fondsDePlan_1"
                           name="demande[fondsDePlan]" {{ "0" == demande.fondsDePlan ? "checked" :"" }}
                           required="required" value="0">
                    <label for="demande_fondsDePlan_1" class="required">Non</label>
                </div>
            </div>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <h6 class="text-center">Spécifique</h6>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Travaux prevus :
        </div>
        <div class="col-md-9">
            <div id="demande_travauxPrevus" class="row">
                <div class="col-md-4">

                    <input type="checkbox" id="demande_travauxPrevus_0"
                           name="demande[travauxPrevus][]" {{ "travauxPrevus" in demande.travauxPrevus ? "checked" :"" }}
                           value="Peinture/Ravalement">
                    <label for="demande_travauxPrevus_0">Peinture / Ravalement</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_travauxPrevus_1"
                           name="demande[travauxPrevus][]" {{ "Bardage/Isolation" in demande.travauxPrevus ? "checked" :"" }}
                           value="Bardage/Isolation">
                    <label for="demande_travauxPrevus_1">Bardage / Isolation</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_travauxPrevus_2"
                           name="demande[travauxPrevus][]" {{ "Maçonnerie/Pierre" in demande.travauxPrevus ? "checked" :"" }}
                           value="Maçonnerie/Pierre">
                    <label for="demande_travauxPrevus_2">Maçonnerie / Pierre</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" id="demande_travauxPrevus_3"
                           name="demande[travauxPrevus][]" {{ "Autre" in demande.travauxPrevus ? "checked" :"" }}
                           value="Autre">
                    <label for="demande_travauxPrevus_3">Autre</label>
                </div>


                {% if "Autre" in demande.travauxPrevus %}
                    {% for val in demande.travauxPrevus %}
                        {% if val !="Peinture/Ravalement" and val != "Bardage/Isolation" and val!="Maçonnerie/Pierre" and val != "Autre" %}
                            <div class="col-md-12 mt-2">
                                <input type="text" id="demande_travauxPrevus_autre" name="demande[travauxPrevus][]"
                                       class="form-control">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Classe d echaffaudage :
        </div>
        <div class="col-md-9">
            <div id="demande_classeDEchaffaudage" class="row">
                <div class="col-md-4">
                    <input type="radio" id="demande_classeDEchaffaudage_0"
                           name="demande[classeDEchaffaudage]" {{ "Classe 1 (75daN/m² sur 1,5 niv.)" == demande.classeDEchaffaudage ? "checked" : "" }}
                           required="required" value="Classe 1 (75daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_0" class="required">Classe 1 (75daN/m² sur 1,5 niv.)</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" id="demande_classeDEchaffaudage_1"
                           name="demande[classeDEchaffaudage]" {{ "Classe 2 (150daN/m² sur 1,5 niv.)" == demande.classeDEchaffaudage ? "checked" : "" }}
                           required="required" value="Classe 2 (150daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_1" class="required">Classe 2 (150daN/m² sur 1,5
                        niv.)</label>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_2"
                           name="demande[classeDEchaffaudage]" {{ "Classe 3 (200daN/m² sur 1,5 niv.)" == demande.classeDEchaffaudage ? "checked" : "" }}
                           required="required" value="Classe 3 (200daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_2" class="required">Classe 3 (200daN/m² sur 1,5
                        niv.)</label>
                </div>

                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_3"
                           name="demande[classeDEchaffaudage]" {{ "Classe 4 (300daN/m² sur 1,5 niv.)" == demande.classeDEchaffaudage ? "checked" : "" }}
                           required="required" value="Classe 4 (300daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_3" class="required">Classe 4 (300daN/m² sur 1,5
                        niv.)</label>

                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_4"
                           name="demande[classeDEchaffaudage]" {{ "Classe 5 (450daN/m² sur 1,5 niv.)" == demande.classeDEchaffaudage ? "checked" : "" }}
                           required="required" value="Classe 5 (450daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_4" class="required">Classe 5 (450daN/m² sur 1,5
                        niv.)</label>

                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_5"
                           name="demande[classeDEchaffaudage]" {{ "Classe 6 (600daN/m² sur 1,5 niv.)" == demande.classeDEchaffaudage ? "checked" : "" }}
                           required="required" value="Classe 6 (600daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_5" class="required">Classe 6 (600daN/m² sur 1,5
                        niv.)</label>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Type de materiel :
        </div>
        <div class="col-md-9">
            <div id="demande_typeDeMateriel" class="row">
                <div class="col-md-4">
                    <input type="radio" id="demande_typeDeMateriel_0"
                           name="demande[typeDeMateriel]" {{ "Universel" == demande.typeDeMateriel ? "checked" : "" }}
                           required="required" value="Universel">
                    <label for="demande_typeDeMateriel_0" class="required">Universel</label>
                </div>

                <div class="col-md-4">
                    <input type="radio" id="demande_typeDeMateriel_1"
                           name="demande[typeDeMateriel]" {{ "Eurofacadacier" == demande.typeDeMateriel ? "checked" : "" }}
                           required="required" value="Eurofacadacier">
                    <label for="demande_typeDeMateriel_1" class="required">Eurofacadacier</label>
                </div>

                <div class="col-md-4">
                    <input type="radio" id="demande_typeDeMateriel_2"
                           name="demande[typeDeMateriel]" {{ demande.typeDeMateriel !="Eurofacadacier" and demande.typeDeMateriel != "Universel" and demande.typeDeMateriel is not empty ? "checked" : "" }}
                           required="required" value="Autre">
                    <label for="demande_typeDeMateriel_2" class="required">Autre</label>
                </div>

                {% if demande.typeDeMateriel !="Eurofacadacier" and demande.typeDeMateriel != "Universel" and demande.typeDeMateriel is not empty %}
                    <div class="col-md-12 mt-2">
                        <input type="text" id="demande_typeDeMateriel_autre" name="demande[typeDeMateriel]"
                               value="{{ demande.typeDeMateriel }}"
                               class="form-control">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Dimensions globales :
        </div>
        <div class="col-md-9 row">

            <div class="col-md-4">
                <label for="demande_dimensionsGlobales_longueur_totale" class="required">Longueur totale en m</label>
                <input type="text" id="demande_dimensionsGlobales_longueur_totale" class="form-control"
                       value='{{ "longueurTotale" in demande.dimensionsGlobales|keys ? demande.dimensionsGlobales["longueurTotale"] : "" }}'
                       name="demande[dimensionsGlobales][longueurTotale]" required="required" placeholder="m env.">
            </div>
            <div class="col-md-4">

                <label for="demande_dimensionsGlobales_hauteur_totale" class="required">Hauteur Totale en m</label>
                <input type="text" id="demande_dimensionsGlobales_hauteur_totale" class="form-control"
                       value='{{ "hauteurTotale" in demande.dimensionsGlobales|keys ? demande.dimensionsGlobales["hauteurTotale"] : "" }}'
                       name="demande[dimensionsGlobales][hauteurTotale]" required="required" placeholder="m env.">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Ammarages :
        </div>
        <div class="col-md-9">
            <div id="demande_ammarages" class="row">
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_0"
                           name="demande[ammarages][]" {{ "Ancrages simples"  in demande.ammarages ? "checked" :"" }}
                           value="Ancrages simples">
                    <label for="demande_ammarages_0" class="required">Ancrages simples</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_1"
                           name="demande[ammarages][]" {{ "Cravatages"  in demande.ammarages ? "checked" :"" }}
                           value="Cravatages">
                    <label for="demande_ammarages_1" class="required">Cravatages</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_2"
                           name="demande[ammarages][]" {{ "Verinage"  in demande.ammarages ? "checked" :"" }}
                           value="Verinage">
                    <label for="demande_ammarages_2" class="required">Vérinage</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_3"
                           name="demande[ammarages][]" {{ "Lest"  in demande.ammarages ? "checked" :"" }}
                           value="Lest">
                    <label for="demande_ammarages_3" class="required">Lest</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_4"
                           name="demande[ammarages][]" {{ "Autre"  in demande.ammarages ? "checked" :"" }}
                           value="Autre">
                    <label for="demande_ammarages_4" class="required">Autre</label>
                </div>
                {% if "Autre"  in demande.ammarages %}

                    {% for val in demande.ammarages %}
                        {% if val !="Ancrages simples" and val != "Cravatages" and val!="Lest" and val != "Autre" and val !="Verinage" %}
                            <div class="col-md-12 mt-2">
                                <input type="text" id="demande_ammarages_autre" name="demande[ammarages][]"
                                       class="form-control"
                                       value="{{ val }}"/>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Largeur de travail :
        </div>
        <div class="col-md-9">
            <div id="demande_largeur_de_travail" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_largeur_de_travail_0"
                           name="demande[largeurDeTravail]" {{ "0.7" == demande.largeurDeTravail ? "checked" :"" }}
                           required="required"
                           value="0.7">
                    <label for="demande_largeur_de_travail_0" class="required">0,7 m</label>
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_largeur_de_travail_1"
                           name="demande[largeurDeTravail]" {{ "1" == demande.largeurDeTravail ? "checked" :"" }}
                           required="required"
                           value="1">
                    <label for="demande_largeur_de_travail_1" class="required">1 m</label>
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_largeur_de_travail_2"
                           name="demande[largeurDeTravail]" {{ demande.largeurDeTravail !="1" and demande.largeurDeTravail != "0.7" and demande.largeurDeTravail is not empty  ?  "checked":"" }}
                           required="required"
                           value="Autre">
                    <label for="demande_largeur_de_travail_2" class="required">Autre</label>
                </div>
                {% if demande.largeurDeTravail !="1" and demande.largeurDeTravail != "0.7" and demande.largeurDeTravail is not empty %}
                    <div class="col-md-12 mt-2">
                        <input type="text" id="demande_largeurDeTravail_autre" name="demande[largeurDeTravail]"
                               value="{{ demande.largeurDeTravail }}"
                               class="form-control">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Consoles :
        </div>
        <div class="col-md-9">
            <div id="demande_consoles" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_consoles_0" name="demande[consoles]"
                           required="required" {{ "0.4" == demande.consoles ? "checked" :"" }}
                           value="0.4">
                    <label for="demande_consoles_0" class="required">0,4 m</label>
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_consoles_1" name="demande[consoles]"
                           required="required" {{ "0.7" == demande.consoles ? "checked" :"" }}
                           value="0.7">
                    <label for="demande_consoles_1" class="required">0,7 m</label>
                </div>

                <div class="col-md-4">

                    <input type="radio" id="demande_consoles_2" name="demande[consoles]"
                           required="required" {{ demande.consoles !="0.4" and demande.consoles != "0.7"  and demande.consoles is not empty ? "checked" :"" }}
                           value="Autre">
                    <label for="demande_consoles_2" class="required">Autre</label>
                </div>

                {% if demande.consoles !="0.4" and demande.consoles != "0.7" and demande.consoles is not empty %}
                    <div class="col-md-12 mt-2">
                        <input type="text" id="demande_consoles_autre" name="demande[consoles]"
                               value="{{ demande.consoles }}"
                               class="form-control">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Distance à la façade :
        </div>
        <div class="col-md-9">
            <div id="demande_distance_a_la_facade" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_distance_a_la_facade_0"
                           name="demande[distanceALaFacade]" {{ "0.2" == demande.distanceALaFacade ? "checked" :"" }}
                           required="required" value="0.2">
                    <label for="demande_distance_a_la_facade_0" class="required">0,2 m</label>
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_distance_a_la_facade_1"
                           name="demande[distanceALaFacade]" {{ demande.distanceALaFacade != "0.2"  and demande.distanceALaFacade is not empty ? "checked" :"" }}
                           required="required" value="Autre">
                    <label for="demande_distance_a_la_facade_1" class="required">Autre</label>
                </div>
                {% if demande.distanceALaFacade !="0.2" and demande.distanceALaFacade is not empty %}
                    <div class="col-md-12 mt-2">
                        <input type="text" id="demande_distance_a_la_facade_autre" name="demande[distanceALaFacade]"
                               value="{{ demande.distanceALaFacade }}"
                               class="form-control"/>
                    </div>

                {% elseif  demande.distanceALaFacade =="0.2" %}
                    <div id="demande_rapport_distance_a_la_facade">
                        <input type="radio" id="demande_rapport_distance_a_la_facade_0"
                               name="demande[rapportDistanceALaFacade]" required="required" value="Par rapport au brut"
                                {{ "Par rapport au brut" == demande.rapportDistanceALaFacade ? "checked" :"" }}
                        >
                        <label for="demande_rapport_distance_a_la_facade_0" class="required">Par rapport au brut</label>

                        <input type="radio" id="demande_rapport_distance_a_la_facade_1"
                               name="demande[rapportDistanceALaFacade]" required="required" value="Par rapport au fini"
                                {{ "Par rapport au fini" == demande.rapportDistanceALaFacade ? "checked" :"" }}
                        >
                        <label for="demande_rapport_distance_a_la_facade_1" class="required">Par rapport au fini</label>

                        <input type="radio" id="demande_rapport_distance_a_la_facade_2"
                               name="demande[rapportDistanceALaFacade]" required="required" value="Autre"
                                {{ "Par rapport au fini" != demande.rapportDistanceALaFacade  and  "Par rapport au brut" != demande.rapportDistanceALaFacade and  demande.rapportDistanceALaFacade  is not empty ? "checked" :"" }}
                        >
                        <label for="demande_rapport_distance_a_la_facade_2" class="required">Autre</label>


                        {% if demande.rapportDistanceALaFacade != "Par rapport au fini" and demande.rapportDistanceALaFacade != "Par rapport au brut" and demande.rapportDistanceALaFacade is not empty %}
                            <input type="text" id="demande_rapport_distance_a_la_facade_autre"
                                   name="demande[rapportDistanceALaFacade]" required="required"
                                   value="{{ demande.rapportDistanceALaFacade }}"/>
                        {% endif %}

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Hauteur des planchers :
        </div>
        <div class="col-md-9">
            <div class="row" id="demande_hauteur_des_planchers">

                <div class="col-md-4">
                    <label for="demande_hauteur_des_planchers_0" class="required ">Sous la corniche en m</label>
                    <input type="text" id="demande_hauteur_des_planchers_0" class="form-control"
                           name="demande[hauteurDesPlanchers][MSousLaCorniche]" required="required"
                           value="{{ 'MSousLaCorniche' in demande.hauteurDesPlanchers|keys ? demande.hauteurDesPlanchers['MSousLaCorniche'] :'' }}"
                           placeholder="m sous la corniche">
                </div>
                <div class="col-md-4">
                    <label for="demande_hauteur_des_planchers_1" class="required">Au dessus du sol en m</label>
                    <input type="text" id="demande_hauteur_des_planchers_1" class="form-control"
                           value="{{ 'MAuDessusDuSol' in demande.hauteurDesPlanchers|keys ? demande.hauteurDesPlanchers['MAuDessusDuSol'] :'' }}"
                           name="demande[hauteurDesPlanchers][MAuDessusDuSol]" required="required"
                           placeholder="m au dessus du sol">
                </div>

                <div class="col-md-4">
                    <label for="demande_hauteur_des_planchers_2" class="required">Autre</label>
                    <input type="text" id="demande_hauteur_des_planchers_2" class="form-control"
                           name="demande[hauteurDesPlanchers][Autre]"
                           value="{{ 'Autre' in demande.hauteurDesPlanchers|keys ? demande.hauteurDesPlanchers['Autre'] :'' }}"
                           placeholder="Autre">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Equipements :
        </div>
        <div class="col-md-9">
            <div id="demande_equipements" class="row">
                <div class="col-md-4">

                    <input type="checkbox" id="demande_equipements_0"
                           name="demande[equipements][]" {{ 'GC MDS' in demande.equipements ? "checked" :'' }}
                           value="GC MDS">
                    <label for="demande_equipements_0" class="required">GC MDS</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_equipements_1"
                           name="demande[equipements][]" {{ 'Pare gravois' in demande.equipements ? "checked" :'' }}
                           value="Pare gravois">
                    <label for="demande_equipements_1" class="required">Pare gravois</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_equipements_2"
                           name="demande[equipements][]" {{ 'GC avant' in demande.equipements ? "checked" :'' }}
                           value="GC avant">
                    <label for="demande_equipements_2" class="required">GC avant</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_equipements_3"
                           name="demande[equipements][]" {{ 'Passage piéton' in demande.equipements ? "checked" :'' }}
                           value="Passage piéton">
                    <label for="demande_equipements_3" class="required">Passage piéton</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_equipements_4"
                           name="demande[equipements][]" {{ 'Protection couvreur' in demande.equipements ? "checked" :'' }}
                           value="Protection couvreur">
                    <label for="demande_equipements_4" class="required">Protection couvreur</label>
                </div>

                {% if 'Passage piéton' in demande.equipements %}

                    <div id="demande_largeur_pssage_pieton" class="equipement_sous_param mt-2">
                        <input type="radio" id="demande_largeur_pssage_pieton_0" name="demande[largeurPassagePieton]"
                               required="required"
                               value="0.7" {{ "0.7" == demande.largeurPassagePieton ? "checked" :"" }}>
                        <label for="demande_largeur_pssage_pieton_0" class="required">Largeur 0,7 m</label>

                        <input type="radio" id="demande_largeur_pssage_pieton_1" name="demande[largeurPassagePieton]"
                               required="required" value="1" {{ "1" == demande.largeurPassagePieton ? "checked" :"" }}>
                        <label for="demande_largeur_pssage_pieton_1" class="required">Largeur 1 m</label>

                        <input type="radio" id="demande_largeur_pssage_pieton_2" name="demande[largeurPassagePieton]"
                               required="required"
                               value="1.5" {{ "1.5" == demande.largeurPassagePieton ? "checked" :"" }}>
                        <label for="demande_largeur_pssage_pieton_2" class="required">Largeur 1,5 m</label>

                        <input type="radio" id="demande_largeur_pssage_pieton_3" name="demande[largeurPassagePieton]"
                               required="required"
                               value="Autre" {{ "0.7" != demande.largeurPassagePieton and "1.5" != demande.largeurPassagePieton and "1" != demande.largeurPassagePieton and "0.7" != demande.largeurPassagePieton ? "checked" :"" and demande.largeurPassagePieton is not empty ? "checked" :"" }}>
                        <label for="demande_largeur_pssage_pieton_3" class="required">Autre</label>

                        {% if  "0.7" != demande.largeurPassagePieton and "1.5" != demande.largeurPassagePieton and "1" != demande.largeurPassagePieton and "0.7" != demande.largeurPassagePieton ? "checked" :"" and demande.largeurPassagePieton is not empty %}
                            <input type="text" id="demande_protection_couvreur_autre"
                                   name="demande[largeurPassagePieton]" required="required" class="form-control"
                                   value="{{ demande.largeurPassagePieton }}">

                        {% endif %}
                    </div>
                {% endif %}

                {% if 'Protection couvreur' in demande.equipements %}
                    <div id="demande_protection_couvreur" class="equipement_sous_param">
                        <input type="radio" id="demande_protection_couvreur_0" name="demande[protectionCouvreur]"
                               required="required"
                               value="En moise" {{ "En moise" == demande.protectionCouvreur ? "checked" :"" }}>
                        <label for="demande_protection_couvreur_0" class="required">En moise</label>

                        <input type="radio" id="demande_protection_couvreur_1" name="demande[protectionCouvreur]"
                               required="required"
                               value="Grillagée" {{ "Grillagée" == demande.protectionCouvreur ? "checked" :"" }}>
                        <label for="demande_protection_couvreur_1" class="required">Grillagée</label>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Acces :
        </div>
        <div class="col-md-9">
            <div id="demande_acces" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_acces_0" name="demande[acces]"
                           required="required" {{ "Planche à trappe" == demande.acces ? "checked" :"" }}
                           value="Planche à trappe">
                    <label for="demande_acces_0" class="required">Planche à trappe</label>
                </div>

                <div class="col-md-4">

                    <input type="radio" id="demande_acces_1" name="demande[acces]"
                           required="required" {{ "Volée alu à palier incorporé" == demande.acces ? "checked" :"" }}
                           value="Volée alu à palier incorporé">
                    <label for="demande_acces_1" class="required">Vollée alu à palier incorporé</label>
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_acces_2" name="demande[acces]"
                           required="required" {{ "Planche à trappe" != demande.acces and "Volée alu à palier incorporé" != demande.acces  and demande.acces is not empty ? "checked" :"" }}
                           value="Autre">
                    <label for="demande_acces_2" class="required">Autre</label>

                    {% if "Planche à trappe" != demande.acces and "Volée alu à palier incorporé" != demande.acces  and demande.acces is not empty %}
                        <input type="text" id="demande_acces_autre" name="demande[acces]" required="required"
                               class="form-control" value="{{ demande.acces }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-=">
        <div class="col-md-3 text-end labels">
            Bâche et filet :
        </div>
        <div class="col-md-9">
            <div id="demande_bache_et_filet" class="row">
                <div class="col-md-4">
                    <label for="demande_bache_et_filet_0" class="required">Bâche</label>
                    <input type="text" id="demande_bache_et_filet_0" name="demande[bacheEtFilet][bache]"
                           value="{{ 'bache' in demande.bacheEtFilet|keys ? demande.bacheEtFilet['bache'] : '' }}"
                           required="required"
                           class="form-control" placeholder=".....g/m²">

                    <div class="col-md-12 mt-2">
                        <input type="checkbox" id="demande_bache_0"
                               name="demande[bache][]" {{ "Directement sur l'échafaudage" in demande.bache  ? "checked" :"" }}
                               value="Directement sur l'échafaudage">
                        <label for="demande_bache_0" class="required">Directement sur l'échafaudage</label>

                    </div>
                    <div class="col-md-12 mt-2">

                        <input type="checkbox" id="demande_bache_1"
                               name="demande[bache][]" {{ "Sur cadre" in demande.bache  ? "checked" :"" }}
                               value="Sur cadre">
                        <label for="demande_bache_1" class="required">Sur cadre</label>
                    </div>
                    <div class="col-md-12 row  mt-2" id="demande_themee">
                        <div class="col-md-6">
                            <input type="checkbox" id="demande_bache_2"
                                   name="demande[bache][]" {{ "Thémée" in demande.bache  ? "checked" :"" }}
                                   value="Thémée">
                            <label for="demande_bache_2" class="required">Thémée</label>
                        </div>

                        {% if "Thémée" in demande.bache %}
                                {% if "themee" in demande.bache|keys %}
                                    <div class="col-md-6">
                                        <input type="text" id="demande_bache_autre" value="{{ demande.bache['themee'] }}"
                                               name="demande[bache][themee]"
                                               class="form-control">
                                    </div>
                                {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-12  mt-2">

                        <input type="checkbox" id="demande_bache_3"
                               name="demande[bache][]" {{ "M1" in demande.bache ? "checked" :"" }}
                               value="M1">
                        <label for="demande_bache_3" class="required">M1</label>
                    </div>

                </div>
                <div class="col-md-4">
                    <label for="demande_bache_et_filet_1" class="required">Filet</label>
                    <input type="text" id="demande_bache_et_filet_1" name="demande[bacheEtFilet][filet]"
                           value="{{ 'filet' in demande.bacheEtFilet|keys ? demande.bacheEtFilet['filet'] : '' }}"
                           required="required"
                           class="form-control" placeholder=".....g/m²">

                </div>
            </div>
        </div>
    </div>


    <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
    </div>
</div>
