{% extends 'base.html.twig' %}

{% block title %}ContactService index{% endblock %}

{% block body %}
    <h1>ContactService index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_service in contact_services %}
            <tr>
                <td>{{ contact_service.id }}</td>
                <td>{{ contact_service.titre }}</td>
                <td>{{ contact_service.code }}</td>
                <td>
                    <a href="{{ path('app_contact_contact_service_show', {'id': contact_service.id}) }}">show</a>
                    <a href="{{ path('app_contact_contact_service_edit', {'id': contact_service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_contact_service_new') }}">Create new</a>
{% endblock %}
