{% extends 'base.html.twig' %}

{% block title %}TypeFichier index{% endblock %}

{% block body %}

    <table class="table text-center datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_fichier in type_fichiers %}
            <tr>
                <td>{{ type_fichier.id }}</td>
                <td>{{ type_fichier.titre }}</td>
                <td>{{ type_fichier.code }}</td>
                <td>
                    <a href="{{ path('app_ged_type_fichier_show', {'id': type_fichier.id}) }}"  class="btn btn-warning" style="font-size: 10px;">show</a>
                    <a href="{{ path('app_ged_type_fichier_edit', {'id': type_fichier.id}) }}"  class="btn btn-warning" style="font-size: 10px;"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
