<style>
    .checkbox {
        width: 120px;
        height: 31px;
        margin: 0 auto;
    }

    .checkbox input[type=checkbox] {
        margin: 0;
        visibility: hidden;
        display: none;
        left: 7px;
        top: 7px;
    }

    .checkbox label {
        height: 100%;
        min-width: 120px;
        border-radius: 4px;
        display: block;
        perspective: 100px;
        position: relative;
        z-index: 1;
    }

    .checkbox label:before,
    .checkbox label:after {
        min-width: 120px;
        content: 'Personne';
        color: #fff;
        background: #0dcaf0;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        border-radius: 4px;
        transform: rotateY(0deg);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s ease;
    }

    .checkbox label:after {
        content: 'Societe';
        background: #0E4377;
        transform: rotateY(-180deg);
        left: 0;
        z-index: -1;
    }

    .checkbox input[type=checkbox]:checked + label:before {
        transform: rotateY(180deg);
    }

    .checkbox input[type=checkbox]:checked + label:after {
        transform: rotateY(0deg);
        z-index: 1;
    }

    @media only screen and (max-width: 767px) {
        .checkbox {
            margin: 0 0 20px;
        }
    }
</style>

<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        {{ form_start(form) }}

        <div class="col-lg-6 m-auto page-block page-block-sm page-block-margin-bottom offset-4">

            <div class="justify-content-center">
                <div class="checkbox col-md-4 m-auto">
                    <input type="checkbox" id="type" checked/>
                    <label for="type" id="type_label" style="cursor: pointer;"></label>
                </div>
                <div class="col-md-8 societe m-auto">
                    {{ form_widget(form.societe.siren,{"attr":{"class":"form-control form-control-sm-2 societe-input", "autofocus":"on"}}) }}
                </div>
            </div>
            {{ form_widget(form.type,{'attr' : {'class':'form-control' }}) }}


        </div>


        <div class="col-md-11 m-auto page-block mt-4">
            <div class="societe">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Raison Sociale
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.raisonSociale,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Nom Commercial
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.nom,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Adresse
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.adresse1,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Complément
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.adresse2,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Ville
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.ville,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Code Postal
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.codePostal,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Pays
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.pays,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Siret
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.siret,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Dirigeant
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.dirigeant,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Forme Juridique
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.formeJuridique,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Activité Principale
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.activitePrincipale,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                                <a href="#"  class="float-end" id="activite-modal"> Ajouter une nouvelle Activité</a>
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Activité Secondaire
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.activitesSecondaires,{'attr':{"class":"societe-input multi-select bg-blue "}}) }}
                            </div>
                        </div>


                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Date de Création
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.dateDeCreation,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Email
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.societe.email,{'attr':{"class":"form-control form-control-sm-2 societe-input"}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="personne">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Nom
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.nom,{'attr':{"class":"form-control form-control-sm-2 personne-input", 'autofocus':'on'}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Prénom
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.prenom,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Email
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.email,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Téléphone
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm-2 personne-input"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Adresse
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.adresse1,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Complément
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.adresse2,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>
                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Ville
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.ville,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Code Postal
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.codePostal,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>

                        <div class="col-md-12 row mt-3">
                            <div class="col-md-3">
                                Pays
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.personne.pays,{'attr':{"class":"form-control form-control-sm-2 personne-input"}}) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 row ">
                            <div class="col-md-3">
                                Téléphone
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-sm-4 pr-0">
                                        {{ form_widget(form.phone.code,{'attr':{"class":"form-control form-control-sm-2  tel tel-code"}}) }}
                                    </div>
                                    <div class="col-sm-8 pl-0">
                                        {{ form_widget(form.phone.number,{'attr':{"class":"form-control form-control-sm-2 tel"}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="comment mt-4">
                <p>{{ form_widget(form.commentaire,{'attr':{"class":"form-control "}}) }} </p>
            </div>







            <div class="mt-4">
                <button  type="submit" class="btn btn-info">Enregistrer</button>

            </div>
            {{ form_end(form) }}
        </div>
    </div>

</div>


<script>


    $('#activite-modal').on('click',function () {

    })

    function requestSiren() {

        var url = "https://api.insee.fr/entreprises/sirene/V3/siren/" + $('#interlocuteur_societe_siren').val();

        var xhr = new XMLHttpRequest();
        xhr.open("GET", url);

        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Authorization", "Bearer 34581367-6f76-308f-9f43-e2dfb1ced682");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {

                if (xhr.status === 200) {
                    const data = JSON.parse(xhr.responseText);
                    let dateCreation = data.uniteLegale.dateCreationUniteLegale;
                    const [year, month, day] = dateCreation.split('-');
                    dateCreation = [day, month, year].join('/');

                    let periode = data.uniteLegale.periodesUniteLegale[0];
                    let raisonSociale = periode.denominationUniteLegale;
                    let nic = periode.nicSiegeUniteLegale;

                    let siret = $('#interlocuteur_societe_siren').val() + nic;

                    $('#interlocuteur_societe_raisonSociale').val(raisonSociale);
                    $('#interlocuteur_societe_dateDeCreation').val(dateCreation);
                    $('#interlocuteur_societe_siret').val(siret)

                    requestSiret(siret);
                } else {
                    $('#interlocuteur_societe_raisonSociale').val("");
                    $('#interlocuteur_societe_dateDeCreation').val("");
                    $('#interlocuteur_societe_siret').val("")
                    $("#interlocuteur_societe_adresse1").val("");
                    $('#interlocuteur_societe_codePostal').val("");
                    $("#interlocuteur_societe_ville").val("");
                    $('#interlocuteur_societe_pays').val("");

                    console.log('error');

                }
            }
        };

        xhr.send();

    }


    function requestSiret(siret) {

        var url = "https://api.insee.fr/entreprises/sirene/V3/siret/" + siret;

        var xhr = new XMLHttpRequest();
        xhr.open("GET", url);

        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Authorization", "Bearer 34581367-6f76-308f-9f43-e2dfb1ced682");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {


                if (xhr.status === 200) {
                    const data = JSON.parse(xhr.responseText);

                    console.log(data)

                    const etablissementAdresse = data.etablissement.adresseEtablissement;

                    let adresse = etablissementAdresse.numeroVoieEtablissement + " "
                        + etablissementAdresse.typeVoieEtablissement + " "
                        + etablissementAdresse.libelleVoieEtablissement + " "

                    let cp = etablissementAdresse.codePostalEtablissement;
                    let ville = etablissementAdresse.libelleCommuneEtablissement;

                    $("#interlocuteur_societe_adresse1").val(adresse);
                    $('#interlocuteur_societe_codePostal').val(cp);
                    $("#interlocuteur_societe_ville").val(ville);
                    $('#interlocuteur_societe_pays').val('France');
                }

            }
        };

        xhr.send();

    }

    $('#interlocuteur_societe_siren').on("keyup change", function () {
        if ($('#interlocuteur_societe_siren').val().length === 9) {
            requestSiren();
        }
    })

    function typeShow() {
        if ($('#interlocuteur_type').val() === 'societe') {
            $('.personne').slideUp();
            $('.societe').slideDown();
            $('.personne-input').each(function () {
                $(this).val("");
                $(this).prop('required',false);
            })
        } else {
            $('.societe').slideUp();
            $('.personne').slideDown();
            $('.societe-input').each(function () {
                $(this).val("");
                $(this).prop('required',false);
            })
        }
    }


    typeShow()

    function checkType() {
        $('#type').is(':checked') ? $('#interlocuteur_type').val('societe') : $('#interlocuteur_type').val('personne');
        typeShow();
        $('#type').is(':checked') ? $('#interlocuteur_personne_nom').attr('autofocus','off') : $('#interlocuteur_personne_nom').focus();
        $('#type').is(':checked') ? $('#interlocuteur_societe_siren').focus() : $('#interlocuteur_societe_siren').attr('autofocus','off');
        console.log($('#type').is(':checked'))
    }

    $('#type').change(function () {
        checkType();
    })

    $('#interlocuteur_type').change(function () {
        console.log()
    })

</script>
