{% extends 'base.html.twig' %}

{% block title %}Interlocuteur index{% endblock %}

{% block body %}

    <div class="page-block col-lg-12">


        <table class="table">
            <thead>
            <tr style="background-color: #0e4377;color: white;">
                <th>Id</th>
                <th>Raison sociale</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Siret</th>
                <th>Commentaire</th>
            </tr>
            </thead>
            <tbody>
            {% for interlocuteur in interlocuteurs %}
                <tr>
                    <td>{{ interlocuteur.id }}</td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}"> {{ interlocuteur.societe.raisonSociale }}</a>
                        {% elseif interlocuteur.personne is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}">  {{ interlocuteur.personne.nom }}</a>
                        {% endif %}
                    </td>


                    <td>
                        {% if interlocuteur.societe is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}"> {{ interlocuteur.societe.nom }}</a>
                        {% elseif interlocuteur.personne is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}">  {{ interlocuteur.personne.nom }}</a>
                        {% endif %}
                    </td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.adresse1 }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.adresse1 }}
                        {% endif %}
                    </td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.ville }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.ville }}
                        {% endif %}
                    </td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.codePostal }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.codePostal }}
                        {% endif %}
                    </td>
                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.pays }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.pays }}
                        {% endif %}
                    </td>
                    <td>{{ interlocuteur.type }}</td>
                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.siret }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ "" }}
                        {% endif %}
                    </td>


                    <td>{{ interlocuteur.commentaire }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
