{% extends 'base.html.twig' %}

{% block title %}Interlocuteur index{% endblock %}

{% block body %}

    <div class="page-block col-lg-12">


        <table class="table text-center datatable" style="color: #0E4377;">
            <thead>
            <tr class="tr-head">
                <th>Nom</th>
                <th>Nom commercial</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Siret</th>
                <th>Activité</th>
                {% if path('app_interlocuteur_interlocuteur_index') == path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) %}
                    <th>Rôle</th>
                {% else %}
                    <th>Commentaire</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for interlocuteur in interlocuteurs %}
                <tr>
                    <td>
                        {% if interlocuteur.societe is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}"> {{ interlocuteur.societe.raisonSociale }}</a>
                        {% elseif interlocuteur.personne is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}">  {{ interlocuteur.personne.nom }}</a>
                        {% endif %}
                    </td>


                    <td>
                        {% if interlocuteur.societe is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show', {'id': interlocuteur.id}) }}"> {{ interlocuteur.societe.nom }}</a>
                        {% endif %}
                    </td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.adresse1 }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.adresse1 }}
                        {% endif %}
                    </td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.ville }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.ville }}
                        {% endif %}
                    </td>

                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.codePostal }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.codePostal }}
                        {% endif %}
                    </td>
                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.pays }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ interlocuteur.personne.pays }}
                        {% endif %}
                    </td>
                    <td>{{ interlocuteur.type }}</td>
                    <td>
                        {% if interlocuteur.societe is not empty %}
                            {{ interlocuteur.societe.siret }}
                        {% elseif interlocuteur.personne is not empty %}
                            {{ "" }}
                        {% endif %}
                    </td>

                    <td>{{ interlocuteur.societe is not empty and interlocuteur.societe.activitePrincipale ? interlocuteur.societe.activitePrincipale.titre: "" }}</td>

                    {% if path('app_interlocuteur_interlocuteur_index') == path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) %}
                        <td>
                            {% for role in interlocuteur.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ interlocuteur.commentaire }}</td>
                    {% endif %}

                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
