{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}


{% block body %}


    <style>

        .nav-tabs li:hover {
            color: white !important;
        }

        .nav-tabs {
            border: 1px solid #0E4377;
            border-bottom: 5px solid #0E4377;
            margin-bottom: 35px !important;
            line-height: 2rem;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .bg-blue {
            background: rgba(14, 67, 119, .1);
            border-radius: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .banner-img img {
            width: 100%;
            border-radius: 5px;
        }

        .dates div {
            float: left;
            width: 50%;
            text-align: center;
            position: relative;
        }

        .dates strong,
        .stats strong {
            display: block;
            color: #adb8c2;
            font-size: 11px;
            font-weight: 700;
        }

        .dates span {
            width: 1px;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            background: #ebeff2;
        }

        .stats div {
            border-right: 1px solid #ebeff2;
            width: 33.33333%;
            float: left;
            text-align: center
        }

        .stats div:nth-of-type(3) {
            border: none;
        }


        a.hv:hover {
            color: white !important;
        }

        li.col.no-padding:hover {
            background: #0d4377;
            color: white !important;
        }

        li.col.no-padding {
            color: #0d4377 !important;
            cursor: pointer;
        }
    </style>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col-lg-12 alert alert-{{ label }}">
                {{ message |trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <!-- PAGE DISPLAY -->
    <div class="col-lg-12 page-block page-block-margin-bottom">
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Raison Sociale</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.raisonSociale }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Nom commercial</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.nom }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Adresse</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.adresse1 }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Téléphone</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.phone is not empty ? "+"~interlocuteur.phone['code']~" "~interlocuteur.phone['number'] : "NC" }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Activité principale</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.activitePrincipale ? interlocuteur.societe.activitePrincipale.titre : "NC" }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Forme Juridique</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.formeJuridique }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Activités Secondaire</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">

                        {% set activite = [] %}
                        {% for act in interlocuteur.societe.activitesSecondaires %}
                            {% set activite = activite|merge([act.titre]) %}
                        {% endfor %}
                        <span class="data-element">{{ activite|join(', ') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Dirigeant</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.nom }}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Commentaire</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1" style="min-height: 50px;">
                        {% if interlocuteur.commentaire is empty %}
                            <span class="data-element">{{ "..." }}</span>
                        {% else %}
                            <span class="data-element">{{ interlocuteur.commentaire|nl2br }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    {# Tab at the bottom of the page #}

    <div class="col-lg-12 page-block">
        <ul class="nav nav-tabs row" role="tablist">
            <li class="col no-padding nav-item" id='firstList' role="presentation">
                <a href="#tab_contact" aria-controls="tab_contact" class="hv" role="tab" data-toggle="tab">
                    Contact
                </a>
            </li>
            <li class="col no-padding nav-item" role="presentation">
                <a href="#tab_deal" aria-controls="tab_deal" role="tab" class="hv" data-toggle="tab">
                    Devis
                </a>
            </li>
            <li class="col no-padding nav-item" role="presentation">
                <a href="#tab_contract" aria-controls="tab_contract" role="tab" class="hv" data-toggle="tab">
                    Affaires
                </a>
            </li>
            <li class="col no-padding nav-item" role="presentation">
                <a href="#tab_activity" aria-controls="tab_activity" role="tab" class="hv" data-toggle="tab">
                    Chantier
                </a>
            </li>


            <li class="col no-padding nav-item" role="presentation">
                <a href="#tab_accreditation" aria-controls="tab_accreditation" class="hv" role="tab"
                   data-toggle="tab">
                    Accréditation
                </a>
            </li>

            <li class="col no-padding nav-item" role="presentation">
                <a href="#tab_statistic" aria-controls="tab_statistic" role="tab" class="hv" data-toggle="tab">
                    Statistiques
                </a>
            </li>
        </ul>


        <!-- --- TAB CONTENT --- -->
        <div class="tab-content">

            <!--  CONTACT  -->
            <div role="tabpanel"
                 class="tab-pane fade show active"
                 id="tab_contact">

                <div class="row justify-content-end">

                    <a href="{{ path('app_contact_contact_new',{'id':interlocuteur.id}) }}"
                       class=" col-md-auto btn btn-info">
                        Ajouter un contact
                    </a>
                </div>


                <div class="col-md-12">

                    <table class="table">
                        <thead>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Portable</th>
                        <th>Fonction</th>
                        </thead>
                        <tbody>
                        {% for contact in interlocuteur.contacts %}

                            <tr>
                                <td>
                                   <a href="{{ path('app_contact_contact_show',{'id':contact.id}) }}">{{ contact.nom }} </a>
                                </td>
                                <td>

                                </td>
                                {{ contact.prenom }}
                                <td>
                                    {{ contact.email }}
                                </td>
                                <td>
                                    {{ contact.telephoneMobile }}
                                </td>
                                <td>
                                    {{ contact.fonction }}
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

            <!--  DEAL  -->
            <div role="tabpanel" class="tab-pane fade show" id="tab_deal">
                <div class="col-md-12 p-0">


                </div>
            </div>

            <!--  CONTRACT  -->
            <div role="tabpanel" class="tab-pane fade show" id="tab_contract">


            </div>


            <!--  ACTIVITY  -->
            <div role="tabpanel" class="tab-pane fade show" id="tab_activity">

            </div>


            <!--  ACCREDITATION  -->
            <div role="tabpanel"
                 class="tab-pane fade show"
                 id="tab_accreditation">
            </div>
            <!--  STATISTIC  -->
            <div role="tabpanel"
                 class="tab-pane fade show"
                 id="tab_statistic">
                <p>tab_statistic</p>
            </div>
        </div>
    </div>


{% endblock %}


