{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}


{% block body %}


    <style>


        .bg-blue{
            font-size: 0.75rem !important;
            overflow: hidden;
            text-overflow: ellipsis;
            height: calc(1em + 0.375rem + 2px) !important;
            padding: 0 0.25rem !important;
            background: rgba(14, 67, 119, 0.1);
            border-radius: 5px !important;
            white-space: nowrap;
        }
        .nav-tabs .nav-link {
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
            color: #0E4377;
            width: 100%;
            border-right: 1px solid #0E4377;
        }


        .nav-tabs .nav-link.active {
            background-color: #fff;
            border-color: #0e4377 #0e4377 #0e4377;
            color: #495057;
        }

        body .nav-tabs li button {
            display: block;
            padding: 5px 30px;
        }

        body .nav-tabs li .active {
            background-color: #0E4377 !important;
            color: white !important;
        }

        .nav-item .nav-link:hover{
            background: #0E4377;
            color: white !important;
            border-color: #0E4377;
        }
        .nav-tabs {
            border: 1px solid #0E4377;
            border-bottom: 5px solid #0E4377;
        }
    </style>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col-lg-12 alert alert-{{ label }}">
                {{ message |trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <!-- PAGE DISPLAY -->
    <div class="col-lg-12 page-block page-block-margin-bottom">
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Raison Sociale</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.raisonSociale }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Nom commercial</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.nom }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Adresse</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.adresse1 }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Téléphone</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.phone is not empty ? "+"~interlocuteur.phone['code']~" "~interlocuteur.phone['number'] : "NC" }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Activité principale</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.activitePrincipale ? interlocuteur.societe.activitePrincipale.titre : "NC" }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Forme Juridique</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.formeJuridique }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Activités Secondaire</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">

                        {% set activite = [] %}
                        {% for act in interlocuteur.societe.activitesSecondaires %}
                            {% set activite = activite|merge([act.titre]) %}
                        {% endfor %}
                        <span class="data-element">{{ activite|join(', ') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Dirigeant</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1">
                        <span class="data-element">{{ interlocuteur.societe.nom }}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 font-weight-bold text-end">
                        <span class="d-block">Commentaire</span>
                    </div>
                    <div class="col-md-6 bg-blue pr-1" style="min-height: 50px;">
                        {% if interlocuteur.commentaire is empty %}
                            <span class="data-element">{{ "..." }}</span>
                        {% else %}
                            <span class="data-element">{{ interlocuteur.commentaire|nl2br }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 page-block mt-4">


        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="col nav-item" role="presentation">
                <button class="nav-link active" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts"
                        type="button"
                        role="tab" aria-controls="contacts" aria-selected="true">
                    Contacts
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="demandes-tab" data-bs-toggle="tab" data-bs-target="#demandes" type="button"
                        role="tab" aria-controls="demandes" aria-selected="false">
                    Demandes
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="devis-tab" data-bs-toggle="tab" data-bs-target="#devis" type="button"
                        role="tab" aria-controls="devis" aria-selected="false">
                    Devis
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="affaires-tab" data-bs-toggle="tab" data-bs-target="#affaires" type="button"
                        role="tab" aria-controls="affaire" aria-selected="false">
                    Affaires
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="chantiers-tab" data-bs-toggle="tab" data-bs-target="#chantiers"
                        type="button"
                        role="tab" aria-controls="chantiers" aria-selected="false">
                    Chantiers
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="accreditation-tab" data-bs-toggle="tab" data-bs-target="#accreditation"
                        type="button"
                        role="tab" aria-controls="accreditation" aria-selected="false">
                    Accréditation
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="statistiques-tab" data-bs-toggle="tab" data-bs-target="#statistiques"
                        type="button"
                        role="tab" aria-controls="statistiques" aria-selected="false">
                    Statistiques
                </button>
            </li>
            <li class="col nav-item" role="presentation">
                <button class="nav-link" id="ged-tab" data-bs-toggle="tab" data-bs-target="#ged" type="button"
                        role="tab" aria-controls="ged" aria-selected="false">
                    GED
                </button>
            </li>
        </ul>


        <div class="tab-content mt-4" id="myTabContent">

            <!-- Contact -->
            <div class="tab-pane fade show active" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">

                <div class="row justify-content-end mt-4 mb-2">
                    <a href="{{ path('app_contact_contact_new',{'id':interlocuteur.id}) }}"
                       class=" col-md-auto btn btn-info">
                        Ajouter un contact
                    </a>
                </div>

                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Portable</th>
                        <th>Fonction</th>
                        </thead>
                        <tbody>
                        {% for contact in interlocuteur.contacts %}

                            <tr>
                                <td>
                                    <a href="{{ path('app_contact_contact_show',{'id':contact.id}) }}">{{ contact.nom }} </a>
                                </td>
                                <td>
                                    {{ contact.prenom }}
                                <td>
                                    {{ contact.email }}
                                </td>
                                <td>
                                    {{ contact.telephoneMobile }}
                                </td>
                                <td>
                                    {{ contact.fonction }}
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="demandes" role="tabpanel" aria-labelledby="demandes-tab">demandes</div>
            <div class="tab-pane fade" id="devis" role="tabpanel" aria-labelledby="devis-tab">devis</div>
            <div class="tab-pane fade" id="affaires" role="tabpanel" aria-labelledby="affaires-tab">affaires</div>
            <div class="tab-pane fade" id="chantiers" role="tabpanel" aria-labelledby="chantiers-tab">chantiers</div>
            <div class="tab-pane fade" id="accreditation" role="tabpanel" aria-labelledby="accreditation-tab">
                accreditation
            </div>
            <div class="tab-pane fade" id="statistiques" role="tabpanel" aria-labelledby="statistiques-tab">
                statistiques
            </div>
            <div class="tab-pane fade" id="ged" role="tabpanel" aria-labelledby="ged-tab">ged</div>

        </div>

    </div>


{% endblock %}


