<style>

    .form-control:focus {
        box-shadow: none;
        border-color: #1ab2e4
    }

    .profile-button {
        background: #1ab2e4;
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #1ab2e4
    }

    .profile-button:focus {
        background: #1ab2e4;
        box-shadow: none
    }

    .profile-button:active {
        background: #1ab2e4;
        box-shadow: none
    }

    .back:hover {
        color: #1ab2e4;
        cursor: pointer
    }

    h6 {
        color: #0d4377;
        text-align: center;
    }

    .labels {
        font-size: 11px
    }

    .add-service {
        color: black;
    }

    .add-service:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }


    section {
        display: flex;
        flex-flow: row wrap;
    }

    section > div {
        flex: 1;
        padding: 0.5rem;
    }

    .te {
        display: none;
    }

    .te:not(:disabled) ~ .te-label {
        cursor: pointer;
    }

    .te:disabled ~ .te-label {
        color: #bcc2bf;
        border-color: #bcc2bf;
        box-shadow: none;
        cursor: not-allowed;
    }

    .te-label {

        font-weight: 900;
        height: 100%;
        display: block;
        background: white;
        border: 2px solid #2bb3e5;
        border-radius: 20px;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
        position: relative;
    }

    .te:checked + .te-label {
        background: #2bb3e5;
        color: white;
        box-shadow: 0px 0px 20px #2bb3e5;
    }

    .te:checked + .te-label::after {
        color: #3d3f43;
        border: 2px solid #2bb3e5;
        color: #02c109;
        content: "✔";
        font-size: 24px;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background: white;
        box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
    }


    @media only screen and (max-width: 700px) {
        section {
            flex-direction: column;
        }
    }
</style>

{{ form_start(form) }}

<div class="page-block col-md-10 m-auto">
    <div class="row">
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Client</label>
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.client,{"attr":{"class":"form-control form-control-sm-2","autofocus":"on"}}) }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels required">Nom du chantier</label>
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.nomChantier,{"attr":{"class":"form-control form-control-sm-2","autofocus":"on","placeholder":"Nom du chantier"}}) }}
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Adresse 1</label>
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.adresse1,{"attr":{"class":"form-control form-control-sm-2","placeholder":"Adresse postale"}}) }}
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Complément d'adresse</label>
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.adresse2,{"attr":{"class":"form-control form-control-sm-2","placeholder":"Adresse postale"}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Intermediaire</label>
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.intermediaire,{"attr":{"class":"form-control form-control-sm-2"}}) }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                </div>
                <div class="col-md-9 form-control-sm-2 bg-white">
                </div>
            </div>


            <div class="row mt-2" style="justify-content: flex-end;">
                <div class="col-md-6 row">
                    <div class="col-md-4 text-end">
                        <label class="labels">Code postal</label>
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.codePostal,{"attr":{"class":"form-control form-control-sm-2","placeholder":"Code postal"}}) }}
                    </div>
                </div>


                <div class="col-md-6 row">
                    <div class="col-md-4 text-end">
                        <label class="labels">Ville</label>
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.ville,{"attr":{"class":"form-control form-control-sm-2","placeholder":"Ville"}}) }}
                    </div>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Pays</label>
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.pays,{"attr":{"class":"form-control form-control-sm-2","placeholder":"Pays"}}) }}
                </div>
            </div>


        </div>

    </div>
</div>


<div class="page-block col-md-10 m-auto mt-4">


    <div class="demande_typeEchafaudage">
        <label class="control-label required">Type d'échafaudage</label>
        <section>
            {% for child in form.typeEchafaudage %}
                <div>
                    <input type="radio" id="{{ child.vars.id }}"
                           name="{{ form.vars.id ~ '[' ~ form.typeEchafaudage.vars.name ~ ']' }}" required="required"
                           class="te"
                           value="{{ child.vars.label }}">
                    <label for="{{ child.vars.id }}" class="te-label required mt-2">
                        {{ child.vars.label }}
                    </label>
                </div>
            {% endfor %}
        </section>
    </div>

</div>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-end">
            <div class="p-3 py-5">
                <div class="text-dark mb-3">
                    <h4 class="text-center">Fiche 1 </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12"><label class="labels"></label>
                    </div>
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-12">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 border-end">
            <div class="p-3 py-5">
                <div class="text-dark mb-3 " id="form-container">
                    <h4 class="text-center">Échafaudage</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">

                <div class="col-md-12"><label class="labels">Commentaire</label>
                    {{ form_widget(form.commentaire,{"attr":{"class":"form-control","placeholder":"Commentaire"}}) }}
                </div>
                <br>

            </div>
        </div>
    </div>

</div>

{{ form_end(form) }}


<script>


    $('#demande_typeEchafaudage').change(function () {
        $('.form-container').remove();
        var path = "{{ path('app_demande_form') }}";
        $.post(path, {data: $("input[name='demande[typeEchafaudage]']:checked").val()}, function (data) {
            $('#form-container').append(JSON.parse(data).message);
        })

    });

    $(document).on("change", "input[name='demande[documentsSouhaites][]']", function () {

        let arr = [];
        $.each($("input[name='demande[documentsSouhaites][]']:checked"), function () {
            arr.push($(this).val());
        });

        if (arr.includes("Autre") && $('#demande_documentsSouhaites_2_autre').length === 0) {
            let div = `<div class="col-md-6 row">
                                <input type="text" id="demande_documentsSouhaites_2_autre"
                                       name="demande[documentsSouhaites][]"
                                       class="form-control">
                       </div>`;
            $('#demande_documentsSouhaites').append(div);

        } else if (!arr.includes("Autre") && $('#demande_documentsSouhaites_2_autre').length > 0) {

            $('#demande_documentsSouhaites_2_autre').parent().remove();

        }
    });


    $(document).on("change", "input[name='demande[travauxPrevus][]']", function () {
        let arr = [];
        $.each($("input[name='demande[travauxPrevus][]']:checked"), function () {
            arr.push($(this).val());
        });
        console.log(arr)
        if (arr.includes("Autre") && $('#demande_travauxPrevus_autre').length === 0) {
            let div = `     <div class="col-md-6">
                                <input type="text" id="demande_travauxPrevus_autre" name="demande[travauxPrevus][]" class="form-control">
                            </div>`;
            $('#demande_travauxPrevus').append(div);

        } else if (!arr.includes("Autre") && $('#demande_travauxPrevus_autre').length > 0) {
            $('#demande_travauxPrevus_autre').parent().remove();
        }
    });


    $(document).on("change", "input[name='demande[typeDeMateriel]']", function () {
        if ($("input[name='demande[typeDeMateriel]']:checked").val() === "Universel" || $("input[name='demande[typeDeMateriel]']:checked").val() === "Eurofacadacier"
            || $("input[name='demande[typeDeMateriel]']:checked").val() === "Couvralu" || $("input[name='demande[typeDeMateriel]']:checked").val() === "Couvralu XL"
            || $("input[name='demande[typeDeMateriel]']:checked").val() === "Fixe" || $("input[name='demande[typeDeMateriel]']:checked").val() === "Roulant"
        ) {
            $('#demande_typeDeMateriel_autre').remove();
        } else if ($('#demande_typeDeMateriel_autre').length === 0) {
            let div = `<input type="text" id="demande_typeDeMateriel_autre" name="demande[typeDeMateriel]" required="required" class="form-control">`;
            $('#demande_typeDeMateriel').append(div);
        }
    });

    $(document).on("change", "input[name='demande[ammarages][]']", function () {
        let arr = [];
        $.each($("input[name='demande[ammarages][]']:checked"), function () {
            arr.push($(this).val());
        });
        if (arr.includes("Autre") && $('#demande_ammarages_autre').length === 0) {
            let div = `<input type="text" id="demande_ammarages_autre" name="demande[ammarages][]" required="required"   class="form-control">`;
            $('#demande_ammarages').append(div);
        } else if (!arr.includes("Autre") && $('#demande_ammarages_autre').length > 0) {
            $('#demande_ammarages_autre').remove();
        }
    });

    $(document).on("change", "input[name='demande[largeurDeTravail]']", function () {

        if ($("input[name='demande[largeurDeTravail]']:checked").val() === "0.4" || $("input[name='demande[largeurDeTravail]']:checked").val() === "1"
        ) {
            $('#demande_largeur_de_travail_autre').remove();
        } else if ($('#demande_largeur_de_travail_autre').length === 0) {
            let div = `<input type="text" id="demande_largeur_de_travail_autre" name="demande[largeurDeTravail]" required="required"  class="form-control">`;
            $('#demande_largeur_de_travail').append(div);
        }
    });

    $(document).on("change", "input[name='demande[consoles]']", function () {
        if ($("input[name='demande[consoles]']:checked").val() === "0.4" || $("input[name='demande[consoles]']:checked").val() === "0.7"
        ) {
            $('#demande_consoles_autre').remove();
        } else if ($('#demande_console_autre').length === 0) {
            let div = `<input type="text" id="demande_consoles_autre" name="demande[consoles]" required="required"  class="form-control">`;
            $('#demande_consoles').append(div);
        }
    });

    $(document).on("change", "input[name='demande[distanceALaFacade]']", function () {
        if ($("input[name='demande[distanceALaFacade]']:checked").val() === "0.2") {
            $('#demande_distance_a_la_facade_autre').remove();
            let div = `
                    <div id="demande_rapport_distance_a_la_facade">
                        <input type="radio" id="demande_rapport_distance_a_la_facade_0" name="demande[rapportDistanceALaFacade]" required="required" value="Par rapport au brut">
                        <label for="demande_rapport_distance_a_la_facade_0" class="required">Par rapport au brut</label>

                        <input type="radio" id="demande_rapport_distance_a_la_facade_1" name="demande[rapportDistanceALaFacade]" required="required" value="Par rapport au fini">
                        <label for="demande_rapport_distance_a_la_facade_1" class="required">Par rapport au fini</label>

                        <input type="radio" id="demande_rapport_distance_a_la_facade_2" name="demande[rapportDistanceALaFacade]" required="required" value="Autre">
                        <label for="demande_rapport_distance_a_la_facade_2" class="required">Autre</label>
                    </div>
            `;
            $('#demande_distance_a_la_facade').parent().append(div);

        } else if ($('#demande_distance_a_la_facade_autre').length === 0) {
            let div = `<input type="text" id="demande_distance_a_la_facade_autre" name="demande[distanceALaFacade]" required="required"  class="form-control">`;
            $('#demande_distance_a_la_facade').append(div);
            $('#demande_rapport_distance_a_la_facade').remove();

        }
    });


    $(document).on("change", "input[name='demande[equipements][]']", function () {

        let arr = [];
        $.each($("input[name='demande[equipements][]']:checked"), function () {
            arr.push($(this).val());
        });

        if (arr.includes("Passage piéton") && $('#demande_largeur_pssage_pieton').length === 0) {
            let div = `
                  <div id="demande_largeur_pssage_pieton" class="equipement_sous_param">
                    <input type="radio" id="demande_largeur_pssage_pieton_0" name="demande[largeurPassagePieton]" required="required" value="0.7">
                    <label for="demande_largeur_pssage_pieton_0" class="required">Largeur 0,7 m</label>

                    <input type="radio" id="demande_largeur_pssage_pieton_1" name="demande[largeurPassagePieton]" required="required" value="1">
                    <label for="demande_largeur_pssage_pieton_1" class="required">Largeur 1 m</label>

                    <input type="radio" id="demande_largeur_pssage_pieton_2" name="demande[largeurPassagePieton]" required="required" value="1.5">
                    <label for="demande_largeur_pssage_pieton_2" class="required">Largeur 1,5 m</label>

                    <input type="radio" id="demande_largeur_pssage_pieton_3" name="demande[largeurPassagePieton]" required="required" value="Autre">
                    <label for="demande_largeur_pssage_pieton_3" class="required">Autre</label>
                </div>
            `;
            $('#demande_equipements').parent().append(div);
        } else if (!arr.includes("Passage piéton") && $('#demande_largeur_pssage_pieton').length > 0) {
            $('#demande_largeur_pssage_pieton').remove();
        }


        if (arr.includes("Protection couvreur") && $('#demande_protection_couvreur').length === 0) {
            let div = `
                  <div id="demande_protection_couvreur" class="equipement_sous_param">
                    <input type="radio" id="demande_protection_couvreur_0" name="demande[protectionCouvreur]" required="required" value="En moise">
                    <label for="demande_protection_couvreur_0" class="required">En moise</label>

                    <input type="radio" id="demande_protection_couvreur_1" name="demande[protectionCouvreur]" required="required" value="Grillagée">
                    <label for="demande_protection_couvreur_1" class="required">Grillagée</label>
                </div>
            `;
            $('#demande_equipements').parent().append(div);
        } else if (!arr.includes("Protection couvreur") && $('#demande_protection_couvreur').length > 0) {
            $('#demande_protection_couvreur').remove();
        }
    });

    $(document).on("change", "input[name='demande[largeurPassagePieton]']", function () {
        if ($("input[name='demande[largeurPassagePieton]']:checked").val() === "0.7" || $("input[name='demande[largeurPassagePieton]']:checked").val() === "1"
            || $("input[name='demande[largeurPassagePieton]']:checked").val() === "1.5") {
            $('#demande_protection_couvreur_autre').remove();
        } else if ($('#demande_protection_couvreur_autre').length === 0) {
            let div = `<input type="text" id="demande_protection_couvreur_autre" name="demande[largeurPassagePieton]" required="required"  class="form-control">`;
            $('#demande_largeur_pssage_pieton').append(div);
        }
    });

    $(document).on("change", "input[name='demande[acces]']", function () {
        if ($("input[name='demande[acces]']:checked").val() === "Volée alu à palier incorporé" || $("input[name='demande[acces]']:checked").val() === "Planche à trappe") {
            $('#demande_acces_autre').remove();
        } else if ($('#demande_protection_couvreur_autre').length === 0) {
            let div = `<input type="text" id="demande_acces_autre" name="demande[acces]" required="required"  class="form-control">`;
            $('#demande_acces').append(div);
        }
    });

    $(document).on("change", "input[name='demande[bache][]']", function () {

        let arr = [];
        $.each($("input[name='demande[bache][]']:checked"), function () {
            arr.push($(this).val());
        });

        if (arr.includes("Themee") && $('#demande_bache_2_themee').length === 0) {
            let div = `<div class="col-md-6 row">
                                <input type="text" id="demande_bache_2_themee"
                                       name="demande[bache][]"
                                       class="form-control">
                       </div>`;
            $('#demande_bache').append(div);

        } else if (!arr.includes("Themee") && $('#demande_bache_2_themee').length > 0) {

            $('#demande_bache_2_themee').parent().remove();

        }
    });

    /*$(document).on("change", "input[name='demande[finitionPlancher]']", function () {
        if ($("input[name='demande[finitionPlancher]']:checked").val() === "Planchers acier" || $("input[name='demande[finitionPlancher]']:checked").val() === "Planchers scenes")
            || $("input[name='demande[finitionPlancher]']:checked").val() === "Planchers combi")
        {
            $('#finitionPlancher').remove();
        } else if ($('#demande_finitionPlancher_autre').length === 0) {
            let div = `<input type="text" id="demande_finitionPlancher_autre" name="demande[finitionPlancher]" required="required"  class="form-control">`;
            $('#finitionPlancher').append(div);
        }
    });*/


</script>