{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}


    <style>
        table {
            overflow: auto;
        }
        .btn-info-2 {
            background: #17a2b8 !important;
            border-color: #17a2b8 !important;
            color: #fff !important;
            font-size: .7rem !important;
        }

    </style>


    <button class="btn btn-info-2 mb-4" id="vue" value='{{ 'demandeIndex' in app.user.vue|keys  and app.user.vue['demandeIndex'] == "DemandeVueCommerciale" ? "commerciale" : "globale" }}'>
        {{ 'demandeIndex' in app.user.vue|keys and app.user.vue['demandeIndex'] == "DemandeVueCommerciale" ? "Vue globale": "Vue commerciale" }}
    </button>
    <div id="globale">

        <table class="table datatable text-center">
            <thead>
            <tr class="tr-head text-center">
                <th>N°Demande</th>
                <th>Nom Chantier</th>
                <th>Type d'Échafaudage</th>
                <th>Client</th>
                <th>Maitre d'ouvrage</th>
                <th>Intermediaire</th>
                <th>Date</th>
                <th>CP</th>
                <th>Ville</th>
                <th>Statut</th>
                <th>Par</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>
                    <td><a href="{{ path('app_demande_show', {'id': demande.id}) }}">{{ demande.id }}</a></td>
                    <td><a href="{{ path('app_demande_show', {'id': demande.id}) }}">{{ demande.nomChantier }}</a></td>
                    <td>{{ demande.typeEchafaudage }}</td>
                    <td>
                        {% if demande.client is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.client.id}) }}"> {{ demande.client.societe ? demande.client.societe.raisonSociale : demande.client.personne.nom~" "~demande.client.personne.prenom }}</a>
                        {% endif %}
                    </td>
                    <td>{% if demande.intermediaire is not empty %}<a
                            href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.intermediaire.id}) }}"> {{ demande.intermediaire.societe ? demande.intermediaire.societe.raisonSociale : demande.intermediaire.personne.nom~" "~demande.intermediaire.personne.prenom }} </a>
                        {% endif %}
                    </td>
                    <td>{% if demande.maitreDOuvrage is not empty %}<a
                            href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.maitreDOuvrage.id}) }}"> {{ demande.maitreDOuvrage.societe ? demande.maitreDOuvrage.societe.raisonSociale : demande.maitreDOuvrage.personne.nom~" "~demande.maitreDOuvrage.personne.prenom }} </a>
                        {% endif %}
                    </td>
                    <td>{{ demande.date }}</td>
                    <td>{{ demande.codePostal }}</td>
                    <td>{{ demande.ville }}</td>
                    <td>{{ demande.statut }}</td>
                    <td>{{ demande.createur.lastname~" "~demande.createur.firstname }}</td>


                    <td>
                        {% if demande.lienGed is not empty %}
                            <a href="{{ demande.lienGed }}" target="_blank">        <i class="bi bi-files" style="font-size: 1.5rem;"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div id="commerciale">


        <table class="table datatable text-center">
            <thead>
            <tr class="tr-head text-center">
                <th>Statut</th>
                <th>A relancer Le</th>
                <th>N°Demande</th>
                <th>Client</th>
                <th>Nom chantier</th>
                <th>CP</th>
                <th>Ville</th>
                <th>Interlocuteur</th>
                <th>Tel</th>
                <th>Date du Devis</th>
                <th>Commentaire</th>
                <td></td>

            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr class="text-center">
                    <td>
                        <a href="{{ path('app_demande_show', {'id': demande.id}) }}">
                            <div class="badge "
                                 style="font-size:1em;background:{{ demande.statutCommercial is not empty ? demande.statutCommercial.couleurBG : '' }};color: {{ demande.statutCommercial is not empty ? demande.statutCommercial.couleur : '' }};">{{ demande.statutCommercial }}</div>
                        </a>
                    </td>
                    <td></td>
                    <td><a href="{{ path('app_demande_show', {'id': demande.id}) }}">{{ demande.reference }}</a></td>
                    <td>
                        {% if demande.client is not empty %}
                            <a href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.client.id}) }}"> {{ demande.client.societe ? demande.client.societe.raisonSociale : demande.client.personne.nom~" "~demande.client.personne.prenom }}</a>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('app_demande_show', {'id': demande.id}) }}">{{ demande.nomChantier }}</a></td>
                    <td>{{ demande.codePostal }}</td>
                    <td>{{ demande.ville }}</td>
                    <td>
                        {% if demande.contactPrincipalClient is not empty %}
                            <a href="{{ path('app_contact_contact_show',{'id':demande.contactPrincipalClient.id}) }}">
                                {{ demande.contactPrincipalClient.nom~" "~demande.contactPrincipalClient.prenom }}
                            </a>
                        {% endif %}
                    </td>

                    <td>
                        {% if demande.contactPrincipalClient is not empty %}
                            {{ demande.contactPrincipalClient.telephoneMobile is not empty ? demande.contactPrincipalClient.telephoneMobile : demande.contactPrincipalClient.telephone }}
                        {% endif %}
                    </td>
                    <td></td>

                    <td>

                        {% if demande.conversationClient is not empty %}
                            {% set content = demande.conversationClient.messages|last %}
                            {% if content.message is defined %}
                                <a href="{{ path('app_demande_show', {'id': demande.id,'menu':'commentaires-tab'}) }}">
                                    {{ content.message }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>
                        {% if demande.lienGed is not empty %}
                            <a href="{{ demande.lienGed }}" target="_blank">        <i class="bi bi-files" style="font-size: 1.2rem;"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        $('#vue').click(function () {
            console.log($(this).val())

            setVue();
        })

        function setVue(){
            if ($('#vue').val() === "globale") {
                $('#commerciale').slideDown();
                $('#globale').slideUp();
                $('#vue').val('commerciale');
                $('#vue').text('Vue globale')
                vue('DemandeVueCommerciale')
            } else if ($('#vue').val() === "commerciale") {
                $('#commerciale').slideUp();
                $('#globale').slideDown();
                $('#vue').val('globale');
                $('#vue').text('Vue commerciale')
                vue('DemandeVueGlobal')
            }
        }
        if ($('#vue').val() === "globale") {
            $('#commerciale').slideUp();
            $('#globale').slideDown();
        } else if ($('#vue').val() === "commerciale") {
            $('#commerciale').slideDown();
            $('#globale').slideUp();
        }
            function vue(val){
            const url ='/user/vue/'+val+'/demandeIndex';
            $.post(url,function (response) {
                console.log(JSON.parse(response));
            })
        }
    </script>
{% endblock %}
