{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}

    <table class="table datatable text-center">
        <thead>
            <tr class="tr-head text-center">
                <th>N°</th>
                <th>NomChantier</th>
                <th>Type d'Échafaudage</th>
                <th>Client</th>
                <th>Maitre d'ouvrage</th>
                <th>Intermediaire</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>CP</th>
                <th>Par</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr >
                <td><a href="{{ path('app_demande_show', {'id': demande.id}) }}">{{ demande.id }}</a></td>
                <td><a href="{{ path('app_demande_show', {'id': demande.id}) }}">{{ demande.nomChantier }}</a></td>
                <td>{{ demande.typeEchafaudage }}</td>
                <td><a href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.client.id}) }}"> {{ demande.client.societe ? demande.client.societe.raisonSociale : demande.client.personne.nom~" "~demande.client.personne.prenom }}</a></td>
                <td>{%  if demande.intermediaire is not empty %}<a href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.intermediaire.id}) }}"> {{ demande.intermediaire.societe ? demande.intermediaire.societe.raisonSociale : demande.intermediaire.personne.nom~" "~demande.intermediaire.personne.prenom }} </a>{% endif %}</td>
                <td>{%  if demande.maitreDOuvrage is not empty %}<a href="{{ path('app_interlocuteur_interlocuteur_show',{'id':demande.maitreDOuvrage.id}) }}"> {{ demande.maitreDOuvrage.societe ? demande.maitreDOuvrage.societe.raisonSociale : demande.maitreDOuvrage.personne.nom~" "~demande.maitreDOuvrage.personne.prenom }} </a>{% endif %}</td>
                <td>{{ demande.date }}</td>
                <td>{{ demande.adresse2 }}</td>
                <td>{{ demande.ville }}</td>
                <td>{{ demande.codePostal }}</td>
                <td>{{ demande.createur.lastrname~" "~demande.createur.firstname }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
