{% extends 'base.html.twig' %}

{% block title %}Demande N°{{ demande.id }}{% endblock %}

{% block body %}

    <style>
        .labels {
            font-size: 11px;
            color: #0d4377;
            font-weight: bold;
        }

        .bg-leasy {
            background: #e2e8ed;
            border-radius: 5px;

        }

        #mySideButton span {
            position: absolute;
            right: -230px;
            top: 15%;
            transition: 0.3s;
            padding: 50px;
            text-decoration: none;
            color: white;
            border-radius: 0 5px 5px 0;
            background-color: #11caf0;
            font-size: 150%;
            height: auto;
        }

        #mySideButton span:hover {
            right: 0;
            background-color: #11caf0;
        }

        /*.add-button {
            width: 55%;
            height: 45px;
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #2bc3f2;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }

        .add-button:hover {
            background-color: #0e3155;
            box-shadow: 0px 15px 20px rgba(43, 195, 241, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }*/
    </style>

    <div class="col-md-10 m-auto row justify-content-around mb-4">
        <div class="col-md-3 row">
            <div class="col-md-auto labels">
                Statut
            </div>
            <div class="col-md-auto form-control-sm-2 labels">
                {{ demande.statut }}
            </div>
        </div>

        <div class="col-md-3 row">
            <div class="col-md-auto labels">
                Statut commercial
            </div>
            <div class="col-md-auto form-control-sm-2 labels">
                {{ demande.statutCommercial }}
            </div>
        </div>

        <div class="col-md-3 row">
            <div class="col-md-auto labels">
                Createur
            </div>
            <div class="col-md-auto form-control-sm-2 labels">
                {{ demande.createur.lastname~" "~demande.createur.firstname }}
            </div>
        </div>

    </div>
    <div class="page-block col-md-10 m-auto">
        <div class="row">
            <div class="col-md-6">
                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Client</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.client.societe ? demande.client.societe.raisonSociale : demande.client.personne.nom }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels required">Contact Principal Client</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.contactPrincipalClient is not empty ? demande.contactPrincipalClient.nom~" "~demande.contactPrincipalClient.prenom : "NC" }}
                    </div>
                </div>

                {% if demande.maitreDOuvrage is not empty %}
                    <div class="row mt-2">
                        <div class="col-md-3 text-end">
                            <label class="labels">Maitre D'ouvrage</label>
                        </div>
                        <div class="col-md-9 form-control-sm-2">
                            {{ demande.maitreDOuvrage.societe ? demande.maitreDOuvrage.societe.raisonSociale : demande.maitreDOuvrage.personne.nom }}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3 text-end">
                            <label class="labels required">Contact Principal maitre d'ouvrage</label>
                        </div>
                        <div class="col-md-9 form-control-sm-2">
                            {{ demande.contactPrincipalMaitreDOuvrage is not empty ? demande.contactPrincipalMaitreDOuvrage.nom~" "~demande.contactPrincipalMaitreDOuvrage.prenom : "NC" }}
                        </div>
                    </div>
                {% endif %}


                {% if demande.intermediaire is not empty %}
                    <div class="row mt-2">
                        <div class="col-md-3 text-end">
                            <label class="labels">Intermediaire</label>
                        </div>
                        <div class="col-md-9 form-control-sm-2">
                            {{ demande.intermediaire.societe ? demande.intermediaire.societe.raisonSociale : demande.intermediaire.personne.nom }}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3 text-end">
                            <label class="labels required">Contact Principal intermédiaire</label>
                        </div>
                        <div class="col-md-9 form-control-sm-2">
                            {{ demande.contactPrincipalClient is not empty ? demande.contactPrincipalClient.nom~" "~demande.contactPrincipalClient.prenom : "NC" }}
                        </div>
                    </div>
                {% endif %}

                {% if demande.contactsSecondaires is not empty %}
                    <div class="row mt-2">
                        <div class="col-md-3 text-end">
                            <label class="labels">Contacts Secondaires</label>
                        </div>
                        <div class="col-md-9 bg-leasy">
                            {% for contact in demande.contactsSecondaires %}
                                {{ contact.nom~" "~contact.prenom }}<br>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

            </div>


            <div class="col-md-6">

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels required">Nom du chantier</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.nomChantier }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Adresse</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.adresse1 }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Complément d'adresse</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.adresse2 }}
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Code postal</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.codePostal }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Ville</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.ville }}
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Pays</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.pays }}
                    </div>
                </div>
            </div>

        </div>
    </div>




    <div class="page-block col-md-10 m-auto mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row mt-1">
                    <div class="col-md-3 text-end">
                        <label class="labels">Type de préstation</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.typeDePrestation }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Documents souhaités </label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.documentsSouhaites|join('-') }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Fonds de plan </label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.fondsDePlan }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Travaux prevus </label>
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {{ demande.travauxPrevus|join('\n')|nl2br }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Classe d'échafaudage </label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.ClasseDEchaffaudage }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Type de materiel</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.TypeDeMateriel }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Dimensions globales :</label>
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {{ demande.dimensionsGlobales|join('\n')|nl2br }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels">Ammarages</label>
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {{ demande.ammarages|join('\n')|nl2br }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Largeur de travail</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.LargeurDeTravail }}
                    </div>
                </div>

            </div>

            <div class="col-md-6">


                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Consoles</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.consoles }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Distance à la façade</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.distanceALaFacade }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Hauteur des planchers</label>
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {% for key,value in demande.hauteurDesPlanchers %}
                            <div> {{ key~" : "~value }} </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Équipements</label>
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {% for key,value in demande.equipements %}
                            <div>
                                {% if value == "Passage piéton" %}
                                    {{ value~" : "~demande.largeurPassagePieton }}
                                {% elseif value == "Protection couvreur" %}
                                    {{ value~" : "~demande.protectionCouvreur }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Accés</label>
                    </div>
                    <div class="col-md-9 form-control-sm-2">
                        {{ demande.acces }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels"> Bâche et filet </label>
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {% for key,value in demande.bacheEtFilet %}
                            <div>
                                {{ key~" : "~value }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                    </div>
                    <div class="col-md-9 bg-leasy">
                        {% for key,value in demande.bache %}
                            <div>
                                {{ value }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="page-block col-md-10 m-auto mt-4">
        <div class="row mt-2">
            <div class="col-md-auto text-end">
                Commentaire
            </div>
            <div class="col-md-10 bg-leasy">
                {{ demande.commentaire|nl2br }}
            </div>
        </div>

    </div>


    <div id="button" class="page-block col-md-10 m-auto mt-4">
        <div class="col-md-6 m-auto row mt-2">
            <div class="col-md-5 text-end">
                Date de création
            </div>
            <div class="col-md-auto bg-leasy">
                {{ demande.createdAt|date('d/m/y H:i:s') }}
            </div>
        </div>

        <div class="col-md-6 m-auto row mt-2">
            <div class="col-md-5 text-end">
                Date de la dernière modification
            </div>
            <div class="col-md-auto bg-leasy">
                {{ demande.updatedAt|date('d/m/y H:i:s') }}
            </div>
            <div id="mySideButton"><span class="border px-3 p-1 add-evenement add-button"><i
                       class="fa fa-plus"></i>  Ajouter une nouvelle tâche</span>
            </div>
        </div>

    </div>

    <script>

        $('.add-evenement').click(function () {
            if ($('#add-evenement').length > 0) {
                $("#add-evenement").modal('show');

            } else {
                var path = "{{ path('app_affaire_evenement_new_modal') }}";

                $.get(path, function (data) {
                    $('body').append(JSON.parse(data).message);
                    $("#add-evenement").modal('show');
                })
            }
        })


    </script>
{% endblock %}
