<!-- Modal -->
<div class="modal fade modal-ouvrage" id="modal-import-ouvrage" tabindex="-1"
     aria-labelledby="modal-import-ouvrage-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="return submitImportOuvrageEvent(event)" name="modal-import-ouvrage">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-import-ouvrage-label">Ajout d'un ouvrage au sous-lot ou au
                        lot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Veuillez sélectionner un ou plusieurs ouvrages à associer au lot ou au sous-lot. Le déboursé de
                        l'ouvrage sera modifié lors de cet ajout dans la bibliothèque de prix. Les devis existants ne
                        seront pas impactés.
                    </p>
                    <div class="row">

                        <table class="table datatable" id="table-ouvrage" style="background: white;">
                            <thead>
                            <tr class="tr-head">
                                <th></th>
                                <th>Dénomination</th>
                                <th>Code</th>
                                <th>Unité</th>
                                <th>Déboursé Unitaire HT</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for ouvrage in ouvrages %}
                                <tr class="text-center">
                                    <td><input type="checkbox" name="ouvrage_{{ ouvrage.id }}" value="{{ ouvrage.id }}"
                                               class="check-ouvrage"/>
                                    </td>
                                    <td onclick="document.location = ' {{ path('app_affaire_ouvrage_show',{'id':ouvrage.id}) }}';">{{ ouvrage.denomination }}</td>
                                    <td onclick="document.location =' {{ path('app_affaire_ouvrage_show',{'id':ouvrage.id}) }}';">{{ ouvrage.code }}</td>
                                    <td onclick="document.location =' {{ path('app_affaire_ouvrage_show',{'id':ouvrage.id}) }}';">{{ ouvrage.unite }}</td>
                                    <td onclick="document.location =' {{ path('app_affaire_ouvrage_show',{'id':ouvrage.id}) }}';">{{ ouvrage.prixUnitaireDebourse|number_format(2,'.',' ') }}
                                        €
                                    </td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">Aucun ouvrage trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ouvrage-button" id="add-ouvrage">Créer un ouvrage</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                    <button type="submit" class="btn btn-primary import-ouvrage" onclick="return $(this).hide()">Importer</button>

                    <div class="spinner-border text-primary form-submit-loader" role="status" style="display: none;">
                        <span class="sr-only">.</span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none;" id="ouvrage-import-success">
                        Les ouvrages sélectionnés ont été importés avec success
                    </div>
                    <div class="alert alert-danger" role="alert" style="display: none;" id="ouvrage-import-danger">
                        erreur lors de l'importation des ouvrages veuillez recharger la page
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
