<!-- Modal -->
<div class="modal fade modal-composant" id="modal-import-composant" tabindex="-1" aria-labelledby="modal-import-composant-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="return submitImportComposantEvent(event)" name="modal-import-composant">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-import-composant-label">Ajout d'un composant à l'ouvrage</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Veuillez sélectionner un ou plusieurs composant à associer à l'ouvrage. Le déboursé de l'ouvrage sera modifié lors de cet ajout dans la bibliothèque de prix. Les devis existants ne seront pas impactés.
                    </p>
                    <div class="row">

                        <table class="table datatable" id="table-composant" style="background: white;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Type</th>
                                <th>Code</th>
                                <th>Intitulé</th>
                                <th>Unité</th>
                                <th>Déboursé Unitaire HT</th>
                                <th>Marge</th>
                                <th>Prix de vente</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for composant in composants %}
                                <tr class="pointer">
                                    <td><input type="checkbox" name="composant_{{ composant.id }}" value="{{ composant.id }}" class="check-composant"/></td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';"><span class="badge badge-pill"  style="background:{{ composant.typeComposant.couleur }};color:{{ composant.typeComposant.couleurText is not empty ? composant.typeComposant.couleurText : "white"   }}; ">{{ composant.typeComposant.titre }}</span> </td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';">{{ composant.code }}</td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';">{{ composant.intitule }}</td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';">{{ composant.unite }}</td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';">{{ composant.debourseUnitaireHT|number_format(2,'.',' ') }} €</td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';">{{ composant.marge|number_format(2,'.',' ') }}  %</td>
                                    <td onclick="document.location =' {{ path('app_affaire_composant_show',{'id':composant.id}) }}';">{{ composant.prixDeVente|number_format(2,'.',' ') }} €</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">aucun composant trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                    <button type="submit" class="btn btn-primary" onsubmit="">Importer ce composant</button>
                </div>

            </form>

        </div>
    </div>
</div>
