<!-- Modal -->
<div class="modal fade modal-ouvrage" id="modal-import-ouvrage" tabindex="-1"
     aria-labelledby="modal-import-ouvrage-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="validateForm()" name="modal-import-ouvrage" id="form-{{ ouvrage.id }}" methods="POST">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-import-ouvrage-label">Ajout d'un ouvrage au sous-lot ou au
                        lot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6">
                        Veuillez renseigner tous les champs afin de pouvoir créer votre ouvrage.
                    </p>

                    <div class="row my-5 justify-content-center align-items-center">

                        <div class="col-md-5">
                            <input type="text" input="denomination" value="{{ ouvrage.denomination }}"
                                   required="required" name="attribut[denomination]"
                                   maxlength="30" class="chakra-input select-ouvrage text-center placeholder-italic"
                                   placeholder="Dénomination de l'ouvrage"
                                   id="devis_ouvrages_{{ ouvrage.id }}_denomination_modal">
                        </div>

                        <div class="col-md-2">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <input type="text" maxlength="255"
                                           id="devis_ouvrages_{{ ouvrage.id }}_quantite"
                                           value="{{ ouvrage.quantite }}"
                                           class="chakra-input select-ouvrage text-center fw-bold numbers"
                                           name="attribut[quantite]"
                                           placeholder="quantité">
                                </div>
                                <div class="col-md-4 fw-bold" style="padding: inherit; margin-left: inherit;">
                                    m²
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <input type="text" maxlength="255"
                                           id="devis_ouvrages_{{ ouvrage.id }}_quantite"
                                            {% for composant in ouvrage.composants %}
                                                {% if composant.TypeComposant.code is same as "L" %}
                                                    value="{{ composant.quantite2 }}"
                                                {% endif %}
                                            {% endfor %}
                                           class="chakra-input select-ouvrage text-center fw-bold numbers"
                                           name="attribut[quantite2]"
                                           placeholder="quantité">
                                </div>
                                <div class="col-md-4 fw-bold" style="padding: inherit; margin-left: inherit;">
                                    J
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-end align-items-center">


                    </div>
                    <div step="1" class="mb-5">
                        <div class="col-md-3 custom-select" style="margin-right: auto; margin-left: auto">
                            {% set selected = false %}
                            <select class="chakra-input ouvrage-attribut select-ouvrage text-center select-type-ouvrage"
                                    name="attribut[TypeOuvrage]"
                                    id="type_ouvrage_{{ ouvrage.id }}" required="required">
                                <option {{ selected == false ? 'selected="true"' : '' }}
                                        class="text-center fst-italic"
                                        id="typeOuvrageDefaultOption"
                                        value="">
                                    Type d'ouvrage
                                </option>
                                {% for to in typeOuvrages %}
                                    {% if ouvrage.typeOuvrage == to %}
                                        <option class="text-center fw-bold" value="{{ to.id }}" code="{{ to.code }}"
                                                style="font-style: inherit" selected> {{ to }} </option>
                                        {% set selected = true %}
                                    {% else %}
                                        <option class="text-center fw-bold" value="{{ to.id }}"
                                                style="font-style: inherit"
                                                code="{{ to.code }}"> {{ to }} </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="tab step-2 {{ selected == true ? '' : 'd-none' }} mt-3 mb-5 row justify-content-center"
                         length="{{ typeOuvrages|length }}" step="2">
                        {% for to in typeOuvrages %}
                            {% for tab in to.attributOuvrages %}
                                {% if tab.attributOuvrageTrs is not empty %}
                                    <div class="col-md-2 mt-2 tab-after to-{{ to.id }} d-none text-center ouvrage-attribut-step-2">
                                        {% set selected = false %}
                                        <label class="labels"
                                               for="attribut-attributs-{{ tab.id }}">{{ tab.titre }}</label>
                                        <select name="attribut[attributs][{{ tab.titre }}]"
                                                id="attribut-attributs-{{ tab.id }}"
                                                class="fst-italic chakra-input text-center ouvrage-attribut select-ouvrage attribut-select-step2-{{ to.id }}"
                                                required="required">
                                            <option {{ selected == false ? 'selected="true"' : '' }}
                                                    value=""></option>
                                            {% for attribut in tab.attributOuvrageTrs %}
                                                {% if ouvrage.attributs is not empty and tab.titre in ouvrage.attributs|keys and ouvrage.attributs[tab.titre] == attribut.id %}
                                                    <option value="{{ attribut.id }}" selected
                                                            poids="{{ attribut.poidsKG is not empty ? attribut.poidsKG : 0 }}"
                                                            tps="{{ attribut.tps is not empty ? attribut.tps : 0 }}">
                                                        {{ attribut.titre }}
                                                        {% set selected = true %}
                                                    </option>
                                                {% else %}
                                                    <option value="{{ attribut.id }}"
                                                            poids="{{ attribut.poidsKG is not empty ? attribut.poidsKG : 0 }}"
                                                            tps="{{ attribut.tps is not empty ? attribut.tps : 0 }}">
                                                        {{ attribut.titre }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="mt-4 row m-auto justify-content-center align-items-center">
                        <div class="col-md-4" style="margin-left: auto">
                            <table class="table datatable text-center">
                                <thead>
                                <tr class="tr-head text-center">
                                    <th colspan="2" class="text-center col-md-6">Dénomination</th>
                                    <th class="text-center col-md-6">Déboursé U HT</th>
                                </tr>
                                </thead>

                                <tbody class="mt-4">
                                {% for composant in ouvrage.composants %}
                                    <tr class="composant-ouvrage-modal " id="element-{{ composant.id }}">
                                        <td class="col-md-1">
                                            <input id="{{ composant.typeComposant.code }}" type="checkbox"
                                                    {% if composant.selection %} checked {% endif %}
                                                   name="attribut[composantsSelect][{{ composant.id }}]">
                                        </td>
                                        <td class="col-md-5 text-start">
                                        <span class="fw-bold badge badge-pill"
                                              style="background:{{ composant.typeComposant.couleur }};line-height: 1em;font-size: 1em;padding: inherit ;border-radius: 5px;color:{{ composant.typeComposant.couleurText is not empty ? composant.typeComposant.couleurText : "white" }}; ">{{ composant.typeComposant.titre }}</span>
                                        </td>
                                        <td class="col-md-6">
                                            <div class="row align-items-center" style="margin-left: auto">
                                                <div class="col-md-6">
                                                    <input type="text"
                                                           style="border-bottom: inherit; color: #0e4377!important;; font-weight: bold"
                                                           id="devis_composants_{{ composant.id }}_debourseUnitaireHT_modal"
                                                           input="debourseUnitaireHT"
                                                           code="{{ composant.TypeComposant.code }}"
                                                           cadence="{{ composant.TypeComposant.cadence }}"
                                                            {% for ligne in composant.TypeComposant.tableDePrix %}
                                                                {{ ligne.typeOuvrage.code~"="~ligne.prix }}
                                                            {% endfor %}
                                                           value="{{ composant.debourseUnitaireHT }}"
                                                           name="attribut[composants][{{ composant.id }}]"
                                                           required="required" maxlength="255"
                                                           class="chakra-input numbers text-end td-prix-{{ ouvrage.id }}"
                                                           placeholder="Déboursé U HT"
                                                           value="0" readonly></div>
                                                <div class="col-md-3 text-start"
                                                     style="padding: inherit; color: #0e4377!important;; font-weight: bold">
                                                    € HT
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-4 zone-attributs justify-content-between">
                            <div class="col-md-12">
                                <div class="row align-items-center text-center">
                                    <div class="col-md-10">
                                        <input type="text" maxlength="255"
                                               id="devis_ouvrages_{{ ouvrage.id }}_poidsDeReference"
                                               value="{{ ouvrage.poidsDeReference }}"
                                               class="chakra-input select-ouvrage text-center fw-bold attributs"
                                               name="attribut[poidsDeReference]"
                                               placeholder="Poids de référence" readonly>
                                    </div>
                                    <div class="col-md-2 fw-bold text-start" style="padding: inherit; margin-left: inherit">
                                        kg/m²
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row align-items-center text-center">
                                    <div class="col-md-10">
                                        <input type="text" maxlength="255"
                                               id="devis_ouvrages_{{ ouvrage.id }}_tpsDeReference"
                                               value="{{ ouvrage.tpsDeReference|number_format(0, '.', '') }}"
                                               class="chakra-input select-ouvrage text-center fw-bold attributs"
                                               name="attribut[tpsDeReference]"
                                               placeholder="temps de référence" readonly>
                                    </div>
                                    <div class="col-md-2 fw-bold text-start" style="padding: inherit; margin-left: inherit;">
                                        kg/J/pers
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row align-items-center text-center">
                                    <div class="col-md-10" style="margin-bottom: inherit">
                                        <input type="text" maxlength="255"
                                               id="devis_ouvrages_{{ ouvrage.id }}_pourcentageTpsDeReference"
                                               value="{{ ouvrage.pourcentageTpsDeReference }}"
                                               class="chakra-input select-ouvrage text-center fw-bold attributs"
                                               name="attribut[pourcentageTpsDeReference]"
                                               placeholder="0" readonly>
                                    </div>
                                    <div class="col-md-2 fw-bold text-start" style="padding: inherit; margin-left: inherit;">
                                        <span style="font-size: 1.1rem">%</span> Tps
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>

                    <div class="spinner-border text-primary form-submit-loader" role="status"
                         style="display: none;">
                        <span class="sr-only">.</span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none;"
                         id="ouvrage-import-success">
                        Les ouvrages sélectionnés ont été importés avec success
                    </div>
                    <div class="alert alert-danger" role="alert" style="display: none;" id="ouvrage-import-danger">
                        Erreur lors de l'importation des ouvrages, veuillez recharger la page
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.select-type-ouvrage').change(function () {
            var selectElement = $(this);
            var defaultOption = $('#typeOuvrageDefaultOption');

            if (selectElement.val() === '') {
                defaultOption.parent().addClass('fst-italic').removeClass('fw-bold');
            } else {
                defaultOption.parent().removeClass('fst-italic').addClass('fw-bold');
            }
        });
    });

    $(document).ready(function () {

        $(".custom-select select").on("blur", function () {
            $(this).css("font-style", "inherit");
        });

        $(".custom-select select option").css("font-style", "normal");
    });

    $(document).ready(function () {
        var inputElement = $(`input[placeholder="Dénomination de l'ouvrage"]`);

        inputElement.focus(function () {
            inputElement.removeClass("placeholder-active");
        });

        inputElement.blur(function () {
            if (inputElement.val() === "") {
                inputElement.addClass("placeholder-active");
            }
        });
    })

    // supprimer les char non numerique
    $('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.\,]/g, '');
    });

</script>