<!-- Modal -->
<div class="modal fade modal-ouvrage" id="modal-import-ouvrage" tabindex="-1"
     aria-labelledby="modal-import-ouvrage-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="validateForm()" name="modal-import-ouvrage" id="form-{{ ouvrage.id }}" methods="POST">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-import-ouvrage-label">Ajout d'un ouvrage au sous-lot ou au
                        lot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Veuillez renseigner tous les champs afin de pouvoir créer votre ouvrage.
                    </p>

                    <div class="row my-5 justify-content-between align-items-center">

                        <div class="col-md-8">
                            <input type="text" input="denomination" value="{{ ouvrage.denomination }}"
                                   required="required" name="attribut[denomination]"
                                   maxlength="30" class="chakra-input select-ouvrage text-center"
                                   placeholder="Dénomination de l'ouvrage"
                                   id="devis_ouvrages_{{ ouvrage.id }}_denomination_modal">
                        </div>

                        <div class="col-md-2">
                            <div class="row align-items-center">
                                <div class="col-md-10">
                                    <input type="text" maxlength="255"
                                           id="devis_ouvrages_{{ ouvrage.id }}_poidsDeReference"
                                           value="{{ ouvrage.poidsDeReference }}"
                                           class="chakra-input select-ouvrage text-center"
                                           name="attribut[poidsDeReference]"
                                           placeholder="Poids de référence">
                                </div>
                                <div class="col-md-1" style="padding: inherit; margin-left: inherit">
                                    kg
                                </div>
                            </div>
                        </div>

                        <input type="text" maxlength="255" id="devis_ouvrages_{{ ouvrage.id }}_tpsDeReference"
                               value="{{ ouvrage.tpsDeReference }}"
                               class="chakra-input select-ouvrage text-center" name="attribut[tpsDeReference]"
                               placeholder="temps de référence" style="display: none;">

                        <div class="col-md-2">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <input type="text" maxlength="255"
                                           id="devis_ouvrages_{{ ouvrage.id }}_pourcentageTpsDeReference"
                                           value="{{ ouvrage.pourcentageTpsDeReference }}"
                                           class="chakra-input select-ouvrage text-center"
                                           name="attribut[pourcentageTpsDeReference]"
                                           placeholder="0">
                                </div>
                                <div class="col-md-4" style="padding: inherit; margin-left: inherit">
                                    <i class="bi bi-percent" style="font-size: 1rem"></i> TPS
                                </div>
                            </div>
                        </div>
                    </div>
                    <div step="1">
                        <div class="col-md-3" style="margin-right: auto; margin-left: auto">
                            {% set selected = false %}
                            <select class="chakra-input ouvrage-attribut select-ouvrage text-center"
                                    name="attribut[TypeOuvrage]"
                                    id="type_ouvrage_{{ ouvrage.id }}" required="required">
                                {% for to in typeOuvrages %}
                                    {% if ouvrage.typeOuvrage == to %}
                                        <option class="text-center" value="{{ to.id }}" code="{{ to.code }}"
                                                selected> {{ to }} </option>
                                        {% set selected = true %}
                                    {% else %}
                                        <option class="text-center" value="{{ to.id }}"
                                                code="{{ to.code }}"> {{ to }} </option>
                                    {% endif %}
                                {% endfor %}
                                <option {{ selected == false ? 'selected="true"' : '' }} class="text-center" value="">
                                    Type d'ouvrage
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="tab step-2 {{ selected == true ? "" : "d-none" }} mt-3 row justify-content-center"
                         length="{{ typeOuvrages|length }}" step="2">
                        {% for to in typeOuvrages %}
                            {% for tab in to.attributOuvrages %}
                                {% if tab.attributOuvrageTrs is not empty %}
                                    <div class="col-md-2 mt-2 tab-after to-{{ to.id }}  d-none  ouvrage-attribut-step-2">
                                        {% set selected = false %}
                                        <select name="attribut[attributs][{{ tab.titre }}]"
                                                class="chakra-input text-center ouvrage-attribut select-ouvrage attribut-select-step2-{{ to.id }}"
                                                required="required">
                                            {% for attribut in tab.attributOuvrageTrs %}
                                                {% if ouvrage.attributs is not empty and tab.titre in ouvrage.attributs|keys  and ouvrage.attributs[tab.titre] == attribut.id %}
                                                <option value="{{ attribut.id }}" selected
                                                        poids="{{ attribut.poidsKG is not empty ? attribut.poidsKG : 0 }}"
                                                        tps="{{ attribut.tps is not empty ?  attribut.tps : 0 }}">
                                                    {{ attribut.titre }}
                                                    {% set selected = true %}
                                                {% else %}
                                                    <option value="{{ attribut.id }}"
                                                            poids="{{ attribut.poidsKG is not empty ? attribut.poidsKG : 0 }}"
                                                            tps="{{ attribut.tps is not empty ?  attribut.tps : 0 }}">
                                                        {{ attribut.titre }}
                                                    </option>
                                                {% endif %}

                                            {% endfor %}
                                            <option {{ selected == false ? 'selected="true"' : '' }}
                                                    value="">  {{ tab.titre }} </option>
                                        </select>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="mt-4 col-md-11 m-auto">

                        <table class="table datatable text-center">
                            <thead>
                            <tr class="tr-head text-center">
                                <th colspan="2" class="text-center">Dénomination</th>
                                <th class="text-center">Déboursé U HT</th>
                            </tr>
                            </thead>

                            <tbody class="mt-4">
                            {% for composant in ouvrage.composants %}
                                <tr class="composant-ouvrage-modal " id="element-{{ composant.id }}">
                                    <td colspan="2"
                                        style="background:{{ composant.typeComposant.couleur }};line-height: 1em;font-size: 1em;color:{{ composant.typeComposant.couleurText is not empty ? composant.typeComposant.couleurText : "white" }}; ">
                                        {{ composant.typeComposant.titre }}
                                    </td>
                                    <td>

                                        <input type="text"
                                               id="devis_composants_{{ composant.id }}_debourseUnitaireHT_modal"
                                               input="debourseUnitaireHT"
                                               code="{{ composant.TypeComposant.code }}"
                                               cadence="{{ composant.TypeComposant.cadence }}"
                                                {% for ligne in composant.TypeComposant.tableDePrix %}
                                                    {{ ligne.typeOuvrage.code~"="~ligne.prix }}
                                                {% endfor %}
                                               value="{{ composant.debourseUnitaireHT }}"
                                               name="attribut[composants][{{ composant.id }}]"
                                               required="required" maxlength="255"
                                               class="chakra-input numbers text-center td-prix-{{ ouvrage.id }}"
                                               placeholder="Déboursé U HT"
                                               value="0">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>

                    <div class="spinner-border text-primary form-submit-loader" role="status" style="display: none;">
                        <span class="sr-only">.</span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none;" id="ouvrage-import-success">
                        Les ouvrages sélectionnés ont été importés avec success
                    </div>
                    <div class="alert alert-danger" role="alert" style="display: none;" id="ouvrage-import-danger">
                        Erreur lors de l'importation des ouvrages, veuillez recharger la page
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
