<!-- Modal -->
<div class="modal fade modal-ouvrage" id="modal-import-ouvrage" tabindex="-1"
     aria-labelledby="modal-import-ouvrage-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="validateForm()" name="modal-import-ouvrage" id="form-{{ ouvrage.id }}" methods="POST">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-import-ouvrage-label">Ajout d'un ouvrage au sous-lot ou au
                        lot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6">
                        Veuillez renseigner tous les champs afin de pouvoir créer votre ouvrage.
                    </p>

                    <div class="row justify-content-center align-items-center">

                        <div class="col-md-5">
                            <input type="text" input="denomination" value="{{ ouvrage.denomination }}"
                                   required="required" name="attribut[denomination]"
                                   maxlength="30" class="chakra-input select-ouvrage text-center placeholder-italic"
                                   placeholder="Dénomination de l'ouvrage"
                                   id="devis_ouvrages_{{ ouvrage.id }}_denomination_modal">
                        </div>

                        <div step="1" class="col-md-3">
                            <div class="custom-select" style="margin-right: auto; margin-left: auto">
                                {% set selected = false %}
                                <select class="chakra-input ouvrage-attribut select-ouvrage text-center select-type-ouvrage"
                                        name="attribut[TypeOuvrage]" id="type_ouvrage_{{ ouvrage.id }}"
                                        required="required"
                                        {{ ouvrage.typeOuvrage is not empty ? 'onmousedown="event.preventDefault();"' : '' }}>
                                    <option {{ selected == false ? 'selected="true"' : '' }}
                                            class="text-center fst-italic"
                                            id="typeOuvrageDefaultOption"
                                            value="">
                                        Type d'ouvrage
                                    </option>
                                    {% for to in typeOuvrages %}
                                        {% if ouvrage.typeOuvrage == to %}
                                            <option class="text-center fw-bold" value="{{ to.id }}"
                                                    code="{{ to.code }}"
                                                    {% for tdp in to.tableDePrix %}
                                                        {% if tdp.composant.code is same as 'M' %}
                                                            cadence="{{ tdp.cadence }}"
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if to.code in ['E', 'PAR', 'A'] %}
                                                        unite="m²"
                                                    {% else %}
                                                        unite="m&#xB3;"
                                                    {% endif %}
                                                    style="font-style: inherit" selected> {{ to }} </option>
                                            {% set selected = true %}
                                        {% else %}
                                            <option class="text-center fw-bold" value="{{ to.id }}"
                                                    style="font-style: inherit"
                                                    {% for tdp in to.tableDePrix %}
                                                        {% if tdp.composant.code is same as 'M' %}
                                                            cadence="{{ tdp.cadence }}"
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if to.code in ['E', 'PAR', 'A'] %}
                                                        unite="m²"
                                                    {% else %}
                                                        unite="m&#xB3;"
                                                    {% endif %}
                                                    code="{{ to.code }}"> {{ to }} </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" {{ ouvrage.largeur is empty ? 'style="display: none;"' : '' }}>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <input type="text" maxlength="255"
                                           id="devis_ouvrages_{{ ouvrage.id }}_quantiteModal"
                                           value="{{ ouvrage.largeur }}" onkeyup=calculPrixUnitaireComposant()
                                           class="chakra-input select-ouvrage text-center {{ ouvrage.largeur is not empty ? 'fw-bold' : 'placeholder-italic' }} numbers largeur-modal"
                                           name="attribut[largeur]" {{ ouvrage.largeur is not empty ? 'required="required"' : '' }}
                                           placeholder="Largeur">
                                </div>
                                <div class="col-md-4 fw-bold"
                                     style="padding: inherit; margin-left: inherit;">
                                    m
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <input type="text" maxlength="255"
                                           id="devis_ouvrages_{{ ouvrage.id }}_quantite2"
                                            {% for composant in ouvrage.composants %}
                                                {% if composant.TypeComposant is not empty and composant.TypeComposant.code is same as "L" %}
                                                    value="{{ composant.quantite2 }}"
                                                {% endif %}
                                            {% endfor %}
                                           class="chakra-input select-ouvrage text-center fw-bold numbers quantite2-modal"
                                           name="attribut[quantite2]" onkeyup=calculPrixUnitaireComposant()
                                           placeholder="quantité">
                                </div>
                                <div class="col-md-4 fw-bold" style="padding: inherit; margin-left: inherit;">
                                    J
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end align-items-center">

                    </div>
                    <div class="tab step-2 {{ selected == true ? '' : 'd-none' }} mt-3 mb-5 row justify-content-center"
                         length="{{ typeOuvrages|length }}" step="2" style="padding: 0 2%;">

                        <div class="col-md-12 mb-3 page-block text-center"
                             style="background-color: #f0f4f8; padding: 1rem 1rem 2rem;">
                            <h5 class="mb-2" style="color: #0E4377">Calcul des métrés</h5>
                            <div class="table-metre" id="table-metre-ouvrage-{{ ouvrage.id }}">
                                <table class="table">
                                    <thead>
                                    <tr class="tr-head">
                                        <th>
                                            <div class="row">
                                                <span class="col-md-5">Hauteur</span>
                                            </div>
                                        </th>
                                        {% for hauteur in metre %}
                                            {% if hauteur.typeMetre is same as 'hauteur' %}
                                                <th style="width: 20px">
                                                    <input class="numbers hauteur select-ouvrage text-center"
                                                           type="text" name="attribut[metre][{{ hauteur.id }}]"
                                                           id="{{ hauteur.id }}" onkeyup=calculPrixUnitaireComposant()
                                                           value={{ hauteur.hauteur is not empty ? hauteur.hauteur|number_format(2,',',' ') : '' }}
                                                    >
                                                </th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for lineaire in metre %}
                                        {% if lineaire.typeMetre is same as 'lineaire' %}
                                            <tr>
                                                <td>
                                                    <input class="lineaire select-ouvrage text-center" type="text"
                                                           value="{{ lineaire.lineaire }}"
                                                           name="attribut[metre][{{ lineaire.id }}]">
                                                </td>
                                                {% for longueur in lineaire.longueursLineaire %}
                                                    <td>
                                                        <input class="longueur numbers select-ouvrage text-center"
                                                               type="text" name="attribut[metre][{{ longueur.id }}]"
                                                               hauteur="{{ longueur.longueurHauteur.id }}"
                                                               onkeyup=calculPrixUnitaireComposant()
                                                               value={{ longueur.longueur is not empty ? longueur.longueur|number_format(2,',',' ') : '' }}>
                                                    </td>

                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class=" page-block mt-2 row justify-content-center" style="background-color: #fff; padding: 1rem 1rem 2rem;"
                             step="2">
                            <div class="col-md-12 text-center mb-2"><h5 style="color: #0E4377">Caractéristiques de
                                    l’ouvrage</h5></div>
                            {% for to in typeOuvrages %}
                                {% for tab in to.attributOuvrages %}
                                    {% if tab.attributOuvrageTrs is not empty %}
                                        <div class="col-md-2 mt-2 tab-after to-{{ to.id }} d-none text-center ouvrage-attribut-step-2">
                                            {% set selected = false %}
                                            <label class="labels"
                                                   for="attribut-attributs-{{ tab.id }}">{{ tab.titre }}</label>
                                            <select name="attribut[attributs][{{ tab.titre }}]"
                                                    id="attribut-attributs-{{ tab.id }}"
                                                    {% for tdp in to.tableDePrix %}
                                                        {% if tdp.composant.code is same as 'M' %}
                                                            cadence="{{ tdp.cadence }}"
                                                        {% endif %}
                                                    {% endfor %}
                                                    class="fst-italic chakra-input text-center ouvrage-attribut select-ouvrage attribut-select-step2-{{ to.id }}"
                                                    required="required">
                                                <option {{ selected == false ? 'selected="true"' : '' }}
                                                        value=""></option>
                                                {% for attribut in tab.attributOuvrageTrs %}
                                                    {% if ouvrage.attributs is not empty and tab.titre in ouvrage.attributs|keys and ouvrage.attributs[tab.titre] == attribut.id %}
                                                        <option value="{{ attribut.id }}" selected
                                                                poids="{{ attribut.poidsKG is not empty ? attribut.poidsKG : 0 }}"
                                                                tps="{{ attribut.tps is not empty ? attribut.tps : 0 }}">
                                                            {{ attribut.titre }}
                                                            {% set selected = true %}
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ attribut.id }}"
                                                                poids="{{ attribut.poidsKG is not empty ? attribut.poidsKG : 0 }}"
                                                                tps="{{ attribut.tps is not empty ? attribut.tps : 0 }}">
                                                            {{ attribut.titre }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mt-4 row m-auto justify-content-center align-items-start">
                        <div class="col-md-4">
                            <table class="table datatable text-center">
                                <thead>
                                <tr class="tr-head text-center">
                                    <th colspan="2" class="text-center col-md-6">Dénomination</th>
                                    <th class="text-center col-md-6">Déboursé U HT</th>
                                </tr>
                                </thead>

                                <tbody class="mt-4">
                                {% for composant in ouvrage.composants %}
                                    {% if composant.TypeComposant is not empty %}
                                        <tr class="composant-ouvrage-modal " id="element-{{ composant.id }}">
                                            <td class="col-md-1">
                                                <input id="{{ composant.typeComposant.code~'-'~composant.id }}"
                                                       type="checkbox"
                                                        {{ composant.selection ? 'checked' : '' }}
                                                       class="checkbox-composant select-ouvrage"
                                                       onclick="calculPrixUnitaireComposant()"
                                                       name="attribut[composantsSelect][{{ composant.id }}]">
                                            </td>
                                            <td class="col-md-5 text-start">
                                        <span class="fw-bold badge badge-pill"
                                              style="background:{{ composant.typeComposant.couleur }};line-height: 1em;font-size: 1em;padding: inherit ;border-radius: 5px;color:{{ composant.typeComposant.couleurText is not empty ? composant.typeComposant.couleurText : "white" }}; ">{{ composant.typeComposant.titre }}</span>
                                            </td>
                                            <td class="col-md-6">
                                                <div class="row align-items-center" style="margin-left: auto">
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               style="border-bottom: inherit; color: #0e4377!important;; font-weight: bold"
                                                               id="devis_composants_{{ composant.id }}_debourseUnitaireHT_modal"
                                                               input="debourseUnitaireHT"
                                                               code="{{ composant.TypeComposant.code }}"
                                                                {% for unite in composant.TypeComposant.tableDePrix %}
                                                                    {% if unite.typeOuvrage is same as ouvrage.typeOuvrage %}
                                                                        cadence="{{ unite.cadence }}"
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% for ligne in composant.TypeComposant.tableDePrix %}
                                                                    {{ ligne.typeOuvrage.code~"="~ligne.prix }}
                                                                {% endfor %}
                                                               value="{{ composant.debourseUnitaireHT|number_format(3, ',', '') }}"
                                                               name="attribut[composants][{{ composant.id }}]"
                                                               required="required" maxlength="255"
                                                               class="chakra-input numbers text-end td-prix-{{ ouvrage.id }}"
                                                               placeholder="Déboursé U HT"
                                                               value="0" readonly></div>
                                                    <div class="col-md-3 text-start"
                                                         style="padding: inherit; color: #0e4377!important;; font-weight: bold">
                                                        € HT
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 zone-attributs">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="col-md-12 fw-bold text-center unite-modal kg">
                                            kg/m²
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <input type="text" maxlength="255"
                                                   id="devis_ouvrages_{{ ouvrage.id }}_poidsDeReference"
                                                   value="{{ ouvrage.poidsDeReference }}"
                                                   class="chakra-input select-ouvrage text-center fw-bold attributs"
                                                   name="attribut[poidsDeReference]"
                                                   placeholder="Poids de référence" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 fw-bold text-center">
                                            kg/J/pers
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <input type="text" maxlength="255"
                                                   id="devis_ouvrages_{{ ouvrage.id }}_tpsDeReference"
                                                   value="{{ ouvrage.tpsDeReference|number_format(0, ',', ' ') }}"
                                                   class="chakra-input select-ouvrage text-center fw-bold attributs"
                                                   name="attribut[tpsDeReference]"
                                                   placeholder="temps de référence" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-12 fw-bold text-center">
                                            % Tps
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <input type="text" maxlength="255"
                                                   id="devis_ouvrages_{{ ouvrage.id }}_pourcentageTpsDeReference"
                                                   value="{{ ouvrage.pourcentageTpsDeReference|number_format(2, ',', ' ') }}"
                                                   class="chakra-input select-ouvrage text-center fw-bold attributs"
                                                   name="attribut[pourcentageTpsDeReference]"
                                                   placeholder="0" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 zone-attributs mt-5" style="font-size: 0.9rem;">
                                <div class="col-md-12 justify-content-between mb-3">
                                    <div class="col-md-12 text-start">
                                        Avec une quantité de
                                        <span class="quantite-modal fw-bold"
                                              id="quantite-modal">{{ ouvrage.quantite|number_format(2,',',' ')~' ' }}</span>
                                        <span class="unite-modal fw-bold"
                                              id="unite-modal">{{ ouvrage.unite.label }}</span>
                                        et
                                        {% for composant in ouvrage.composants %}
                                            {% if composant.TypeComposant is not empty and composant.TypeComposant.code is same as "L" %}
                                                <span class="quantite2-modal fw-bold"
                                                      id="quantite2-modal">{{ composant.quantite2~' ' }}</span>
                                                <span class="fw-bold">{{ composant.unite2.label }}</span>
                                            {% endif %}
                                        {% endfor %} :
                                    </div>
                                </div>
                                <div class="col-md-12 row align-items-center">
                                    <div class="col-md-6 fst-italic text-start">
                                        Total débours HT
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <input type="text" maxlength="255"
                                               id="ouvrages_{{ ouvrage.id }}_debourseTotalHTModal"
                                               name="ouvrage[debourseTotalModal]"
                                               class="chakra-input select-ouvrage text-end attributs border-bottom-inherit fw-bold"
                                               value="{{ ouvrage.getSommeDebourseTotalComposants|number_format(2,',',' ') }}"
                                               readonly>
                                        <span class="euro" style="padding-left: 0">€</span>
                                    </div>
                                </div>
                                <div class="col-md-12 row align-items-center">
                                    <div class="col-md-6 fst-italic text-start">
                                        Marge totale HT
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <input type="text" maxlength="255"
                                               name="ouvrage[margeModal]"
                                               id="ouvrages_{{ ouvrage.id }}_margeModal"
                                               class="chakra-input select-ouvrage text-end attributs border-bottom-inherit fw-bold"
                                               value="{{ (ouvrage.prixDeVenteHT - ouvrage.getSommeDebourseTotalComposants)|number_format(2,',',' ') }}"
                                               readonly>
                                        <span class="euro" style="padding-left: 0">€</span>
                                    </div>
                                </div>

                                <div class="col-md-12 row align-items-center">
                                    <div class="col-md-6 fst-italic text-start">
                                        Total prix de vente HT
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <input type="text" maxlength="255"
                                               id="ouvrages_{{ ouvrage.id }}_prixDeVenteModal"
                                               name="ouvrage[prixDeVenteModal]"
                                               class="chakra-input select-ouvrage text-end attributs border-bottom-inherit fw-bold"
                                               value="{{ ouvrage.prixDeVenteHT|number_format(2,',',' ') }}"
                                               readonly>
                                        <span class="euro" style="padding-left: 0">€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        {{ ouvrage.denomination is empty ? 'Ajouter' : 'Appliquer les modifications' }}
                    </button>

                    <div class="spinner-border text-primary form-submit-loader" role="status"
                         style="display: none;">
                        <span class="sr-only">.</span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none;"
                         id="ouvrage-import-success">
                        Les ouvrages sélectionnés ont été importés avec succès
                    </div>
                    <div class="alert alert-danger" role="alert" style="display: none;" id="ouvrage-import-danger">
                        Erreur lors de l'importation des ouvrages, veuillez recharger la page
                    </div>
                </div>

            </form>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.select-type-ouvrage').change(function () {
                var selectElement = $(this);
                var defaultOption = $('#typeOuvrageDefaultOption');

                if (selectElement.val() === '') {
                    defaultOption.parent().addClass('fst-italic').removeClass('fw-bold');
                } else {
                    defaultOption.parent().removeClass('fst-italic').addClass('fw-bold');
                }
            });
        });

        $(document).ready(function () {

            $(".custom-select select").on("blur", function () {
                $(this).css("font-style", "inherit");
            });

            $(".custom-select select option").css("font-style", "normal");
        });

        $(document).ready(function () {
            var inputElement = $(`input[placeholder="Dénomination de l'ouvrage"]`);

            inputElement.focus(function () {
                inputElement.removeClass("placeholder-active");
            });

            inputElement.blur(function () {
                if (inputElement.val() === "") {
                    inputElement.addClass("placeholder-active");
                }
            });
        })

    </script>
</div>
