<!-- Modal -->
<div class="modal fade modal-composant" id="modal-composant" tabindex="-1" aria-labelledby="modal-composant-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="return submitComposantEvenement(event)" name="composant">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-composant-label">Ajout d'un composant dans la bibliothèque de prix</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        L'ajout d'un composant permet de l'utiliser au sein de la bibliothèque de prix et dans la création de devis

                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="labels" for="composant_type">Type</label>
                            <select id="composant_type" name="composant[type]" class="col-md-12 chakra-input"
                                   required >
                                {% for type in types %}
                                    <option value="{{ type.id }}"><span class="badge badge-pill badge-primary">{{ type.titre }}</span></option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1">
                            <label class="labels" for="composant_code">Code</label>
                            <input type="text" id="composant_code" name="composant[code]" class="col-md-12 chakra-input"
                                   required/>
                        </div>
                        <div class="col-md-2">
                            <label class="labels" for="composant_denomination">Dénomination</label>
                            <input type="text" id="composant_denomination" name="composant[denomination]"
                                   class="col-md-12 chakra-input" required/>
                        </div>
                        <div class="col-md-1">

                            <select id="composant_unite" name="composant[unite]" class="col-md-12 chakra-input" required>
                                   <option disabled {{ ouvrage.unite is empty ? selected : ""}}>Selectionner une unité</option>
                                   {% for unite in unite %}
                                    <option value="{{unite.id}}" {{ unite.id == ouvrage.unite ? "selected" : "" }}> {{ unite.label}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1">
                            <label class="labels" for="composant_quantite">Quantité</label>
                            <input type="text" id="composant_quantite" name="composant[quantite]" class="col-md-12 chakra-input" value="1"
                                   required/>
                        </div>
                        <div class="col-md-2">
                            <label class="labels" for="composant_DUHT">Déboursé unitaire HT</label>
                            <input type="number" step="0.001" id="composant_DUHT" name="composant[DUHT]" class="col-md-12 chakra-input" onchange="prixDeVenteHT()"
                                   required/>
                        </div>
                        <div class="col-md-2">
                            <label class="labels" for="composant_marge">Marge</label>
                            <input type="number" step="0.001" id="composant_marge" name="composant[marge]" class="col-md-12 chakra-input" onchange="prixDeVenteHT()"
                                   required/>
                        </div>

                        <div class="col-md-2">
                            <label class="labels" for="composant_prix_de_vente">Prix de vente</label>
                            <input type="number" step="0.001" id="composant_prix_de_vente" name="composant[prixDeVenteHT]" class="col-md-12 chakra-input"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                    <button type="submit" class="btn btn-primary">Ajouter un composant</button>
                </div>

            </form>

        </div>
    </div>
</div>
