{% set colors = {"Normal":"green","Urgent":"red","Important":"orange","Faible":"grey"} %}
{% set statutColors = {"En cours":"#E98F00","Info":"#2091DE","Annuler":"grey","Achevé":"#29CA40","A traiter":"black"} %}


<tr>
    <td onclick="evenementShow({{ evenement.id }})" style="cursor:pointer;">
        <i class="bi bi-bookmark-fill"
           style="color: {{ evenement.priorite in colors|keys ?colors[evenement.priorite] : "green" }};font-size: 1.1rem;"></i>
    </td>
    <td onclick="evenementShow({{ evenement.id }})"
        style="cursor:pointer;"> {{ evenement.titre }}</td>
    <td>{{ evenement.description }}</td>

    <td>{{ evenement.dateDeDebut|date('d/m/Y H:i') }}</td>
    <td>{{ evenement.dateDeFin|date('d/m/Y H:i') }}</td>
    <td>
        <div style="color:{{ evenement.statut in statutColors|keys ?statutColors[evenement.statut] : "grey" }};"> {{ evenement.statut }} </div>
    </td>
    <td>{{ evenement.createur.firstname }}</td>
    <td>

        {% for user in evenement.attribueA %}
            {{ user.firstname }}<br>
        {% endfor %}
    </td>

    <td>
        <div class="row justify-content-center">
            {% if evenement.statut != "Achevé" %}
                <div class="col-md-auto">
                    <a href="{{ path('app_affaire_evenement_validate',{'id':evenement.id}) }}"
                       class="border-0 btn-transition btn btn-outline-success">
                        <i class="fa fa-check"></i></a>
                </div>
            {% endif %}


            {% if  is_granted('ROLE_ADMIN') %}
                <div class="col-md-auto">

                    <form method="post"
                          action="{{ path('app_affaire_evenement_delete', {'id': evenement.id}) }}"
                          onsubmit="return confirm('êtes vous certain de vouloir supprimer cette tâche?');">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ evenement.id) }}">
                        <button class="border-0 btn-transition btn btn-outline-danger">
                            <i class="fa fa-trash"></i></button>
                    </form>
                </div>

            {% endif %}
        </div>
    </td>

</tr>