<style>
    .modal-dialog {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        width: 33%;
    }

    .modal-content {
        width: 100%;
    }

    .modal-body input:focus {
        border-color: #28c0f0;
        box-shadow: 0 0 0 0.1rem rgb(134 183 254);
    }

    .modal-body textarea:focus {
        border-color: #28c0f0;
        box-shadow: 0 0 0 0.1rem rgb(134 183 254);
    }

    .modal-body select:focus {
        border-color: #28c0f0;
        box-shadow: 0 0 0 0.1rem rgb(134 183 254);
    }

    /* ---------------------------------------------
    Assets
    --------------------------------------------- */
    /* ---------------------------------------------
        Colors
    --------------------------------------------- */
    /* ---------------------------------------------
        Fonts
    --------------------------------------------- */
    /* ---------------------------------------------
        Mixins
    --------------------------------------------- */
    /* ---------------------------------------------
        Stylings
    --------------------------------------------- */


    body.evenement_priorite_urgent {
        background-color: red;
    }

    body.evenement_priorite_important {
        background-color: orange;
    }

    body.evenement_priorite_normal {
        background-color: green;
    }

    body.evenement_priorite_faible {
        background-color: grey;
    }

    div.background-select {
        width: 75%;
        background-color: #ffffff;
        position: relative;
        z-index: 21;
        border-radius: 10px;
    }

    div.background-select .card {
        margin-bottom: inherit;
        box-shadow: inherit;
        overflow: hidden;
        padding: 0px 10px;
    }

    div.background-select .card .color-choices {
        width: 100%;
        float: left;
        position: relative;
        padding-top: 10px;
    }

    div.background-select .card .color-choices div {
        width: 25%;
        height: 55px;
        float: left;
        text-align: center;
    }

    div.background-select .card .color-choices div input {
        width: 0px;
        height: 0px;
        position: absolute;
        top: -99999px;
        left: -99999px;
    }

    div.background-select .card .color-choices div input:checked ~ label:after {
        width: 55px;
        height: 55px;
        margin-top: -32.5px;
        margin-left: -32.5px;
    }

    div.background-select .card .color-choices div:nth-of-type(1) label:before {
        background-color: red;
    }

    div.background-select .card .color-choices div:nth-of-type(1) label:after {
        background-color: #ff4d4d;
    }

    div.background-select .card .color-choices div:nth-of-type(2) label:before {
        background-color: orange;
    }

    div.background-select .card .color-choices div:nth-of-type(2) label:after {
        background-color: #ffc04d;
    }

    div.background-select .card .color-choices div:nth-of-type(3) label:before {
        background-color: green;
    }

    div.background-select .card .color-choices div:nth-of-type(3) label:after {
        background-color: #00cd00;
    }

    div.background-select .card .color-choices div:nth-of-type(4) label:before {
        background-color: grey;
    }

    div.background-select .card .color-choices div:nth-of-type(4) label:after {
        background-color: #a6a6a6;
    }


    div.background-select .card .color-choices div label {
        width: 55px;
        height: 55px;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        z-index: 20;
    }

    div.background-select .card .color-choices div label:before {
        content: "";
        width: 45px;
        height: 45px;
        display: inline-block;
        background: red;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -27.5px;
        margin-left: -27.5px;
        border-radius: 50%;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        z-index: 10;
    }

    div.background-select .card .color-choices div label:after {
        content: "";
        width: 42px;
        height: 42px;
        background-color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -26px;
        margin-left: -26px;
        border-radius: 50%;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        z-index: 9;
    }

    div.background-select .card .color-choices div label:hover {
        cursor: pointer;
    }


</style>

<div class="modal fade" id="add-evenement" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, {'attr':{"class":"form-control","onsubmit":"return submitEvenement(event)"}}) }}

            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">Ajouter un nouvel évènement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Titre</label>
                        {{ form_widget(form.titre,{"attr":{"class":"form-control","autofocus":"on","placeholder":"Titre"}}) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-8"><label class="labels">Description</label>
                        {{ form_widget(form.description,{"attr":{"class":"form-control","placeholder":"Description"}}) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-8"><label class="labels">Date de début</label>
                        {{ form_widget(form.dateDeDebut,{"attr":{"class":"form-control  datepicker","autocomplet":"off"}}) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-8"><label class="labels">Date de fin</label>
                        {{ form_widget(form.dateDeFin,{"attr":{"class":"form-control  datepicker","autocomplet":"off"}}) }}
                    </div>
<<<<<<< HEAD
                </div>
                <div class="row mt-3 background-select">
                    <div class="card">
                        <label class="labels">Priorité</label>

                        <div id="evenement_priorite" class="color-choices">
                            <div>
                                <input type="radio" id="evenement_priorite_urgent"
                                       name="evenement[priorite]" value="Urgent">
                                <label for="evenement_priorite_urgent" class="required"></label>
                            </div>
                            <div>
                                <input type="radio" id="evenement_priorite_important"
                                       name="evenement[priorite]" value="Important">
                                <label for="evenement_priorite_important" class="required"></label>
                            </div>
                            <div>

                                <input type="radio" id="evenement_priorite_normal"
                                       name="evenement[priorite]" value="Normal">
                                <label for="evenement_priorite_normal" class="required"></label>
                            </div>

                            <div>

                                <input type="radio" id="evenement_priorite_faible"
                                       name="evenement[priorite]" value="Faible">
                                <label for="evenement_priorite_faible" class="required"></label>

                            </div>
                        </div>

=======
                    <div class="row mt-3">
                        <div class="col-md-8"><label class="labels">Priorité</label>
                            <div class="col-md-9">
                                <div id="evenement_priorite" class="row">
                                    <div class="col-md-4">
                                        <input type="radio" id="evenement_priorite_urgent" name="evenement[priorite]"
                                               value="Urgent">
                                        <label for="evenement_priorite_urgent" class="required"></label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" id="evenement_priorite_important"
                                               name="evenement[priorite]" value="Important">
                                        <label for="evenement_priorite_important" class="required"></label>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">

                                        <input type="radio" id="evenement_priorite_normal"
                                               name="evenement[priorite]" value="Normal">
                                        <label for="evenement_priorite_normal" class="required"></label>
                                    </div>

                                    <div class="col-md-4">

                                        <input type="radio" id="evenement_priorite_faible"
                                               name="evenement[priorite]" value="Faible">
                                        <label for="evenement_priorite_faible" class="required"></label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-8"><label class="labels">Type d'évènement</label>
                                {{ form_widget(form.typeDEvenement,{"attr":{"class":"form-control"}}) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-8"><label class="labels">Attribuer à</label>
                                {{ form_widget(form.attribueA,{"attr":{"class":"select2 form-control"}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="footer-load" style="display: none;">

                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>

                        <div id="modal_button">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Annuler
                            </button>

                            <button type="submit" class="btn btn-primary submit" value="create"
                                    name="create_new_evenement"
                                    id="create_new_evenement">
                                Enregistrer
                            </button>
                        </div>

>>>>>>> 392f74a63ec66f20242d030b28433f7d20a34150
                    </div>
                    {{ form_end(form) }}
                </div>
<<<<<<< HEAD

                <div class="row mt-3">
                    <div class="col-md-8"><label class="labels">Type d'évènement</label>
                        {{ form_widget(form.typeDEvenement,{"attr":{"class":"form-control"}}) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-8"><label class="labels">Attribuer à</label>
                        {{ form_widget(form.attribueA,{"attr":{"class":"select2 form-control"}}) }}
                    </div>
                </div>
=======
>>>>>>> 392f74a63ec66f20242d030b28433f7d20a34150
            </div>
            <div class="modal-footer">
                <div id="footer-load" style="display: none;">

                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>

                <div id="modal_button">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Annuler
                    </button>

                    <button type="submit" class="btn btn-primary submit" value="create"
                            name="create_new_evenement"
                            id="create_new_evenement"
                            onclick="$('#modal_button').hide();$('#footer-load').show();">
                        Enregistrer
                    </button>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>