{# form pour afficher les formulaire #}


{{ form_start(form) }}
<div class="row">
	<div class="col-md-4">
		{{ form_row(form.societe, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.adresse, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.adresse2, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.cp, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.ville, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.tel, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.portable, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.rcs, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.rcstxt, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.ape, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.dombancaire, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.codebanque, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.codeguichet, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.numcompte, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.clefrib, {'attr': {'class': 'form-control'}}) }}
	</div>

</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.coderech, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.datemodifinv, {'attr': {'class': 'form-control'}}) }}
	</div>

</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.tauxhoraire, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.tauxtour, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{{ form_row(form.tauxjour, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.tauxdemijour, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.tauxtonne, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>


<div class="row">

	<div class="col-md-4">
		{{ form_row(form.iban, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="row">

	<div class="col-md-4">
		{{ form_row(form.actif, {'attr': {'class': 'form-check-input'}}) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.occasionnel, {'attr': {'class': 'form-check-input'}}) }}
	</div>
</div>
<div id="overlay"></div>

<div class="text-center mt-4">
	<button type="submit" class="btn btn-primary">{{ button_label|default("Ajouter") }}</button>
	<button type="button" class="btn btn-secondary ml-2">Annuler</button>
</div>

<div class="text-center mt-4">
	<button type="button" class="btn btn-info" onclick="openModal(2)">Chauffeurs</button>
	<button type="button" class="btn btn-success ml-2" onclick="openModal(1)">Camions</button>
</div>

<div id="myModal">
	<span onclick="closeModal()" style="cursor: pointer; float: right; color: #333; font-size: 18px; font-weight: bold;">&times;</span>
	<div id="camions">
		<button type="button" class="btn btn-primary" id="ajouterButton">Camions +
		</button>

		<table class="table text-center datatable" id="commandeAjouter" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>immatriculation</th>
					<th>tonnagemax</th>
					<th>Longueur Fleche</th>
					<th>Date Verifier</th>
					<th>Action</th>

				</tr>


			</thead>
			<tbody>

				{% for camion in camions %}
					<tr>
						<td>{{ camion.immatriculation }}</td>
						<td>{{ camion.tonnagemax }}</td>
						<td>{{ camion.longueurfleche }}</td>
						<td>{{ camion.dateverifgrue ? camion.dateverifgrue|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a class="btn btn-warning">
								<i class="bi bi-pencil-fill"></i>
								Edit
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>
<div id="chauffeurs">
	<button type="button" class="btn btn-primary" id="ajouterButton">Chauffeurs +
	</button>

	<table class="table text-center datatable" id="commandeAjouter" style="color: #0E4377;">
		<thead>
			<tr class="tr-head">

				<th>Nom</th>
				<th>Prenom</th>
				<th>Portable</th>
				<th>Email</th>
				<th>Actions</th>

			</tr>


		</thead>
		<tbody>

			{% for ch in chauffeurs %}
				<tr>
					<td>{{ ch.nom }}</td>
					<td>{{ ch.prenom }}</td>
					<td>{{ ch.portable }}</td>
					<td>{{ ch.email }}</td>
					<td>
						<a class="btn btn-warning">
							<i class="bi bi-pencil-fill"></i>
							Edit
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table></div></div>{{ form_end(form) }}<script>function openModal(table_show) {
document.getElementById("myModal").style.display = "block";
document.getElementById("overlay").style.display = "block";
if (table_show == 1) {
document.getElementById("camions").style.display = "block";
document.getElementById("chauffeurs").style.display = "none";

} else {
document.getElementById("camions").style.display = "none";
document.getElementById("chauffeurs").style.display = "block";
}

}

function closeModal() {
document.getElementById("myModal").style.display = "none";
document.getElementById("overlay").style.display = "none";
}</script>
