{% extends 'base.html.twig' %}

{% block title %}
	Transporteur
{% endblock %}

{% block body %}
	<!-- Include Bootstrap JS (and jQuery) -->


	<style>
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%; /* Set your desired width */
			padding: 10px;
		}

		.left {
			flex: 1; /* Takes up available space on the left */

		}

		.right {
			flex: 2; /* Takes up available space on the right */
			margin-left: 20px; /* Add margin for spacing between left and right */
		}

		select {
			width: 20%;
			padding: 5px;
		}
		.title_article {
			font-family: 'Poppins', sans-serif;
			color: black;
			font-size: 30px;
			margin-left: 10%;
		}
		.basic {
			width: 160px;
			height: 35px;
			background: #f5f5f5;
			font-family: 'Poppins', sans-serif;
			margin-left: 3%;

		}
		.custom-dialog {
			max-width: 400px;
			margin: 50px auto;
			background-color: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		#overlay {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
			z-index: 999; /* Ensure it's above the dialog */
		}
		.btnChargerCommande {}
	</style>

	


	<div class="page-block col-lg-12">
		<table class="table text-center datatable" id="TransporteurTable" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>Societe</th>
					<th>Adresse</th>
					<th>Cp</th>
					<th>Ville</th>
					<th>Tel</th>
					<th>Portable</th>
					<th>Email</th>
					<th>Action</th>

				</tr>
			</thead>
			<tbody>
				{% for trsp in transporteurs %}
					<tr>
						<td>{{ trsp.societe }}</td>
						<td>{{ trsp.adresse }}</td>
						<td>{{ trsp.cp }}</td>
						<td>{{ trsp.ville }}</td>
						<td>{{ trsp.tel }}</td>
						<td>{{ trsp.portable }}</td>
						<td>{{ trsp.email }}</td>
						<td>
							<a href="{{ path('app_edit_transporteur', {'id': trsp.idtransporteur }) }}" class="btn btn-warning"  style="font-size: 10px;">
								Modifier
								
							</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>{% endblock %}
