{% extends 'base.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
    <h1>Transport index</h1>

    <table class="table datatable">
        <thead>
            <tr class="tr-head">
                <th>Code J4R</th>
                <th>Code Layher</th>
                <th>N°Commande</th>
                <th>IBM</th>
                <th>ERP</th>
                <th>CDT Travaux</th>
                <th>Adresse chantier</th>
                <th>Poids Commandé</th>
                <th>Heure prévue</th>
                <th>Heure d'arrivé Layher</th>
                <th>Nbr d'heure prévues</th>
                <th>Nbr d'heure passée</th>


                <th>Type TRSP</th>
                <th>TypeDeVehicule</th>
                <th>TonnageCommandé</th>
                <th>TonnagePrepare</th>
                <th>TonnageLivre</th>
                <th>Base de prix</th>
                <th>Prix</th>

                <th>MontantDeLaCourse</th>
                <th>AdresseEnlevement</th>
                <th>DateDEnlevementDemande</th>
                <th>InstructionEnlevementConducteur</th>
                <th>AdresseLivraison</th>
                <th>DateLivraisonDemande</th>
                <th>ReferenceLivraison</th>
                <th>InstructionLivraisonConducteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.codeChantierJ4R }}</td>
                <td>{{ transport.codeChantierLayher }}</td>
                <td>{{ transport.id }}</td>
                <td>{{ transport.codeIBM }}</td>
                <td>{{ transport.codeERP }}</td>
                <td>{{ transport.chantier.createur.firstname~" "~transport.chantier.createur.telephoneMobile }}</td>
                <td>{{ transport.typeDeVehicule }}</td>
                <td>{{ transport.tonnageCommande }}</td>
                <td>{{ transport.tonnagePrepare }}</td>
                <td>{{ transport.tonnageLivre }}</td>

                <td>{{ transport.prix['type'] }}</td>
                <td>{{ transport.prix['montant'] }}</td>

                <td>{{ transport.montantDeLaCourse }}</td>
                <td>{{ transport.adresseEnlevement }}</td>
                <td>{{ transport.dateDEnlevementDemande }}</td>
                <td>{{ transport.instructionEnlevementConducteur }}</td>
                <td>{{ transport.adresseLivraison }}</td>
                <td>{{ transport.dateLivraisonDemande }}</td>
                <td>{{ transport.referenceLivraison }}</td>
                <td>{{ transport.instructionLivraisonConducteur }}</td>
                <td>
                    <a href="{{ path('app_affaire_transport_show', {'id': transport.id}) }}">show</a>
                    <a href="{{ path('app_affaire_transport_edit', {'id': transport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_affaire_transport_new') }}">Create new</a>
{% endblock %}
