<style>

    .form-control:focus {
        box-shadow: none;
        border-color: #1ab2e4
    }

    .profile-button {
        background: #1ab2e4;
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #1ab2e4
    }

    .profile-button:focus {
        background: #1ab2e4;
        box-shadow: none
    }

    .profile-button:active {
        background: #1ab2e4;
        box-shadow: none
    }

    .back:hover {
        color: #1ab2e4;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

</style>
{{ form_start(form) }}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-end">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5"
                     width="150px"
                     src="{{ materiel.photo is not empty ? asset('uploads/photo/materiel/'~materiel.photo) : 'https://cdn-icons-png.flaticon.com/512/747/747062.png' }}">
                <div class="col-md-12"><label class="labels">Photo du matériel</label>
                    {{ form_widget(form.photo,{"attr":{"class":"form-control","placeholder":"Photo du matériel"}}) }}
                </div>


            </div>
        </div>
        <div class="col-md-5 border-end">
            <div class="p-3 py-5">
                <div class="text-dark mb-3">
                    <h4 class="text-center">Nouvelle fiche matériel</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Titre</label>
                        {{ form_widget(form.titre,{"attr":{"class":"form-control","autofocus":"on","placeholder":"Ordinateur portable HP"}}) }}
                    </div>
                    <div class="col-md-12"><label class="labels">Description</label>
                        {{ form_widget(form.description,{"attr":{"class":"form-control","placeholder":"processeur i7 + carte mere GTX"}}) }}
                    </div>
                    <div class="col-md-12"><label class="labels">Catégorie</label>
                        {{ form_widget(form.categorie,{"attr":{"class":"form-control"}}) }}
                    </div>
                    <div class="col-md-12"><label class="labels">État du matériel</label>
                        {{ form_widget(form.etat,{"attr":{"class":"form-control","placeholder":"etat du matériel",}}) }}
                    </div>
                    <div class="col-md-12"><label class="labels">Adresse de stockage</label>
                        {{ form_widget(form.adresse,{"attr":{"class":"form-control","placeholder":"lagny sur marne",}}) }}
                    </div>

                    <div class="col-md-12"><label class="labels">Prix</label>
                        {{ form_widget(form.prix,{"attr":{"class":"form-control","placeholder":"2 000€"}}) }}
                    </div>
                    <div class="col-md-12"><label class="labels">Date D'acquisition </label>
                        {{ form_widget(form.dateDAcquisition,{"attr":{"class":"form-control datepicker","autocomplete":"off"}}) }}
                    </div>

                </div>

                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 mt-4"><label class="labels">Plus de détails</label>
                {{ form_widget(form.note,{"attr":{"class":"form-control"}}) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(form) }}


<script>

</script>
