{% extends 'base.html.twig' %}

{% block title %}Agence index
{% endblock %}

{% block body %}
	<h1>Agence index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Agence</th>
				<th>Nom Agence</th>
				<th>Adresse Agence</th>
				<th>Adresse Agence2</th>
				<th>Cp Agence</th>
				<th>Ville Agence</th>
				<th>Contac tNom</th>
				<th>Contact Prenom</th>
				<th>Contact Tel</th>
				<th>Contact Portable</th>
				<th>Info Ouverture</th>
				<th>Contact Email</th>
				<th>Commentaires</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for agence in agences %}
				<tr>
					<td>{{ agence.id }}</td>
					<td>{{ agence.agence }}</td>
					<td>{{ agence.nomAgence }}</td>
					<td>{{ agence.adresseAgence }}</td>
					<td>{{ agence.adresseAgence2 }}</td>
					<td>{{ agence.cpAgence }}</td>
					<td>{{ agence.villeAgence }}</td>
					<td>{{ agence.contactNom }}</td>
					<td>{{ agence.contactPrenom }}</td>
					<td>{{ agence.contactTel }}</td>
					<td>{{ agence.contactPortable }}</td>
					<td>{{ agence.infoOuverture }}</td>
					<td>{{ agence.contactEmail }}</td>
					<td>{{ agence.commentaires }}</td>
					<td>
						<a href="{{ path('app_society_agence_show', {'id': agence.id}) }}">show</a>
						<a href="{{ path('app_society_agence_edit', {'id': agence.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_society_agence_new') }}">Create new</a>
{% endblock %}
