{% extends 'base.html.twig' %}

{% block title %}Agence{% endblock %}

{% block body %}
    <h1>Agence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agence.id }}</td>
            </tr>
            <tr>
                <th>Agence</th>
                <td>{{ agence.agence }}</td>
            </tr>
            <tr>
                <th>NomAgence</th>
                <td>{{ agence.nomAgence }}</td>
            </tr>
            <tr>
                <th>AdresseAgence</th>
                <td>{{ agence.adresseAgence }}</td>
            </tr>
            <tr>
                <th>AdresseAgence2</th>
                <td>{{ agence.adresseAgence2 }}</td>
            </tr>
            <tr>
                <th>CpAgence</th>
                <td>{{ agence.cpAgence }}</td>
            </tr>
            <tr>
                <th>VilleAgence</th>
                <td>{{ agence.villeAgence }}</td>
            </tr>
            <tr>
                <th>ContactNom</th>
                <td>{{ agence.contactNom }}</td>
            </tr>
            <tr>
                <th>ContactPrenom</th>
                <td>{{ agence.contactPrenom }}</td>
            </tr>
            <tr>
                <th>ContactTel</th>
                <td>{{ agence.contactTel }}</td>
            </tr>
            <tr>
                <th>ContactPortable</th>
                <td>{{ agence.contactPortable }}</td>
            </tr>
            <tr>
                <th>InfoOuverture</th>
                <td>{{ agence.infoOuverture }}</td>
            </tr>
            <tr>
                <th>ContactEmail</th>
                <td>{{ agence.contactEmail }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ agence.commentaires }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_society_agence_index') }}">back to list</a>

    <a href="{{ path('app_society_agence_edit', {'id': agence.id}) }}">edit</a>

    {{ include('society/agence/_delete_form.html.twig') }}
{% endblock %}
