{% extends 'base.html.twig' %}

{% block title %}Liste des composants{% endblock %}

{% block body %}

    <table class="table datatable">
        <thead>
            <tr class="tr-head">
                <th>Id</th>
                <th>Titre</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_composant in type_composants %}
            <tr>
                <td>{{ type_composant.id }}</td>
                <td>{{ type_composant.titre }}</td>
                <td><div  class="badge" style="background:{{ type_composant.couleur  }};line-height: 1em;font-size: 1em; ">{{ type_composant.couleur }}</div> </td>
                <td>
                    <a href="{{ path('app_affaire_type_composant_edit', {'id': type_composant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun composant trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
