{% extends 'base.html.twig' %}

{% block title %}TypeComposant index{% endblock %}

{% block body %}
    <h1>TypeComposant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_composant in type_composants %}
            <tr>
                <td>{{ type_composant.id }}</td>
                <td>{{ type_composant.titre }}</td>
                <td>{{ type_composant.couleur }}</td>
                <td>
                    <a href="{{ path('app_affaire_type_composant_show', {'id': type_composant.id}) }}">show</a>
                    <a href="{{ path('app_affaire_type_composant_edit', {'id': type_composant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_affaire_type_composant_new') }}">Create new</a>
{% endblock %}
