{% extends 'base.html.twig' %}

{% block title %}Tickets
{% endblock %}

{% block body %}
	<div class="page-block col-lg-12">

		<table class="table text-center datatable" style="color: #0E4377;">
			<thead class="tr-head">
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th>Level</th>
					<th>Status</th>
					<th>Date</th>
					<th>Createur</th>
					<th>Développeur</th>

				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						<td>
							<a href="{{ path('ticket_assigned',{'id':ticket.id}) }}" style="color: #555;">
								{{ ticket.id }}
							</a>
						</td>
						<td>{{ ticket.title }}</td>
						<td>{{ ticket.description }}</td>
						<td>{{ ticket.level }}</td>
						<td>
							{% if ticket.status == 'En cours' %}
								<span style="color : #FFBF00 ">
									En cours
								</span>
							{% elseif ticket.status == 'En confirmation' %}
								<span style="color : #2EFE2E ">
									En confirmation
								</span>
							{% else %}
								{{ ticket.status }}
							{% endif %}
						</td>
						<td>{{ ticket.date }}</td>
						<td>{{ ticket.creator.getFirstname()  }}</td>

						<td>
							{% if ticket.admin is defined %}
								{{ ticket.admin.getFirstname() ?? '' }}
							{% else %}
								{{ '' }}
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">n'est pas tickets</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
