{# form pour afficher les formulaire #}
<style>
	/* Styles for the modal and overlay */
	#myModal {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 70%;
		transform: translate(-50%, -50%);
		padding: 20px;
		background-color: #fff;
		border: 1px solid #ccc;
		max-height: 80%; /* Set a maximum height for the modal */
		overflow-y: auto; /* Enable vertical scrollbar if content overflows */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		z-index: 1;
	}

	#overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}
</style>

{# your-form-template.html.twig #}
{{ form_start(form, {'attr': {'class': 'form'}}
) }}

<div class="row form">
	<div class="col-md-4">
		{{ form_row(form.NumDevis, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.IdClient, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.CodeChantier, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.NumAffaire, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}

		<!-- Add other fields for the first column -->

	</div>
	<div class="col-md-4">
		{{ form_row(form.NomClient, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}

		{{ form_row(form.AdresseChantier, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.CpChantier, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.VilleChantier, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}


	</div>
	<div class="col-md-4">
		{{ form_row(form.Initiales, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.DateCde, {
           'attr': {'class': '', 'type': 'date'},
           'label': 'Date du Commande',
           'label_attr': {'class': 'font-weight-bold'},
           'disabled': false,
        }) }}

		{{ form_row(form.PoidsTotMat, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		{{ form_row(form.NumErpVente, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.NumErpLocation, {'attr': {'class': 'form-control'}}) }}

	</div>
</div>
<div
	class="container mt-4">
	<!-- Buttons in separate columns -->
	<div
		class="row">
		<!-- Cancel Button Column -->
		{% if depots.codedepot != 1 %}
			<div class="col-md-6">
				<button type="button" id="ajouter" onclick="openModal()" class="btn btn-light btn-block">
					<span class="mr-2">Ajouter</span>
					<i class="fas fa-plus"></i>
					<!-- Change the icon here -->
				</button>
			</div>
		{% endif %}

		<!-- Validate Button Column -->
		<div class="col-md-6">
			<button type="submit" class="btn btn-success btn-block" {% if depots.codedepot == 2 %} onclick="valider()" {% endif %}>
				<span class="mr-2">Valider</span>
				<i class="fas fa-check"></i>
			</button>
		</div>

	</div>
</div>
{{ form_end(form) }}
<br>
<div class="depot-info">
	<strong>Depot:</strong>
	{{ depots.nomdepot }}
</div>

<br>
<input type="hidden" value="{{depots.codedepot}}" id="codedepot"/>
<input type="hidden" value="{{idCdeEnte}}" id="cmdCodeEntre"/>

<div class="page-block col-lg-12">
	{% if depots.codedepot == 1 %}
		{# do something #}

		<table class="table text-center datatable" id="commandeTable" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>Article</th>
					<th>Designation</th>
					<th>Qte Commandées</th>
					<th>Qte Sorties</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.Article }}</td>
						<td>{{ article.Designation }}</td>
						<input class="poids" type="hidden" value="{{ article.Poids }}">
						<input class="iddepot" type="hidden" value="{{ article.id }}">

						<td><input class="inputNumber form-control qte" type="number" value="{{ article.qte }}" disabled/></td>
						<td><input class="inputNumber form-control qteSortie" type="number" value="{{ article.QteSortie }}" disabled/></td>
						<td><input class="mat form-control" disabled value="{{ article.TypeMat }}"/></td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<div class="flex-container">
		<div class="flex-item" id="poidsqte">0</div>
		<div class="flex-item" id="poidsqteSortie">0</div>
	</div>

{% else %}

	<table class="table text-center datatable" id="commandeTable" style="color: #0E4377;">
		<thead>
			<tr class="tr-head">
				<th>Article</th>
				<th>Designation</th>
				<th>Qte Commandées</th>
				<th>Qte Sorties</th>
				<th>Qte a Préparer</th>
				<th>Reste a Sortir</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>

					<td>{{ article.Article }}</td>
					<td>{{ article.Designation }}</td>

					<input class="poids" type="hidden" value="{{ article.Poids }}">
					<input class="iddepot" type="hidden" value="{{ article.id }}">
					<input class="article" type="hidden" value="{{ article.Article }}">

					<td><input type="number" value="{{ article.qte }}" class="inputNumber form-control qte" disabled/></td>
					<td><input type="number" value="{{ article.QteSortie }}" class="inputNumber form-control qteSortie" disabled/></td>
					<td><input type="number" value="0" class="inputNumber form-control qtePreparer" zero="0" article="{{ article.id }}"/></td>
					<td><input type="number" value="0" class="inputNumber form-control qtearester" id="article{{article.id}}" disabled/></td>
					<td><input class="mat form-control" disabled value="{{ article.TypeMat }}"/></td>

				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>
<div class="flex-container">
	<div class="flex-item" id="poidsqte">0</div>
	<div class="flex-item" id="poidsqteSortie">0</div>
	<div class="flex-item" id="poidsqtePreparer">0</div>
</div>{% endif %}<!-- The Modal --><div id="myModal">
<span onclick="closeModal()" style="cursor: pointer; float: right;">&times;</span>
<div class="container mt-2">
	<label for="selectOption">Select:</label>
	<select class="form-control" id="selectOption">
		<option value="L" selected>Location</option>
		<option value="V">Vente</option>
	</select>
</div>
<table class="table text-center datatable" id="commandeAjouter" style="color: #0E4377;">
	<thead>
		<tr class="tr-head">
			<th>Article</th>
			<th>Designation</th>
			<th>id</th>

		</tr>
	</thead>
	<tbody>
		{% for article in articlesbyDepot %}
			<tr ondblclick="test('{{article.designation}}','{{article.article}}')">
				<td>{{ article.article }}</td>
				<td>{{ article.designation }}</td>
				<td>{{ article.idarticles }}</td>

			</tr>
		{% endfor %}

	</tbody>
</tbody></table></div><!-- The Overlay --><div id="overlay"></div>
<script>
function openModal() {

document.getElementById("myModal").style.display = "block";
document.getElementById("overlay").style.display = "block";
}

function closeModal() {


document.getElementById("myModal").style.display = "none";
document.getElementById("overlay").style.display = "none";

}

function test(designation, article) {
var articleToAdd = {
Article: article,
Designation: designation,
Qte: 0,
QteSortie: 0,
QtePreparer: 0,
QteARester: 0,
TypeMat: $('#selectOption').val()
};

// Check if the article already exists in the "commandeTable"
var myDataTable = $('#commandeTable').DataTable();
var articleExists = false;

myDataTable.rows().every(function () {
var existingArticle = this.data()[0];
// Assuming the "Article" is in the first column

// Compare the existing article with the one to be added
if (existingArticle === articleToAdd.Article) {
articleExists = true;
return false;
}
return true;
});


if (! articleExists) { // If the article does not exist, add the new row
var newRow = $('<tr>' + '<td>' + articleToAdd.Article + '</td>' + '<td>' + articleToAdd.Designation + '</td>' + '<input class="article" type="hidden" value="' + articleToAdd.Article + '"><input class="iddepot" type="hidden" value="0"> <td><input type="number" value="' + articleToAdd.Qte + '" class="inputNumber form-control qte" disabled/></td>' + '<td><input type="number" value="' + articleToAdd.QteSortie + '" class="inputNumber form-control qteSortie" disabled/></td>' + '<td><input type="number" value="' + articleToAdd.QtePreparer + '" class="inputNumber form-control qtePreparer" zero="1" article=""/></td>' + '<td><input type="number" value="' + articleToAdd.QteARester + '" class="inputNumber form-control qtearester" disabled/></td>' + '<td><input class="mat form-control " disabled value="' + articleToAdd.TypeMat + '"/></td>' + '</tr>');

myDataTable.row.add(newRow).draw();
closeModal();
} else {
alert('Article déja exitant sur la table');
}
}

$("#selectOption").change(function () {
var selectedValue = $(this).val();
var typeArticle = 1;

console.log("Selected Value: " + selectedValue);

if (selectedValue == "V") {
typeArticle = 2;
} else {
typeArticle = 1;
}


if ($.fn.DataTable.isDataTable('#commandeAjouter')) {
$('#commandeAjouter').DataTable().destroy();
}

commandeAjouter = $('#commandeAjouter').DataTable({paging: true});
console.log(commandeAjouter);
$.ajax({
type: 'GET',
url: '/get-article-type',
data: {
type: typeArticle
},
success: function (data) {
console.log(data);
commandeAjouter.clear().draw();

// Populate the table with the new data
for (var i = 0; i < data.length; i++) {
var article = data[i];
var newRow = [article.article, article.designation, article.idarticles];

var $newRow = $('<tr>').on('dblclick', createDblClickHandler(newRow));

// Add td elements to the new row
for (var j = 0; j < newRow.length; j++) {
$newRow.append('<td>' + newRow[j] + '</td>');
}


// Append the new row to the DataTable
commandeAjouter.row.add($newRow);
}
commandeAjouter.draw();
},
error: function (error) {
console.error('Error:', error);
}
});
});
function createDblClickHandler(article) {
return function () {
test(article[1], article[0]);
};
}


</script>
