<style>

	.txtcenter {
		text-align: center;
	}
</style>

<div style="display: flex; flex-direction: column; gap: 20px; margin: 0 auto 0 auto;">
	<div style="overflow: hidden; margin-top: 1rem;">
		<div style="float: left; width: 25%;">
			<img src="{{ asset('uploads/logo/j4r_logo_2.jpg') }}" alt="logo" style="width: 100%;">
		</div>
		<div style="display: table; float: right; width: 50%;">
			<div style="display: table-cell; vertical-align: middle; text-align: center; border: 1px solid black; padding: 5px;">
				<span class="txtcenter">
					<strong>
						<u>DECOMPTE DE MATERIEL</u>
					</strong>
				</span>
				<br>
				<span>
					<strong></strong>
				</span>
				<br>
				<span>Edition du
					{{ "now"|date("d/m/Y H:i:s") }}</span>
				<br>


			</div>
		</div>

	</div>

	<style>
		table {
			width: 100%;
			border-collapse: collapse;
			margin: 20px auto;
		}

		th,
		td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		th {
			background-color: #f2f2f2;
		}
	</style>


	<strong>
		<u>Poids Total :
			{{ cdeMat.PoidsTotMat }}
			kg
		</u>
	</strong>
	<table>
		<tr>
			<th>Nom client</th>
			<td colspan="7">{{cdeMat.NomClient}}</td>
		</tr>
		<tr>
			<th>Adresse du chantier</th>
			<td colspan="7">{{cdeMat.AdresseChantier}}</td>
		</tr>
		<tr>
			<th>Instructions</th>
			<td colspan="7"></td>
		</tr>
		<tr>
			<th>Commentaires</th>
			<td colspan="7">{{cdeMat.NomClient}}</td>
		</tr>
		<!-- Nouvelle ligne avec 5 colonnes -->
		<tr>
			<th>N de plan</th>
			<td>{{cdeMat.NomClient}}</td>
			<th>N de devis</th>
			<td>{{cdeMat.NumDevis}}</td>
			<th>Code Analytique</th>
			<td></td>
			<th>Initiales</th>
			<td>{{cdeMat.Initiales}}</td>
		</tr>
	</table>

	<strong>
		<u>MATERIEL :</u>
	</strong>

	<table class="table text-center datatable" id="commandeTable" style="color: #0E4377;">
		<thead>
			<tr class="tr-head">
				<th>Article/EAN</th>
				<th>Designation</th>
				<th>Quantité</th>
				<th>Poids Total</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.article }}</td>
					<td>{{ article.designation }}</td>
					<td>{{ article.QteSortie }}</td>
					<td>{{ (article.QteSortie * article.poids)|number_format(2, '.', ',') }}</td>
					<td>{{ article.TypeMat }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table></div>
