<link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
<style>
	
</style>
<div class="container mt-5">
	<div class="col-md-11 m-auto page-block mt-4">
		<div class="societe">
			<div class="row form">
				<div class="col-md-4">
				
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Chantier J4R</label>
						<select id="commande_chantier" name="chantier" class="form-control form-control-sm-2 societe-input">
							{% for ch in chantiers %}
								<option value="{{ ch.idchantier }}">{{ ch.numchantier }}</option>
							{% endfor %}
						</select>


					</div>

					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Conducteur Travaux</label>
						<select id="conducteur" name="conducteur" class="form-control form-control-sm-2 societe-input">
						{% for conduct in conducteur %}
								<option value="{{ conduct.getId() }}">{{ conduct.getPseudo() }}</option>
							{% endfor %}
						</select>


					</div>
				
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Transporteur</label>
						<select id="transporteur" name="transporteur" class="form-control form-control-sm-2 societe-input">
					        <option value=""></option>

							{% for trs in transporteurs %}
								<option value="{{ trs.idtransporteur }}">{{ trs.societe }}</option>
							{% endfor %}
						</select>

					</div>
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Observations</label>
						<textarea id="observation" name="observation" class="form-control form-control-sm-2 societe-input" rows="4" cols="50"></textarea>


					</div>


				


					<!-- Add similar blocks for other fields in the first column -->
				</div>
				<div class="col-md-4">
				
					
				<div class="form-group">
			           <label for="codeChantier" class="font-weight-bold">Indication de volume camion</label>
			             <select name="indication" id="indication" class="form-control form-control-sm-2 societe-input">
			              	<option value="0"></option>
			            	<option value="1">Complet</option>
			            	<option value="2">Demi</option>
			            	<option value="3">Trois-quarts</option>
			            </select>

		        </div>
					<div class="form-group">
						<label for="codeChantier" class="font-weight-bold">Type</label>
						<select name="sens" id="sens" class="form-control form-control-sm-2 societe-input">
							<option value="1">Livraison</option>
							<option value="2">Ramasse TY</option>
						    <option value="3">Ramasse TS</option>
							<option value="4">Rotation</option>
							<option value="5">Transfert</option>
						</select>

					</div>
					<div class="form-group">
						<label for="codeChantier" class="font-weight-bold">Type Tarification</label>
						<select name="taux" id="tauxSelect" class="form-control form-control-sm-2 societe-input">
							<option value="5">Taux Tonne</option>
							<option value="1">Taux Horaire</option>
							<option value="2">Taux Tour</option>
							<option value="3">Taux Jour</option>
							<option value="4">Taux Demi Jour</option>
						</select>

					</div>

					<div class="form-group" id="qte">
						<label for="codeChantier" class="font-weight-bold">Tarification</label>
						<input type="number" id="tarification" name="tarification" class="form-control form-control-sm-2 societe-input ">
					</div>

				

					


					<!-- Add similar blocks for other fields in the first column -->
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label for="codeChantier" class="font-weight-bold">Poids Transport</label>
						<input type="number" id="poids_cde" name="poids_cde" class="form-control form-control-sm-2 societe-input " value="0">

					</div>

					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Date transport</label>
						<input type="date" id="date_transport" class="form-control form-control-sm-2 societe-input" name="date_transport"/>

					</div>
			
					<div class="form-group" id="qte">
						<label for="codeChantier" class="font-weight-bold">Heure Transport prévu</label>
						<input type="time" id="heure_enlev_prevu" name="poids_bon" class="form-control form-control-sm-2 societe-input ">
					</div>
					<!-- Add similar blocks for other fields in the third column -->
					

				</div>
			</div>
			<div class="col-md-12">
							<div class="form-group">
                                    <label for="NumAffaire" class="font-weight-bold">
                                        Adresse Chantier
                                    </label>
                                    <input type="text" id="address_chantier" class="form-control form-control-sm-2 societe-input" name="address_chantier" />
                                </div>
						</div>

		</div>
	<div class="btn btn-light" id="ajouter_transport">Ajouter</div>
	</div>
</div></div><script>
let idchantier = -1;
$(document).ready(function () {
$('#chantier').select2({
theme: "classic", width: 'resolve' // This helps with styling and width issues
});
});
$('#chantier').on('change', function() {
    var selectedOption = $(this).find('option:selected');
     idchantier = selectedOption.val();
    console.log("Selected idchantier:", idchantier);
});
$(document).ready(function () {
$("#fermer").click(function () {
$("#affectation_transport").hide(); // Cache l'élément avec l'ID 'affectation_transport'
});
$("#ajouter_transport").click(function () {});

$("#affectation_btn").click(function () {
$("#affectation_transport").show(); // afficher l'élément avec l'ID 'affectation_transport'
});
// event listner sur select transporteur

$('#transporteur').change(function () { // Récupère l'ID sélectionné
var selectedId = $(this).val();

// Récupère les données des transporteurs depuis localStorage
var transporteurs = JSON.parse(localStorage.getItem('transporteurs')) || [];

// Recherche si l'ID sélectionné est dans les données stockées
var transporteurTrouve = transporteurs.find(function (trs) {
return trs.idtransporteur.toString() === selectedId;
});

// Comparaison et action en fonction de la correspondance
if (transporteurTrouve) {
// Vous pouvez ici accéder à d'autres propriétés comme transporteurTrouve.tauxprefere

// Exemple d'action: mettre à jour un autre champ avec le taux préféré
$('#tauxPrefere').val(transporteurTrouve.tauxprefere);
$('#tauxSelect').val(transporteurTrouve.tauxprefere);
var tauxPrefere = transporteurTrouve.tauxprefere;

switch (tauxPrefere) {
case "1":
// Logique spécifique au cas 1
$('#tarification').val(transporteurTrouve.tauxhoraire);
break;
case "2":
// Logique spécifique au cas 2
$('#tarification').val(transporteurTrouve.tauxtour);
break;
case "3":
// Logique spécifique au cas 3
$('#tarification').val(transporteurTrouve.tauxjour);
break;
case "4":
// Logique spécifique au cas 4
$('#tarification').val(transporteurTrouve.tauxdemijour);
break;
case "5":
// Logique spécifique au cas 5
$('#tarification').val(transporteurTrouve.tauxtonne);
break;
default:
console.log('Aucun taux préféré spécifié ou valeur non reconnue.');

}


} else {
console.log("Aucun transporteur correspondant trouvé dans localStorage.");
}
});
// fin evennt select

// button affection
$("#ajouter_transport").click(function (e) { // Initialisation d'un drapeau pour vérifier la validité des champs
let isValid = true;

e.preventDefault();
// Empêche le comportement par défaut du formulaire
console.log($("#chantier").val())
// Vérifie si le transporteur est sélectionné
if ($("#transporteur").val() === "") {
alert("Veuillez sélectionner un transporteur.");
isValid = false;
}
if ($("#date_transport").val() === "") {
alert("Veuillez sélectionner une date transport.");
isValid = false;
}

if(idchantier == -1){
    alert("Veuillez sélectionner un chantier.");
    isValid = false;
}

// Vérifie si la date est remplie
if ($("#date").val() === "") {
alert("Veuillez sélectionner une date.");
isValid = false;
}

// Vérifie si l'heure est remplie
if ($("#heure").val() === "") {
alert("Veuillez sélectionner une heure.");
isValid = false;
}

// Vérifie si un type de tarification est sélectionné
if ($("#tauxSelect").val() === "") {
alert("Veuillez sélectionner un type de tarification.");
isValid = false;
}
if ($("#sens").val() === "") {
alert("Veuillez sélectionner un type du transport");
isValid = false;
}

// Vérifie si la tarification est remplie
if ($("#tarification").val() === "") {
alert("Veuillez entrer une tarification.");
isValid = false;
}

// Si tous les champs sont valides, procéder avec l'action
if (isValid) { // Logique pour sauvegarder ou soumettre les informations
var transporteur = $("#transporteur").val();
var typeEnlevement = $("#type_enlevement").val();
var heure = $("#heure").val();
var taux = $("#tauxSelect").val();
var tarification = $("#tarification").val();
var observation = $("#observation").val();
var date_transport = $("#date_transport").val();
var sens = $("#sens").val();

// Création de l'objet de données à envoyer
var data = {
transporteur: transporteur,
type_enlevement: typeEnlevement,
heure: heure,
taux: taux,
tarification: tarification,
observation: observation,
idchantier:idchantier,
date_transport:date_transport,
sens:sens

};
console.log(data);

// Envoi de la requête AJAX
$.ajax({
type: "POST",
url: "/ajouter/transport", // Remplacez par l'URL de votre point de terminaison
data: data,
success: function (response) {
console.log(response.message);
// Traitez la réponse du serveur ici

// Afficher une boîte d'alerte avec deux choix
var confirmation = confirm("Message de confirmation : " + response.message);

// Vérifier la réponse de l'utilisateur
if (confirmation) {
location.reload();

} else {
// L'utilisateur a cliqué sur le bouton "Annuler" ou a fermé la boîte d'alerte
// Faire quelque chose en conséquence
}
},
error: function (xhr, status, error) {
console.error("Erreur lors de l'envoi de la requête: ", error);
}
});
}
});


});
// o, stocker les donnes sur localStorage les donnes des tranporteurs
$(document).ready(function () { // Vérifie si les données ne sont pas déjà stockées
if (!localStorage.getItem('transporteurs')) {
$.getJSON('/commandes/transporteurs', function (data) {
localStorage.setItem('transporteurs', JSON.stringify(data));
});
}

// Exemple de récupération et utilisation des données
const transporteurs = JSON.parse(localStorage.getItem('transporteurs'));
console.log(transporteurs); // Utilisez les données comme nécessaire
});


$(document).ready(function () {
		$('#commande_chantier').select2({
			theme: "classic",
			width: 'resolve' // This helps with styling and width issues
		}).on('change', function() {
			// Your onchange action goes herepCha
			var selectedChantierId = $(this).val(); // Get the ID of the selected Chantier
			$.ajax({
type: 'GET',
url: '/chantier/get-chantier-adresse',
data: {
chantier: selectedChantierId
},
success: function (data) {
	
	$('#address_chantier').val(data[0].adresse)
},
error: function (error) {
console.error('Error:', error);
}
});
		});
		


		});

</script>
