{% extends 'base.html.twig' %}

{% block title %}
	Transports

{% endblock %}

{% block body %}
	<style>
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%; /* Set your desired width */
			padding: 10px;
		}

		.left {
			flex: 1; /* Takes up available space on the left */

		}

		.right {
			flex: 2; /* Takes up available space on the right */
			margin-left: 20px; /* Add margin for spacing between left and right */
		}

		select {
			width: 20%;
			padding: 5px;
		}
		.title_article {
			font-family: 'Poppins', sans-serif;
			color: black;
			font-size: 30px;
			margin-left: 10%;
		}
		.basic {
			width: 200px;
			height: 35px;
			background: #f5f5f5;
			font-family: 'Poppins', sans-serif;
			margin-left: 70%;


		}
	</style>

	<div class="example-wrapper"></div>
	<div id="popupFormContainer"></div>

	<div class="page-block col-lg-12">
		<table class="table text-center datatable" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>
						Date Enlevements
					</th>
					<th>
						Numero ERP Locations
					</th>
					<th>
						Code chantier
					</th>
					<th>
						Adresse Chantiers
					</th>
                    <th>
						Client
					</th>
					<th>
						Transporteur
					</th>
					<th>
						Type
					</th>
					<th>
						Action
					</th>

				</tr>
			</thead>
			<tbody>

				{% for transport in transports %}
					<tr>

						<td>
							{{ transport.idcde.DateEnlevReel|date("Y-m-d") }}
						</td>
						<td>
							{{ transport.idcde.NumErpLocation }}
						</td>
						<td>
							{{ transport.idcde.CodeChantier }}
						</td>
						<td>
							{{ transport.idcde.AdresseChantier }}
						</td>
                        <td>
							{{ transport.idcde.NomClient }}
						</td>
						<td>
							{{ transport.idtransporteur.societe }}
						</td>
						<td>
							{% if transport.sens == 1 %}
                                Livraison
                            {% elseif transport.sens == 2 %}
								Rotation
							{% elseif transport.sens == 3 %}
								Output if sens is 3
							{% else %}
								Output if sens is none of the specified values
							{% endif %}
						</td>
						<td>
							<a href="{{ path('edit_transport_liv', {'id': transport.getIdtransport() }) }}" class="btn btn-warning" style="font-size: 10px;">
                                <i class="bi bi-pencil"></i>
                            </a>
						

						</td>

					</tr>
				{% endfor %}

			</tbody>
		</tbody>
	</table>
</div>
<script></script>{% endblock %}
