<div class="col-md-10 m-auto page-block">

	{{ form_start(form) }}
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">N° Dépot</label>
            {{ form_widget(form.codeDepot) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Nom Dépot</label>
			{{ form_widget(form.nomDepot) }}
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">Adresse</label>
            {{ form_widget(form.adresseDepot) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Adresse 2</label>
			{{ form_widget(form.adresseDepot2) }}
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">Code Postal</label>
            {{ form_widget(form.cpDepot) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Ville</label>
			{{ form_widget(form.villeDepot) }}
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">Nom du Contact</label>
            {{ form_widget(form.contactNom) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Prénom Contact</label>
			{{ form_widget(form.contactPrenom) }}
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">Tel du Contact</label>
            {{ form_widget(form.contactTel) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Portable Contact</label>
			{{ form_widget(form.contactPortable) }}
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">Info Horaire</label>
            {{ form_widget(form.infoOuverture) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Email du Contact</label>
			{{ form_widget(form.contactEmail) }}
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 text-end fw-bold"><label class="labels">N° Agence</label>
            {{ form_widget(form.idAgence) }}
        </div>
		<div class="col-md-4 text-end fw-bold"><label class="labels">Code Chantier</label>
			{{ form_widget(form.codeChantier) }}
		</div>
	</div>
	<div class="row mt-2">
        <div class="col-md-4"><label class="labels"></label>
            {{ form_widget(form.commentaires,{"attr":{"class":"form-control","placeholder":"Commentaires",}}) }}
        </div>        
    </div>
    <div class="mt-5 text-left">
        <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
    </div>    
    {{ form_end(form) }}
    
</div>