{% extends 'base.html.twig' %}

{% block title %}Depot index{% endblock %}

{% block body %}
    <h1>Depot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code Depot</th>
                <th>Nom Depot</th>
                <th>Adresse Depot</th>
                <th>Adresse Depot 2</th>
                <th>Cp Depot</th>
                <th>Ville Depot</th>
                <th>Contac tNom</th>
                <th>Contact Prenom</th>
                <th>Contact Tel</th>
                <th>Contact Portable</th>
                <th>Info Ouverture</th>
                <th>Contact Email</th>
                <th>Commentaires</th>
                <th>IdAgence</th>
                <th>Code Chantier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for depot in depots %}
            <tr>
                <td>{{ depot.id }}</td>
                <td>{{ depot.codeDepot }}</td>
                <td>{{ depot.nomDepot }}</td>
                <td>{{ depot.adresseDepot }}</td>
                <td>{{ depot.adresseDepot2 }}</td>
                <td>{{ depot.cpDepot }}</td>
                <td>{{ depot.villeDepot }}</td>
                <td>{{ depot.contactNom }}</td>
                <td>{{ depot.contactPrenom }}</td>
                <td>{{ depot.contactTel }}</td>
                <td>{{ depot.contactPortable }}</td>
                <td>{{ depot.infoOuverture }}</td>
                <td>{{ depot.contactEmail }}</td>
                <td>{{ depot.commentaires }}</td>
                <td>{{ depot.idAgence }}</td>
                <td>{{ depot.codeChantier }}</td>
                <td>
                    <a href="{{ path('app_society_depot_show', {'id': depot.id}) }}">show</a>
                    <a href="{{ path('app_society_depot_edit', {'id': depot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_society_depot_new') }}">Create new</a>
{% endblock %}
