{% extends 'base.html.twig' %}

{% block title %}Depot{% endblock %}

{% block body %}
    <h1>Depot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depot.id }}</td>
            </tr>
            <tr>
                <th>CodeDepot</th>
                <td>{{ depot.codeDepot }}</td>
            </tr>
            <tr>
                <th>NomDepot</th>
                <td>{{ depot.nomDepot }}</td>
            </tr>
            <tr>
                <th>AdresseDepot</th>
                <td>{{ depot.adresseDepot }}</td>
            </tr>
            <tr>
                <th>AdresseDepot2</th>
                <td>{{ depot.adresseDepot2 }}</td>
            </tr>
            <tr>
                <th>CpDepot</th>
                <td>{{ depot.cpDepot }}</td>
            </tr>
            <tr>
                <th>VilleDepot</th>
                <td>{{ depot.villeDepot }}</td>
            </tr>
            <tr>
                <th>ContactNom</th>
                <td>{{ depot.contactNom }}</td>
            </tr>
            <tr>
                <th>ContactPrenom</th>
                <td>{{ depot.contactPrenom }}</td>
            </tr>
            <tr>
                <th>ContactTel</th>
                <td>{{ depot.contactTel }}</td>
            </tr>
            <tr>
                <th>ContactPortable</th>
                <td>{{ depot.contactPortable }}</td>
            </tr>
            <tr>
                <th>InfoOuverture</th>
                <td>{{ depot.infoOuverture }}</td>
            </tr>
            <tr>
                <th>ContactEmail</th>
                <td>{{ depot.contactEmail }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ depot.commentaires }}</td>
            </tr>
            <tr>
                <th>IdAgence</th>
                <td>{{ depot.idAgence }}</td>
            </tr>
            <tr>
                <th>CodeChantier</th>
                <td>{{ depot.codeChantier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_society_depot_index') }}">back to list</a>

    <a href="{{ path('app_society_depot_edit', {'id': depot.id}) }}">edit</a>

    {{ include('society/depot/_delete_form.html.twig') }}
{% endblock %}
