{% extends 'base.html.twig' %}

{% block title %}Rib{% endblock %}

{% block body %}
    <h1>Rib</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rib.id }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ rib.iban }}</td>
            </tr>
            <tr>
                <th>Bic</th>
                <td>{{ rib.bic }}</td>
            </tr>
            <tr>
                <th>TypeDeCompte</th>
                <td>{{ rib.typeDeCompte }}</td>
            </tr>
            <tr>
                <th>NomBanque</th>
                <td>{{ rib.nomBanque }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ rib.commentaire }}</td>
            </tr>
            <tr>
                <th>EtatDuCompte</th>
                <td>{{ rib.etatDuCompte }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rib.createdAt ? rib.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ rib.updatedAt ? rib.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_society_rib_index') }}">back to list</a>

    <a href="{{ path('app_society_rib_edit', {'id': rib.id}) }}">edit</a>

    {{ include('society/rib/_delete_form.html.twig') }}
{% endblock %}
