{% set colors = {"Normale":"green","Urgent":"red","Important":"orange","Faible":"grey"} %}

<table data-bgcolor="background" data-module="module9"
       style="background-color: white; opacity: 1; position: relative; z-index: 0;" align="center" bgcolor="#212121"
       border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="editable">
            <table class="table680" data-bgcolor="body9"
                   style="border-top: 5px solid green ; background-color: #F5F5F5;" align="center" bgcolor="#EDE7E7"
                   border="0" cellpadding="0" cellspacing="0" width="800">
                <tr>
                    <td height="60">
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table class="table-inner" align="center" border="0" cellpadding="0" cellspacing="0"
                               width="600">
                            <!-- Heading -->
                            <tr>
                                <td class="text-center" data-color="m9_text1" data-link-color="m9_text1"
                                    data-link-style="text-decoration:none; color:#595959;" data-size="m9_text1"
                                    style="color: rgb(89, 89, 89); font-family: 'Raleway', sans-serif; font-size: 18px; font-weight: 600; line-height: 36px;"
                                    align="left" valign="top">
                                </td>
                            </tr>
                            <!-- End Heading -->
                            <tr>
                                <td height="20">
                                </td>
                            </tr>
                        </table>
                        <table class="table-inner" align="center" border="0" cellpadding="0" cellspacing="0"
                               width="600">
                            <tr>
                                <td class="td_600" valign="top">
                                    <table class="table2" align="left" border="0" cellpadding="0" cellspacing="0"
                                           width="600">
                                        <tr>
                                            <td valign="top">
                                                <table class="table1" align="left" border="0" cellpadding="0"
                                                       cellspacing="0" width="600">
                                                    <!-- Content -->
                                                    <tr>
                                                        <td class="text-center" data-color="m9_text2"
                                                            data-size="m9_text2"
                                                            style="color: rgb(143, 150, 161); font-family: 'Raleway', sans-serif; font-size: 15px; font-weight: 500; line-height: 26px;"
                                                            align="left" valign="top">
                                                            Demande: <a href="https://j4r.bellidev.com/demande/{{ data.id }}">{{ data.reference }}</a><br>
                                                            Nom du chantier : {{ data.nomChantier}} <br>
                                                            Client : {{ data.client.societe is not empty ? data.client.societe.raisonSociale : data.client.personne.nom  }} <br>
                                                            {% if data.maitreDOuvrage is not empty %}
                                                            Maitre d'ouvrage : {{ data.maitreDOuvrage.societe is not empty ? data.maitreDOuvrage.societe.raisonSociale : data.maitreDOuvrage.personne.nom  }} <br>
                                                            {% endif %}
                                                            CP : {{ data.codePostal }} <br>
                                                            Ville : {{ data.ville }} <br>
                                                            Attribué à:{{ data.userDevis.firstname~" "~data.userDevis.lastname }}


                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="70">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
