<div style="font-size:15px;">
	{% if data.status == 'A traiter' %}
		<p>le  ticket :
			{{ data.title }}<br><br>
			est bien envoyé
		</p>
	{% endif %}
	{% if data.status == 'En cours' and drapo == 0 %}
		<p>Votre ticket :
			{{ data.title }}<br>
			<br>
			a bien été pris en compte par
			{{ data.admin.getFirstname()  }}
			{{ data.admin.getLastName()  }}
		</p>

	{% endif %}

	{% if (data.status == 'En cours' or data.status == 'En confirmation')   and drapo == 1 %}
		<p>Votre ticket :
			{{ data.title }}<br>

			{{ data.admin.getFirstname()  }}
			{{ data.admin.getLastName()  }}
			<br>
			demande les informations :
			{{ message_information }}
		</p>

	{% endif %}
	{% if data.status == 'En confirmation' and drapo == 2 %}
		<p>Votre ticket :{{ data.title }}
			<br>
			{{ data.admin.getFirstname()  }}
			{{ data.admin.getLastName()  }}<br>
			a Résolu le ticket.</p>
		<br><p>Merci de confirmer la résolution du ticket en cliquant sur
			<a href="https://localhost:8000/ticket/{{data.id}}/assigned" target="_blank">Ticket
				{{ data.id }}</a>
		</p>

	{% endif %}

	{% if drapo == 2 %}
		<p>Votre ticket :{{ data.title }}
			est Résolu</p>
	{% endif %}

	{% if drapo == 3 %}
		<p>Votre ticket :{{ data.title }} </p>
		<p>	{{ data.creator.getFirstname()  }}
			{{ data.creator.getLastName()  }} envoyé un message : {{ message_information }} </p>
	{% endif %}
	<br>

</div>
<!DOCTYPE HTML PUBLIC "-//W3C//DTDHTML4.0Transitional//EN">


<BODY style="font-family:Verdana, Helvetica, sans-serif;">
	<table style="font-family:Verdana, Helvetica, sans-serif;" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>

				<td style="padding-right:15px;font-size:1pt; vertical-align:top; font-family:Verdana;" valign="top">
					<table style="font-family:Verdana; width: 282px; height: 150px;" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="font-family:Verdana; border-right:2px solid #149ED2; padding-right:15px; text-align: center; vertical-align:top; " valign="top">
									<a href="https://www.j4r.fr" target="_blank"><img alt="Logo J4F" style="  border:0;" height="" border="0" src="https://j4r.fr/wp-content/uploads/2020/11/ezgif.com-gif-maker-2.gif"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td style="height:100px; font-family:Verdana; vertical-align:middle;" valign="top">
					<table style="font-family:Verdana; margin-right:0; margin-left:auto;" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="font-family:Verdana; height:25px; vertical-align:middle; padding:0; text-align:left;" valign="top" align="right">
									<span style="color:#149ED2; font-family:'Montserrat'; font-size:10pt; text-decoration:none;">
										<img alt="" src="https://j4r.fr/wp-content/uploads/2020/11/envelope-solid.png"/>
										&nbsp;services@j4r.fr<span><br></span>
									</span>
								</td>
							</tr>
							<tr>
								<td style="font-family:Verdana; height:25px; vertical-align:middle; padding:0; text-align:left;" valign="middle" align="right">
									<span style="font-family:'Montserrat'; font-size:10pt;">
										<a href="https://www.j4r.fr" target="_blank" style="color:#149ED2; font-size:10pt; font-family:'Montserrat'; text-decoration:none;">
											<img alt="" src="https://j4r.fr/wp-content/uploads/2020/11/globe-solid.png"/>
											&nbsp;www.j4r.fr</a>
									</span>
								</td>
							</tr>

							<tr>
								<td style="height:25px; font-family:Verdana; vertical-align:middle;" valign="middle">
									<span style="color:#555; font-family:'Montserrat'; font-size:10pt; ">49 rue Ampère,
																																																						                                        77400 Lagny-sur-Marne<span><br></span>
									</span>
								</td>
							</tr>


						</tbody>
					</table>
				</td>
			</tr>

		</tbody>
	</table>
	<table width="" cellspacing="0" cellpadding="0" border="0" style="margin-top:11px">
		<tbody>
			<tr>
				<td style="text-align:left;color:#999999;font-size:10px;font-family:Helvetica, Arial,FreeSans, ubuntu, sans-serif;">
					<p>« Dans le respect du droit à la déconnexion, si vous recevez ce message en dehors de vos horaires
																																		                        de travail ou pendant vos congés et sauf cas d’urgence, vous n’êtes pas tenu d’y répondre avant
																																		                        votre retour».</p>
					<p>Ce message et toutes les pièces jointes sont confidentiels et établis à l'intention exclusive de
																																		                        leurs destinataires. Toute divulgation, utilisation, diffusion ou reproduction, partielle ou
																																		                        totale, de ce message ou des informations qu'il contient doit être préalablement autorisée. Tout
																																		                        message électronique est susceptible d'altération et son intégrité ne peut être assurée. J4R
																																		                        décline toute responsabilité au titre de ce message s'il a été modifié ou falsifié. Si vous
																																		                        n'êtes pas destinataire de ce message, merci de le détruire et d'avertir l'expéditeur de
																																		                        l'erreur de distribution et de la destruction du message.</p>
				</td>
			</tr>
		</tbody>
	</table>
	>
</body>
