{% block header %}
    <style>
        footer {
            position: absolute;
            bottom: 10px;
        }

        body {
            position: relative;
        }

    </style>
    <div style="text-align: right; font-size: 20px">
        <strong>Devis n°{{ devis.id }}</strong>
    </div>
    <table style="width: 100%; margin-top: 1rem;">
        <tr>
            <td style="width: 10%; border: inherit;">
                <div style="">
                    <img src="{{ asset('uploads/logo/j4r_logo_2.jpg') }}" alt="logo" style="width: 200px;">
                </div>
            </td>
            <td style="width: 15%">
                <div style="text-align: left; padding: 5px;">
                    <div style="margin-bottom: 2px"><strong><u>Affaire:</u></strong></div>
                    <br>
                    <div style="margin-bottom: 2px"><strong>{{ devis.titre }}</strong></div>
                    <br>
                    <div style="margin-bottom: 2px">{{ devis.demande.adresse1 }}</div>
                    <br>
                    <div style="margin-bottom: 2px">{{ devis.demande.codePostal~' '~devis.demande.ville }}</div>
                </div>
            </td>
            <td style="width: 15%">
                <table>
                    <tr>
                        <td><table>
                            <tr>
                                <td style="border: inherit">
                                    <div style="margin-bottom: 2px"><strong><u>Chargé d'affaire :</u></strong></div>
                                </td>
                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                        </table></td>
                    </tr>
                    <tr>
                        <td><table>
                            <tr>
                                <td style="border: inherit">
                                    <div style="margin-bottom: 2px"><strong><u>Deviseur
                                                : </u></strong> {{ devis.createur.firstname~' '~devis.createur.lastname }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: inherit">
                                    <div style="margin-bottom: 2px">Portable
                                        : {{ devis.createur.telephone is not null ? devis.createur.telephone : '' }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: inherit">
                                    <div style="margin-bottom: 2px">Email
                                        : {{ devis.createur.email is not null ? devis.createur.email : '' }}</div>
                                </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 10%; border: inherit;">
                <table style="text-align: center">
                    <tr>
                        <td style="border: inherit">
                            Date du devis :
                        </td>
                    </tr>
                    <tr>
                        <td style="border: inherit">
                            {{ devis.dateDuDevis }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: inherit">
                            N° de devis :
                        </td>
                    </tr>
                    <tr>
                        <td style="border: inherit">
                            {{ devis.id }}
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 15%">
                <table>
                    <tr>
                        <table>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </tr>
                    <tr>
                        <table>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </tr>
                </table>
            </td>
            <td style="width: 35%">
                <div style="text-align: left; padding: 5px;">
                    <div style="margin-bottom: 2px"><strong><u>Adressé à:</u></strong></div>
                    <br>
                    <div style="margin-bottom: 2px">
                        <strong>{{ devis.demande.client.societe is not empty ? devis.demande.client.societe.nom : devis.demande.client.personne.nom~' '~devis.demande.client.personne.prenom }}</strong>
                    </div>
                    <br>
                    <div style="margin-bottom: 2px"> {{ devis.demande.client.societe is not empty ? (devis.demande.contactPrincipalClient is not null ? "A l'attention de " ~ devis.demande.contactPrincipalClient.prenom ~ ' ' ~ devis.demande.contactPrincipalClient.nom : "&nbsp;") : "&nbsp;" }}</div>
                    <br>
                    <div style="margin-bottom: 2px">{{ devis.demande.client.societe is not empty ? devis.demande.client.societe.adresse1 : devis.demande.client.personne.adresse1 }}</div>
                    <br>
                    <div style="margin-bottom: 2px">{{ devis.demande.client.societe is not empty ? devis.demande.client.societe.codePostal~' '~devis.demande.client.societe.ville : devis.demande.client.personne.codePostal~' '~devis.demande.client.personne.ville }}</div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
