{% extends 'base.html.twig' %}

{% block title %}
	Agence
{% endblock %}

{% block body %}
<style>
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%; /* Set your desired width */
		padding: 10px;
	}

	.left {
		flex: 1; /* Takes up available space on the left */

	}

	.right {
		flex: 2; /* Takes up available space on the right */
		margin-left: 20px; /* Add margin for spacing between left and right */
	}

	select {
		width: 20%;
		padding: 5px;
	}
	.title_article {
		font-family: 'Poppins', sans-serif;
		color: black;
		font-size: 30px;
		margin-left: 10%;
	}
	.basic {
		width: 200px;
		height: 35px;
		background: #f5f5f5;
		font-family: 'Poppins', sans-serif;
		margin-left: 70%;


	}
</style>

<div class="example-wrapper">
	<div class="container">
		<div class="left">
			<h2 class="title_article">Agences</h2>
		</div>
		<div class="right">
			<button class="basic" id="openModalButton">
				<a href="{{ path('app_agence_add_agence') }}" class="sidebar-link  ">
					<span>
						Nouveau
					</span>
				</a>
			</button>
		</div>
	</div>
</div>
<div id="popupFormContainer"></div>

<div class="page-block col-lg-12">
	<table class="table text-center datatable" style="color: #0E4377;">
		<thead>
			<tr class="tr-head">
				<th>Id</th>
				<th>Nom Agence</th>
				<th>Adresse Agence</th>
				<th>Code Postale</th>
				<th>Ville Agence</th>
				<th>Télephone</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>

			{% for agence in agences %}
				<tr>
					<td>{{ agence.agence }}</td>
					<td>{{ agence.nomagence }}</td>
					<td>{{ agence.adresseagence }}</td>
					<td>{{ agence.cpagence }}</td>
					<td>{{ agence.villeagence }}</td>
					<td>{{ agence.contacttel }}</td>
					<td>
						<a href="{{ path('app_agence_edit_agence', {'id': agence.idagence }) }}" class="btn btn-warning"style="font-size: 10px;">
								Modifier
						</a>
					</td>

				</tr>
			{% endfor %}

		</tbody>
	</tbody>
</table></div>

{% endblock %}
