{# form pour afficher les formulaire #}


{{ form_start(form) }}
<div class="col-md-11 m-auto page-block mt-4">
	<div class="societe">
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						Article
					</div>
					<div class="col-md-9">
						{{ form_widget(form.article, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						designation
					</div>
					<div class="col-md-9">
						{{ form_widget(form.designation, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						prixvente
					</div>
					<div class="col-md-9">
						{{ form_widget(form.prixvente, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						prixloc
					</div>
					<div class="col-md-9">
						{{ form_widget(form.prixloc, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						poids
					</div>
					<div class="col-md-9">
						{{ form_widget(form.poids, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						vente
					</div>
					<div class="col-md-9">
						{{ form_widget(form.vente, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
					<div class="col-md-3 text-end label">
						location
					</div>
					<div class="col-md-9">
						{{ form_widget(form.location, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
					<div class="col-md-3 text-end label">
						consommable
					</div>
					<div class="col-md-9">
						{{ form_widget(form.consommable, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
					<div class="col-md-3 text-end label">
						conditionnement
					</div>
					<div class="col-md-9">
						{{ form_widget(form.conditionnement, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6"></div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						qtetotale
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtetotale, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						qtedispo
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtedispo, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						qtesortie
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtesortie, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						qtereserve
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtereserve, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						qtetransit
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtetransit, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						emplacement
					</div>
					<div class="col-md-9">
						{{ form_widget(form.emplacement, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						fournisseur
					</div>
					<div class="col-md-9">
						{{ form_widget(form.fournisseur, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						reffourn
					</div>
					<div class="col-md-9">
						{{ form_widget(form.reffourn, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						depot
					</div>
					<div class="col-md-9">
						{{ form_widget(form.depot, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						commentaires
					</div>
					<div class="col-md-9">
						{{ form_widget(form.commentaires, {'attr': {'class': 'form-control form-control-sm-2 societe-input required'}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">

					<div class="col-md-9">
						<a href="#regulDiv" class="btn btn-success ml-2">Regul</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<button type="submit" class="btn btn-primary">{{ button_label|default("Ajouter") }}</button>

</div>
<style>
	.hidden {
		display: none;
	}

	.hidden:target {
		display: block;
	}
</style>
<div id="regulDiv" class="hidden">
	<div class="col-md-11 m-auto page-block mt-4">
		<div class="societe">
			<div class="row form">
				<div class="col-md-4">
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Num Affaire</label>
						<select id="NumAffaire" name="NumAffaire" class="form-control form-control-sm-2 societe-input">
							{% for affaire in affaires %}
								<option value="{{affaire.id}}" {% if affaire.numaffaire == '10017WX' %} selected {% endif %}>{{affaire.numaffaire}}</option>
							{% endfor %}
						</select>
					</div>


					<div class="form-group">
						<label for="DateDu" class="font-weight-bold">Date</label>
						<input type="date" id="date" name="date" class="form-control form-control-sm-2 societe-input" value="{{ "now"|date("d-m-Y") }}">
					</div>

					<!-- Add similar blocks for other fields in the first column -->
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Type Regul</label>
						<select id="typeRegul" name="typeRegul" class="form-control form-control-sm-2 societe-input">
							<option value="1">Regul +</option>
							<option value="2">Regul -</option>
							<option value="3">Pertes sur chantier</option>
							<option value="4">Pertes dans stock</option>
							<option value="5">Vol sur chantier</option>
							<option value="6">Vol sur dépôt</option>
							<option value="7">Matériel HS chantier</option>
							<option value="8">Matériel HS Dépôt</option>
							<option value="9">Gains sur chantier</option>
							<option value="10">Gains dépôt</option>
						</select>
					</div>

					<div class="form-group" id="codeChantier" style="display:none;">
						<label for="codeChantier" class="font-weight-bold">Code Chantier</label>
						<input type="text" id="codeChantierInput" name="codeChantierInput" value="" class="form-control form-control-sm-2 societe-input required">
					</div>
					<!-- Add similar blocks for other fields in the second column -->
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="codeChantier" class="font-weight-bold">Motif</label>
						<textarea id="motif" name="motif" class="form-control form-control-sm-2 societe-input required"></textarea>
					</div>

					<div class="form-group" id="qte">
						<label for="codeChantier" class="font-weight-bold">Quantité</label>
						<input type="number" id="quantité" name="quantité" value="0" class="form-control form-control-sm-2 societe-input required">
					</div>



					<!-- Add similar blocks for other fields in the third column -->
				</div>
			</div>
		</div>
	</div>
</div>

{# voir la logique js du regul sur le fichier article/edit.html.twig #}


{{ form_end(form) }}
