{# form pour afficher les formulaire #}


{{ form_start(form) }}
<div class="col-md-11 m-auto page-block mt-4">
	<div class="societe">
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.article) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.article, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.designation) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.designation, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.prixvente) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.prixvente, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.prixloc) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.prixloc, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.poids) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.poids, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.vente) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.vente, {'attr': {'class': 'form-control form-control-sm-2 societe-input'}}) }}

					</div>
					<div class="col-md-3 text-end label">
						{{ form_label(form.location) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.location, {'attr': {'class': 'form-control form-control-sm-2 societe-input'}}) }}

					</div>
					<div class="col-md-3 text-end label">
						{{ form_label(form.consommable) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.consommable, {'attr': {'class': 'form-control form-control-sm-2 societe-input'}}) }}

					</div>
					<div class="col-md-3 text-end label">
						{{ form_label(form.conditionnement) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.conditionnement, {'attr': {'class': 'form-control form-control-sm-2 societe-input'}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6"></div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.qtetotale) }}
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtetotale, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">

				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.depot) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.depot, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.qtesortie) }}
					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtesortie, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>


			<div class="col-md-6">

				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.fournisseur) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.fournisseur, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>

			{% if show == true %}
				<div class="col-md-6">
					<div class="col-md-12 row mt-3">
						<div class="col-md-3 text-end label">
							{{ form_label(form.qtetransit) }}
						</div>
						<div class="col-md-9">
							{{ form_widget(form.qtetransit, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

						</div>
					</div>
				</div>
			{% endif %}

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.emplacement) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.emplacement, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>
			{% if show == true %}
				<div class="col-md-6">
					<div class="col-md-12 row mt-3">
						<div class="col-md-3 text-end label">
							{{ form_label(form.qtereserve) }}
						</div>
						<div class="col-md-9">
							{{ form_widget(form.qtereserve, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

						</div>
					</div>
				</div>
			{% endif %}

			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.reffourn) }}
					</div>
					<div class="col-md-9">
						{{ form_widget(form.reffourn, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						<span class="bold-text">{{ form_label(form.qtedispo) }}</span>

					</div>
					<div class="col-md-9">
						{{ form_widget(form.qtedispo, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">
					<div class="col-md-3 text-end label">
						{{ form_label(form.commentaires) }}

					</div>
					<div class="col-md-9">
						{{ form_widget(form.commentaires, {'attr': {'class': 'form-control form-control-sm-2 societe-input '}}) }}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 row mt-3">

					<div class="col-md-9">
						<a href="#regulDiv" class="btn btn-success ml-2">Regul</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<button type="submit" class="btn btn-primary">{{ button_label|default("Ajouter") }}</button>

</div>
<style>
	.hidden {
		display: none;
	}

	.hidden:target {
		display: block;
	}
</style>

{# voir la logique js du regul sur le fichier article/edit.html.twig #}


{{ form_end(form) }}
<div id="regulDiv" class="hidden">
	<div class="col-md-11 m-auto page-block mt-4">
		<div class="societe">
			<div class="row form">
				<div class="col-md-4">
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Num Affaire</label>
						<select id="NumAffaire" name="NumAffaire" class="form-control form-control-sm-2 societe-input">
							{% for affaire in affaires %}
								<option value="{{affaire.numaffaire}}" {% if affaire.numaffaire == '10017WX' %} selected {% endif %}>{{affaire.numaffaire}}</option>
							{% endfor %}
						</select>
					</div>


					<div class="form-group">
						<label for="DateDu" class="font-weight-bold">Date</label>
						<input type="date" id="date" name="date" class="form-control form-control-sm-2 societe-input" value="{{ "now"|date("d/m/Y") }}">
					</div>

					<!-- Add similar blocks for other fields in the first column -->
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Type Regul</label>
						<select id="typeRegul" name="typeRegul" class="form-control form-control-sm-2 societe-input">
							<option value="1">Regul +</option>
							<option value="2">Regul -</option>
							{% if show == false %}
								<option value="3">Pertes sur chantier</option>
								<option value="5">Vol sur chantier</option>
								<option value="7">Matériel HS chantier</option>
								<option value="9">Gains sur chantier</option>
							{% endif %}

							<option value="4">Pertes  stock</option>
							<option value="6">Vol  dépôt</option>
							<option value="8">Matériel HS Dépôt</option>
							<option value="10">Gains dépôt</option>
						</select>
					</div>
					<div id="codeChantier" style="display:none;">

						<div class="form-group">
							<label for="searchInput" class="font-weight-bold">Search</label>
							<input type="text" id="searchInput" class="form-control form-control-sm-2" placeholder="Search Chantier">
						</div>
						<div class="form-group">
							<label for="" class="font-weight-bold">Code Chantier</label>
							<select id="codeChantierInput" class="form-control form-control-sm-2 societe-input">
							<option value="-1">
						     </option>
								{% for ch in chantiers %}
									<option value="{{ ch.idchantier }}">{{ ch.numchantier }}
										-
										{{ ch.client }}
										-
										{{ ch.ville }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<!-- Add similar blocks for other fields in the second column -->
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="codeChantier" class="font-weight-bold">Motif</label>
						<textarea id="motif" name="motif" class="form-control form-control-sm-2 societe-input "></textarea>
					</div>

					<div class="form-group" id="qte">
						<label for="codeChantier" class="font-weight-bold">Quantité</label>
						<input type="number" id="quantité" name="quantité" value="0" class="form-control form-control-sm-2 societe-input ">
					</div>


					<!-- Add similar blocks for other fields in the third column -->

				</div>
			</div>
			<button class="btn btn-light" id="addMouvement">Ajouter</button>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
$("#searchInput").on("keyup", function () {
var value = $(this).val().toLowerCase();
$("#codeChantier option").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
</script>
