{% block stylesheets %}
    {{ encore_entry_link_tags('devis') }}
{% endblock %}


<style>

    #encadre-marge {
        cursor: pointer;
    }

    #menu-marge {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;
        z-index: 1;
        background: whitesmoke;
        border: 1px solid black;
        color: #0e4377;
    }
</style>

<div class="row justify-content-between">
    <div class="col-md-auto">
        <a href=" {{ referer }} ">
            <svg viewBox="0 0 24 24" style="width:50px;" focusable="false" class="chakra-icon css-onkibi"
                 aria-hidden="true">
                <path fill="currentColor" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
            </svg>
            Retour
        </a>
    </div>
</div>

<div class="row mt-4">
    <div class="page-block col-md-7 m-auto">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        {{ form_label(form.titre,'attr', {'label_attr':{'class':'labels'}}) }}
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(form.titre,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row mt-2">
                    <div class="col-md-3 text-end labels">
                        {{ form_label(form.description,'',{'label_attr':{'class':'labels'}}) }}
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(form.description,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row mt-2">
                    <div class="col-md-3 text-end">
                        <label class="labels" for="devis_referent">Referent(s)</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control tel-code" name="devis[referent][]"
                                id="devis_referent" multiple>
                            {% for user in devis.referent %}
                                <option value="{{ user.id }}" selected> {{ user.lastname~" "~user.firstname }}</option>
                            {% endfor %}
                            {% for user in users %}
                                <option value="{{ user.id }}"> {{ user.lastname~" "~user.firstname }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row mt-2">
                    <div class="col-md-3 text-end labels">
                        {{ form_label(form.statut,'',{'label_attr':{'class':'labels'}}) }}
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(form.statut,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
    <div class="col-md-4 page-block m-auto" id="encadre-marge" onclick="afficherMenu()">
        <div class="row align-items-center">

            <div class="col-md-3">
                <label for="devis_debourseTotalHT">Déboursé total HT</label>
                <input type="text" id="devis_debourseTotalHT" class="form-control"
                       value='{{ devis.debourseHT }}'
                       name="devis[debourseTotalHT]" disabled>
            </div>
            <div style="font-size: 1.5rem" class="col-md-1">
                X
            </div>
            <div class="col-md-3">

                <label for="devis_margeTotale">Marge totale</label>
                <input type="text" id="devis_margeTotale" class="form-control"
                       value='{{ devis.fraisGeneraux * devis.margeBeneficiaire }}'
                       name="devis[margeTotale]" disabled>
            </div>
            <div style="font-size: 1.5rem" class="col-md-1">
                =
            </div>
            <div class="col-md-4">

                <label for="devis_prixDeVenteHT">Prix de vente HT</label>
                <input type="text" id="devis_prixDeVenteHT" class="form-control"
                       value='{{ devis.prixDeVenteHT }}'
                       name="devis[prixDeVenteHT]" disabled>
            </div>
        </div>

    </div>
</div>

<div id="menu-marge">
    <h3 class="ms-2">Feuille de vente du devis</h3>
    <hr>
    <div class="mt-3 ms-2">
        <p>La feuille de vente permet d'analyser le chiffrage du devis et d'ajuster certains montants. Les ajustements
            réalisés dans la feuille de vente vont impacter les montants de chaque ouvrage ou lot du devis.</p>
        <div class="col-md-11 page-block mt-2">
            <h4>Marge du devis</h4>
            <div class="row align-items-center">

                <div class="col-md-3">
                    <label for="devis_fraisGeneraux">Frais généraux</label>
                    <input type="text" id="devis_fraisGeneraux" class="form-control"
                           value='{{ devis.fraisGeneraux }}'
                           name="devis[fraisGeneraux]" disabled>
                </div>
                <div style="font-size: 1.5rem" class="col-md-1">
                    X
                </div>
                <div class="col-md-3">

                    <label for="devis_margeBeneficiaire">Marge bénéficiaire</label>
                    <input type="text" id="devis_margeBeneficiaire" class="form-control"
                           value='{{ devis.margeBeneficiaire }}'
                           name="devis[margeBeneficiaire]" disabled>
                </div>
                <div style="font-size: 1.5rem" class="col-md-1">
                    =
                </div>
                <div class="col-md-4">

                    <label for="devis_margeTotalee">Marge totale</label>
                    <input type="text" id="devis_margeTotalee" class="form-control"
                           value='{{ devis.fraisGeneraux * devis.margeBeneficiaire }}'
                           name="devis[margeTotale]" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-11 page-block mt-2">
            <h4>Prix de vente du devis</h4>
            <div class="row align-items-center">

                <div class="col-md-3">
                    <label for="devis_debourseTotalHTT">Déboursé total HT</label>
                    <input type="text" id="devis_debourseTotalHTT" class="form-control"
                           value='{{ devis.debourseHT }}'
                           name="devis[debourseTotalHT]" disabled>
                </div>
                <div style="font-size: 1.5rem" class="col-md-1">
                    X
                </div>
                <div class="col-md-3">

                    <label for="devis_margeTotale">Marge totale</label>
                    <input type="text" id="devis_margeTotale" class="form-control"
                           value='{{ devis.fraisGeneraux * devis.margeBeneficiaire }}'
                           name="devis[margeTotale]" disabled>
                </div>
                <div style="font-size: 1.5rem" class="col-md-1">
                    =
                </div>
                <div class="col-md-4">

                    <label for="devis_prixDeVenteHT">Prix de vente HT</label>
                    <input type="text" id="devis_prixDeVenteHT" class="form-control"
                           value='{{ devis.prixDeVenteHT }}'
                           name="devis[prixDeVenteHT]" disabled>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mt-4 col-md-11 m-auto">
    <div class=" css-1fnl9bt">

        <div class="css-1r30cbj">

            <div class="tab-el-left"></div>
            <div class="tab-el-left">N°</div>
            <div class="tab-el-left">Dénomination</div>
            <div class="tab-el-left">Unité</div>
            <div class="tab-el-left">Quantité</div>
            <div class="tab-el-left">Déboursé U HT</div>
            <div class="tab-el-left">Déboursé Total HT</div>
            <div class="tab-el-left">Marge</div>
            <div class="tab-el-left">Prix de vente HT</div>
            <div class="tab-el-left"></div>
            {#
            <div class="tab-el">Marge</div>

     <div class="tab-el">Prix unitaire HT</div>
     <div class="tab-el">TVA</div>
     <div class="tab-el">Prix de vente HT</div>
            #}


        </div>

    </div>

    <div id="main-devis">
      <ul id="sortable-elements">
        {{ html|raw('html') }}
      </ul>
        
    </div>
</div>

<div class="row css-gg4vpm buttons">
    <div>
        <button type="button" class="css-15nl7at add-lot">
            + Créer un lot
        </button>
       {# <button type="button" class="css-15nl7at import-ouvrage">
            + Importer un ouvrage
        </button>
        <button type="button" class="css-15nl7at" id="add-ouvrage">
            + Créer un ouvrage
        </button>
        #}
    </div>
</div>

<div class="mt-5">
    <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
</div>


<script>


    let selectedElement = null;
    let selectedElementId = null;
    let selectedElementType = null;

    $('body').on('click', '.add-element-button', function () {
        let id = $(this).attr('id').replaceAll('bi-plus-circle-','');
        $(this).hide();
        $('#spinner-'+id).show();
        if($(this).attr('type') ==='lot'){
             newOuvrage(id);
        }else if($(this).attr('type') ==='ouvrage'){
            let origine = $('#devis_ouvrages_'+id+'_denomination').prop("tagName").toLowerCase() === "input" ? $('#devis_ouvrages_'+id+'_denomination').attr('origine') : $('#devis_ouvrages_'+id+'_denomination').val();
            if(origine !== null){
              newComposant(id,origine);
            }else{
                $(this).show();
                $('#spinner-'+id).hide();
            }

        }else if($(this).attr('type') ==='composant'){
        }



    });
    

    function newOuvrage(id){
            $.post('/affaire/devis/ouvrage/new/'+'{{devis.id}}'+'/'+id, function (response) {
                const data = JSON.parse(response);
               console.log(data,$('#element' + data.idParent))
                if (data.idParent != null) {
                    $('#lot-ul-'+id).append(data.html);
                } else {
                    $('#main-devis').append(data.html);
                }
                $("#bi-plus-circle-"+id).show();
                $('#spinner-'+id).hide();
            })
    }

    function newComposant(id,origine){
           $.post('/affaire/devis/composant/new/'+'{{devis.id}}'+'/'+id+'/'+origine, function (response) {
                const data = JSON.parse(response);
               console.log(data,$('#element' + data.idParent))
                if (data.idParent != null) {
                    $("#ouvrage-ul-"+data.idParent).append(data.html)
                   // $(data.html).append($('#element-' + data.idParent));
                } else {
                    $('#main-devis').append(data.html);
                }
                $("#bi-plus-circle-"+id).show();
                $('#spinner-'+id).hide();

            })
    }

    $('body').on('click', '#add-lots, .add-lot', function () {
        var parentId = selectedElementId;
        var parentType = selectedElementType;
        let path = "{{ path('app_affaire_lot_new', {'id':devis.id}) }}";
        console.log(selectedElementId);
        $.post(path, {
            parentId: selectedElementId,
            parentType: selectedElementType
        }, function (data) {
            if (code = 200) {
                if (parentId != null && parentType == "lot") {
                    $("#lot-ul"+ parentId).append(JSON.parse(data).html);
                } else {
                    $('#sortable-elements').append(JSON.parse(data).html);
                }
                $("#lot").modal('show');
                $('.svg').remove();
                $('.organisation').remove();
                const lotId = data.lot;
            }
        })

    })

    $('body').on('click', '#delete-lot, #delete-ouvrage,.delete-composant', function () {
        var id = selectedElementId;

        let parentId = null;


        if(selectedElement.parent().parent() && selectedElement.parent().parent().attr('id')){
                parentId = selectedElement.parent().parent().attr('id').replace('ouvrage-ul-','').replace('lot-ul-','');
        }

        let path = "{{ path('app_affaire_devis_element_delete', {'id':devis.id}) }}";
        $.post(path, {
            id: selectedElementId,
            type: selectedElementType
        }, function (data) {
            if (code = 200) {
                if (id != null) {
                    if ($('#element-' + id).next().hasClass('children')) {
        
                        $('#element-' + id).next().remove();
                    }
                    $('#element-' + id).remove();

                    console.log(parentId);

                    while (parentId) {
                        let sumParent = 0;
                        console.log(parentId);

                        $("[parent-dht='" + parentId + "']").each(function () {
                            let debourseOuvrage = parseFloat($('#devis_ouvrages_' + $(this).attr('ouvrage') + '_debourseTotalHT').val());
                            if (!isNaN(debourseOuvrage)) {
                                sumParent += debourseOuvrage;
                                console.log(sumParent);
                            }
                        });
                        $("[parent-dtht='" + parentId + "']").each(function () {
                            let debourseLot = parseFloat($('#devis_lots_' + $(this).attr('lot') + '_debourse').val());
                            if (!isNaN(debourseLot)) {
                                sumParent += debourseLot;
                                console.log(sumParent);
                            }
                        });
                        $("#devis_lots_" + parentId + "_debourse").val(sumParent.toFixed(2));

                        parentId = $("#devis_lots_" + parentId + "_debourse").attr('parent-dtht');
                        console.log(parentId);
                    }

                }
            }
        })

    })

    $("body").on('click', '#import-ouvrage', function () {
        $('#modal-import-ouvrage').remove();

        $.post('{{ path("app_affaire_modal_ouvrage_liste", {"id":devis.id}) }}', function (response) {
            const data = JSON.parse(response);
            $('body').append(data.html);
            $("#modal-import-ouvrage").modal("show");
            $('.datatable').DataTable({
                "oLanguage": {
                    sSearch: "",
                    searchPlaceholder: "Chercher"

                },
                language: {
                    searchPlaceholder: "Chercher"
                },
                order: [[0, 'desc']],
                pageLength: 25,


            });
        })
    })

    $('body').on('click', '#dupliquer-lot, #dupliquer-ouvrage', function () {
        let path = "{{ path('app_affaire_element_dupliquer', {'id':devis.id}) }}";
        let idParent = $(this).parent().parent().attr('parent');
        var id = selectedElementId;
        $.post(path, {
            id: selectedElementId,
            type: selectedElementType,
            idParent: idParent
        }, function (data) {
            if (code = 200) {
                console.log(data.idParent);
                if (data.idParent != null) {
                    $(JSON.parse(data).html).insertAfter('#element' + data.idParent);
                } else {
                    $('#main-devis').append(JSON.parse(data).html);
                }
                $("#lot").modal('show');
            }
        })


    })

    $('body').on('click', '.menu-lot', function () {
        let div = `<div class="context-menu">
                    <div class="item-menu" id="import-ouvrage"><i class="bi bi-reply-all-fill"></i>Importer des ouvrages</div>
                    <div class="item-menu" id="add-lots"><i class="bi bi-plus-square"></i>Créer un sous-lot</div>
                    <div class="item-menu" id="dupliquer-lot"><i class="bi bi-stickies"></i>Dupliquer</div>
                    <div class="item-menu" id="delete-lot"><i class="bi bi-trash-fill"></i>Supprimer</div>
                </div>`;
        div =  `<div class="context-menu">
                    <div class="item-menu" id="dupliquer-lot"><i class="bi bi-stickies"></i>Dupliquer</div>
                    <div class="item-menu" id="delete-lot"><i class="bi bi-trash-fill"></i>Supprimer</div>
                </div>`;
        $(this).parent().parent().parent().parent().parent().parent().append(div);
    })

    $('body').on('click', '.menu-ouvrage', function () {
        let div = `<div class="context-menu">
                    <div class="item-menu" id="dupliquer-ouvrage"><i class="bi bi-stickies"></i>Dupliquer</div>
                    <div class="item-menu" id="delete-ouvrage"><i class="bi bi-trash-fill"></i>Supprimer</div>
                </div>`;

        $(this).parent().parent().parent().parent().parent().parent().append(div);
    })

    $('body').on('click', '.composant', function () {
        let id = $(this).attr('ouvrage');
        let path = '/affaire/bibliothequeDePrix/ouvrage/composant/liste/' + id;
        if ($("#modal-liste-composant").attr('ouvrage') != id) {
            $.post(path, function (data) {
                if (code = 200) {
                    $("#modal-liste-composant").remove();
                    $('body').append(JSON.parse(data).message);
                    $("#modal-liste-composant").modal('show');
                }

            })
        } else if ($("#modal-liste-composant").attr('ouvrage') == id) {
            $("#modal-liste-composant").modal('show');
        }
    })

    $('body').on('click', '#modifier-ouvrage', function () {
        let id = selectedElementId;
        console.log(id);
        let path = '/affaire/bibliothequeDePrix/ouvrage/' + id;
        window.location.href = path;
    })

    $('body').on('click', '#sortable-elements li', function () {
        let firstDiv = $(this).find('div:first');
        selectedElement = firstDiv;
        selectedElementId = firstDiv.attr('id').replaceAll('element-', '');
        selectedElementType = firstDiv.attr('type');
        console.log('ici')
    });

    function hasSomeParentTheClass(element, classname) {
        if (element.className && element.className.split(' ').indexOf(classname) >= 0) {
            return true;
        } else if (element.parentNode) {
            hasSomeParentTheClass(element.parentNode, classname)
        } else {
            return false
        }
    }


    $('body').on('click', function (event) {
        console.log(event.target)
        if (!$(event.target).hasClass('import-ouvrage') && !$(event.target).hasClass('delete-composant') && $(event.target).attr('id') != 'import-ouvrage' && !$(event.target).hasClass('check-ouvrage') && !$(event.target).hasClass('paginate_button'))
            $('.selected').each(function () {
                $(this).removeClass('selected');
                selectedElement = null;
                selectedElementId = null;
                selectedElementType = null;
                $('.context-menu').remove();
            });
        const selector = '.elements .' + (event.target.classList[0] ? event.target.classList[0] : "unselect");
        if (document.querySelector(selector) && selectedElement) {

            if ($(event.target).is('li') && selectedElement) {
                let firstDiv = $(this).find('div:first');
                firstDiv.addClass('selected');
                selectedElement = $(this);
                selectedElementId = firstDiv.attr('id').replaceAll('element-', '');
                selectedElementType = firstDiv.attr('type');
            } else {
                const closestLi = $(event.target).closest('li');
                if (closestLi.length && selectedElement) {
                    let firstDiv = closestLi.find('div:first');
                    firstDiv.addClass('selected');
                    selectedElement = firstDiv;
                    selectedElementId = firstDiv.attr('id').replaceAll('element-', '');
                    selectedElementType = firstDiv.attr('type');
                }
            }
        }
    });


    function submitImportOuvrageEvent(event) {
        var parentId = selectedElementId;
        var parentType = selectedElementType;
        event.preventDefault();
        //console.log(parentId, parentType);
        let data = {};
        $('.check-ouvrage').each(function (index) {
            if ($(this).is(':checked')) {
                console.log($(this).val());
                data[index] = {
                    parentId: selectedElementId,
                    parentType: selectedElementType,
                    id: $(this).val(),
                    order: null,
                }
            }
        })

        $.post("{{ path('app_affaire_ouvrage_import',{'id':devis.id}) }}", data, function (response) {
            let data = JSON.parse(response);
            if (data.code === 200) {

                $("#modal-import-ouvrage").modal("show");
                if (data.code === 200) {
                    $('#ouvrage-import-success').show();
                    setTimeout(() => {
                        $('#modal-import-ouvrage').modal('hide');
                        $('#modal-import-ouvrage').remove();

                    }, "1000");
                    if (parentId != null && parentType == "lot") {
                        $("<div class='children' parent='lot-" + parentId + "'>" + data.html + "</div>").insertAfter($('#element-' + parentId));
                        //console.log(parentId);
                        while (parentId) {
                            let sumParent = 0;

                            $("[parent-dht='" + parentId + "']").each(function () {
                                let debourseOuvrage = parseFloat($('#devis_ouvrages_' + $(this).attr('ouvrage') + '_debourseTotalHT').val());
                                if (!isNaN(debourseOuvrage)) {
                                    sumParent += debourseOuvrage;
                                    console.log(sumParent);
                                }
                            });
                            $("[parent-dtht='" + parentId + "']").each(function () {
                                let debourseLot = parseFloat($('#devis_lots_' + $(this).attr('lot') + '_debourse').val());
                                if (!isNaN(debourseLot)) {
                                    sumParent += debourseLot;
                                    console.log(sumParent);
                                }
                            });
                            $("#devis_lots_" + parentId + "_debourse").val(sumParent.toFixed(2));

                            parentId = $("#devis_lots_" + parentId + "_debourse").attr('parent-dtht');
                        }

                    } else {
                        $('#main-devis').append(data.html);
                    }
                    $('.svg').remove();
                    $('.organisation').remove();
                    $('.css-gg4vpm').show();


                } else {
                    $('#ouvrage-import-danger').show();
                    setTimeout(() => {
                        $('#modal-import-ouvrage').modal('hide');
                        $('#modal-import-ouvrage').remove();
                    }, "3000")
                }
                //    location.reload();

            }
        })
    }

    $(".import-ouvrage").click(function () {
        $('#modal-import-ouvrage').remove();

        $.post('{{ path("app_affaire_modal_ouvrage_liste", {"id":devis.id}) }}', function (response) {
            const data = JSON.parse(response);
            $('body').append(data.html);
            $("#modal-import-ouvrage").modal("show");
            $('.datatable').DataTable({
                "oLanguage": {
                    sSearch: "",
                    searchPlaceholder: "Chercher"

                },
                language: {
                    searchPlaceholder: "Chercher"
                },
                order: [[0, 'desc']],
                pageLength: 25,


            });
        })
    })

    $('#add-ouvrage').click(function () {
        $('#modal-ouvrage').remove();
        let path = "{{ path('app_affaire_modal_ouvrage') }}";
        $.post(path, function (data) {
            $('body').append(JSON.parse(data).message);
            $("#modal-ouvrage").modal('show');

        })
    })

    function sumHT(quantite, prixUnite, id, parent = null) {
        let sum = quantite * prixUnite;
        let sumParent = 0;
        $('#devis_ouvrages_' + id + '_debourseTotalHT').val(sum);
        console.log(parent)
        if (parent) {
            $("[parent-dht='" + parent + "']").each(function () {
                let quantite2 = parseInt($('#devis_ouvrages_' + $(this).attr('ouvrage') + '_quantite').val());
                let prixUnite2 = parseFloat($('#devis_ouvrages_' + $(this).attr('ouvrage') + '_debourseUnitaireHT').val().replace(',', '.'));
                sumParent += quantite2 * prixUnite2;
            })
            $("#devis_lots_" + parent + "_debourseUnitaireHT").val(sumParent)

        }

        return sum;
    }

    $('body').on("change", '.select-ouvrage', function () {
        
            let id = $(this).attr('ouvrage');
            let origine = $(this).val();

            let path = '/affaire/devis/ouvrage/origine/add/'+ "{{devis.id }}" +"/"+ id+'/'+origine;

            $.post(path, function (response) {
                let data = JSON.parse(response);
                if (data.code === 200) {
               //     $('#devis_ouvrages_'+id+'_unite').val(data.data.unite);
                    $('#ouvrage-ul-'+id).append(data.html)
                    $('#devis_ouvrages_'+id+'_quantite').val(data.data.quantite);
                    $('#devis_ouvrages_'+id+'_marge').val(data.data.marge);
                    $('#devis_ouvrages_'+id+'_code').val(data.data.code);
                    $("ul").find("[parent='ouvrage-" + id + "']").append(data.data.html); 


                    $('#devis_ouvrages_'+id+'_denomination').attr('disabled',true);
                }
            })
    })

    function calculDebourseTotalHT(quantite,prixUnitaireHT,id,type){
        const debourseTotalHT = (quantite * prixUnitaireHT).toFixed(2);
        $("#devis_"+type+"_"+id+"_debourseTotalHT").attr('value',debourseTotalHT)
        return debourseTotalHT;
    }
    function calculPrixDeVente(quantite,prixUnitaireHT, marge, id,type){
        const prixDeVenteHt = (quantite * prixUnitaireHT * marge).toFixed(2);
        $("#devis_"+type+"_"+id+"_prix_de_vente").attr('value',prixDeVenteHt)
        return prixDeVenteHt ;
    }
    $('body').on("change", 'input', function () {
        let type = $(this).attr('element');
        console.log(type);
        if (type === 'ouvrages') {
            let id = $(this).attr('ouvrage');
            let quantite = parseInt($('input[name="devis[ouvrages][' + id + '][quantite]"]').val());
            let prixUnite = parseFloat($('input[name="devis[ouvrages][' + id + '][debourseUnitaireHT]"]').val().replace(',', '.'));
            let marge = parseFloat($('input[name="devis[ouvrages][' + id + '][marge]"]').val().replace(',', '.'));
            const debourseTotalHT = calculDebourseTotalHT(quantite,prixUnite,id,type);
            const prixDeVenteHt = calculPrixDeVente(quantite,prixUnite,marge,id,type);
            //let sum = sumHT(quantite, prixUnite, id, $(this).attr('parent-dht') ? $(this).attr('parent-dht') : $(this).attr('parent-quantite'));

            const ouvrage = {
                code: $('input[name="devis[ouvrages][' + id + '][code]"]').val(),
                denomination: $('input[name="devis[ouvrages][' + id + '][denomination]"]').val(),
                unite: "",//$('input[name="devis[ouvrages][' + id + '][unite]"]').val(),
                quantiteDOuvrage: quantite,
                duht: prixUnite,
                dtht: debourseTotalHT,
                note: null,
                marge:marge,
            }

            console.log(ouvrage);

            let path = '/affaire/bibliothequeDePrix/ouvrage/edit/' + id;

            $.post(path, {ouvrage}, function (response) {
                let data = JSON.parse(response);
                if (data.code === 200) {
                }
            })

            let parentId = $(this).attr('parent-dht') ? $(this).attr('parent-dht') : $(this).attr('parent-quantite');
            /*while (parentId) {
                let sumParent = 0;
                console.log(parentId);

                $("[parent-dht='" + parentId + "']").each(function () {
                    let debourseOuvrage = $('#devis_ouvrages_' + $(this).attr('ouvrage') + '_debourseTotalHT').val().replace(',', '.');
                    debourseOuvrage = isNaN(debourseOuvrage) ? 0 : parseFloat(debourseOuvrage);
                    sumParent += debourseOuvrage;
                    //console.log(sumParent);
                });
                $("[parent-dtht='" + parentId + "']").each(function () {
                    let debourseLot = $('#devis_lots_' + $(this).attr('lot') + '_debourseUnitaireHT').val();
                    debourseLot = isNaN(debourseLot) ? 0 : parseFloat(debourseLot);
                    sumParent += debourseLot;
                    //console.log(sumParent);
                });

                console.log(parentId);
                $("#devis_lots_" + parentId + "_debourseUnitaireHT").val(sumParent.toFixed(2));

                const lot = {
                    code: $('input[name="devis[lots][' + parentId + '][code]"]').val(),
                    titre: $('input[name="devis[lots][' + parentId + '][titre]"]').val(),
                    quantite: parseInt($('input[name="devis[lots][' + parentId + '][quantite]"]').val()),
                    prix: sumParent
                };
                let path2 = '/affaire/devis/edit/lot/' + parentId;

                parentId = $("#devis_lots_" + parentId + "_debourseUnitaireHT").attr('parent-dtht');
                console.log(lot);

                $.post(path2, {lot}, function (response) {
                    let data = JSON.parse(response);
                    if (data.code === 200) {
                        //           console.log(data, lot);
                    }
                })

            }*/
        }


        if (type == "lots") {
            let id = $(this).attr('lot');
       
            /*$("[parent-quantite='" + id + "']").each(function () {
                let idOuvrage = $(this).attr('ouvrage');
                let quantite = parseInt($('input[name="devis[lots][' + id + '][quantite]"]').val());
                $('input[name="devis[ouvrages][' + idOuvrage + '][quantite]"]').val(quantite);
                let prixUnite = parseFloat($('input[name="devis[ouvrages][' + idOuvrage + '][debourseUnitaireHT]"]').val().replace(',', '.'));
                let sum = sumHT(quantite, prixUnite, idOuvrage, $(this).attr('parent-dht') ? $(this).attr('parent-dht') : $(this).attr('parent-quantite'));

                const ouvrage = {
                    code: $('input[name="devis[ouvrages][' + idOuvrage + '][code]"]').val(),
                    denomination: $('input[name="devis[ouvrages][' + idOuvrage + '][denomination]"]').val(),
                    unite: $('input[name="devis[ouvrages][' + idOuvrage + '][unite]"]').val(),
                    quantiteDOuvrage: quantite,
                    duht: prixUnite,
                    dtht: sum,
                    note: null
                }
                //  console.log(ouvrage);

                let path = '/affaire/bibliothequeDePrix/ouvrage/edit/' + idOuvrage;

                $.post(path, {ouvrage}, function (response) {
                    let data = JSON.parse(response);
                    if (data.code === 200) {
                    }
                })
            });*/

            let quantite = parseFloat($('input[name="devis[lots][' + id + '][quantite]"]').val());
            let prixUnite = parseFloat($('input[name="devis[lots][' + id + '][debourseUnitaireHT]"]').val());
            let marge = parseFloat($('input[name="devis[lots][' + id + '][marge]"]').val().replace(',', '.'));
            const debourseTotalHT = calculDebourseTotalHT(quantite,prixUnite,id,type);
            const prixDeVenteHt = calculPrixDeVente(quantite,prixUnite,marge,id,type);

            console.log(quantite,prixUnite,marge,id)

            const lot = {
                code: $('input[name="devis[lots][' + id + '][code]"]').val(),
                titre: $('input[name="devis[lots][' + id + '][titre]"]').val(),
                quantite: quantite,
                prix: prixUnite,
                marge:marge
            };


            let path = '/affaire/devis/edit/lot/' + id;

            $.post(path, {lot}, function (response) {
                let data = JSON.parse(response);
                if (data.code === 200) {
                    //           console.log(data, lot);
                }
            })

            let parentId = $(this).attr('parent-quantite');
            while (parentId) {
                let sumQuantiteParent = 0;
                let sumPrixParent = 0;
                console.log(parentId);

                $("[parent-quantite='" + parentId + "']").each(function () {
                    let quantite = ($('#devis_ouvrages_' + $(this).attr('ouvrage') + '_quantite').val()) ? $('#devis_ouvrages_' + $(this).attr('ouvrage') + '_quantite').val() : $('#devis_lots_' + $(this).attr('lot') + '_quantite').val();
                    quantite = isNaN(quantite) ? 0 : parseInt(quantite);
                    sumQuantiteParent += quantite;
                    //console.log(sumParent);
                    let prix = ($('#devis_ouvrages_' + $(this).attr('ouvrage') + '_debourseTotalHT').val()) ? $('#devis_ouvrages_' + $(this).attr('ouvrage') + '_debourseTotalHT').val() : $('#devis_lots_' + $(this).attr('lot') + '_debourseUnitaireHT').val();
                    prix = isNaN(prix) ? 0 : parseFloat(prix);
                    sumPrixParent += prix;
                });

                //console.log(parentId);
                $("#devis_lots_" + parentId + "_quantite").val(sumQuantiteParent);
                $("#devis_lots_" + parentId + "_debourseUnitaireHT").val(sumPrixParent.toFixed(2));

                const lot = {
                    code: $('input[name="devis[lots][' + parentId + '][code]"]').val(),
                    titre: $('input[name="devis[lots][' + parentId + '][titre]"]').val(),
                    quantite: sumQuantiteParent,
                    prix: sumPrixParent,
                };
                let path2 = '/affaire/devis/edit/lot/' + parentId;

                parentId = $("#devis_lots_" + parentId + "_debourseUnitaireHT").attr('parent-dtht');
                console.log(lot);

                $.post(path2, {lot}, function (response) {
                    let data = JSON.parse(response);
                    if (data.code === 200) {
                        //           console.log(data, lot);
                    }
                })

            }
        }
    })

    $('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.\,]/g, '');
    });

    function afficherMenu() {
        $('#menu-marge').css('display', 'block');
    }

    $(document).on('click', function(e) {
        if(!$(e.target).closest('#menu-marge').length) {
            $('#menu-marge').css('display', 'none');
        }
    });

    $('#encadre-marge').on('click', function(e) {
        e.stopPropagation();
        afficherMenu();
    });



</script>

