<style>

    .selected {
        border: 1px solid #006DAA !important;
        border-left-width: 5px !important;
    }
    .labels {
        font-size: 11px;
        color: #0d4377;
        font-weight: bold;
    }

    .bg-leasy {
        background: #e2e8ed;
        border-radius: 5px;
    }

    .bi {
        font-size: 1.5rem;
    }

    .css-1r30cbj {
        display: grid;
        grid-gap: 1rem;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-columns: 3rem 6rem minmax(15rem, 1fr) 5rem 6rem 8rem 10rem 7rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        flex: 1 1 0%;
    }

    .css-1fnl9bt {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #D9E2EC;
        font-weight: 600;
        color: #486581;
        font-family: Lato, sans-serif;
        background: #ffffff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .css-1ip68u7 {
        display: flex;
        border-bottom: 1px solid rgb(217, 226, 236);
        border-top-color: rgb(217, 226, 236);
        border-right-color: rgb(217, 226, 236);
        background-color: #fff1db;
        border-left: 2px solid rgb(249, 112, 62);
    }

    .css-ccobzb {
        display: flex;
        border-bottom: 1px solid rgb(188, 204, 220);
        border-top-color: rgb(188, 204, 220);
        border-right-color: rgb(188, 204, 220);
        border-left-color: rgb(188, 204, 220);
        background-color: rgba(217, 226, 236, 0.5);
    }

    .tab-el-left {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 100%;
        min-height: 3.125rem;
    }

    .tab-el-right {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        font-size: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 100%;
        min-height: 3.125rem;
        text-align: right;
    }

    .main-devis > input {
        width: 100%;
        min-width: 0px;
        outline: transparent solid 2px;
        outline-offset: 2px;
        position: relative;
        appearance: none;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 200ms;;
        font-size: 1rem;
        padding-inline: 0px;
        height: 1.8rem;
        border-radius: 0px;
        background: #00000000;
        color: #486581;
        border-bottom-color: #00000000;
        opacity: 1;
        padding: 0;
        border: 0;
    }

    .sous-lot {
        margin-left: 0.5rem;
    }

    .organisation {
        width: 100%;
    }

    .organisation2 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .organisation3 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        width: 15rem;
    }

    .ligne {
        opacity: 0.6;
        border-width: 0px 0px 1px;
        border-image: initial;
        border-color: inherit;
        border-style: solid;
        width: 100%;
        color: grey;
    }

    .lot-button {
        margin-inline: 0px;
        margin-bottom: 0px;
        display: inline-flex;
        appearance: none;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        user-select: none;
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        outline: transparent solid 2px;
        outline-offset: 2px;
        line-height: 1.2;
        border-radius: 0.25rem;
        font-weight: 600;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 200ms;
        height: 2.5rem;
        min-width: 2.5rem;
        font-size: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        background: #109cf1;
        color: #FFFFFF;
        width: 100%;
        font-family: Lato, sans-serif;
        border-color: inherit;
    }

    .ouvrage-button {
        margin-top: 1rem;
        margin-inline: 0px;
        margin-bottom: 0px;
        display: inline-flex;
        appearance: none;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        user-select: none;
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        outline: transparent solid 2px;
        outline-offset: 2px;
        line-height: 1.2;
        border-radius: 0.25rem;
        font-weight: 600;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 200ms;
        height: 2.5rem;
        min-width: 2.5rem;
        font-size: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        border: 1px solid currentcolor;
        color: #0D8CD9;
        background: transparent;
        width: 100%;
        font-family: Lato, sans-serif;
    }

    .svg {
        width: 12rem;
        height: 12rem;
        display: inline-block;
        line-height: 1em;
        flex-shrink: 0;
        color: currentcolor;
        vertical-align: middle;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .css-15nl7at {
        display: inline-flex;
        appearance: none;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        user-select: none;
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        outline: transparent solid 2px;
        outline-offset: 2px;
        line-height: 1.2;
        border-radius: 0.25rem;
        font-weight: 600;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 200ms;
        height: 2.5rem;
        min-width: 2.5rem;
        font-size: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        background: none;
        width: min-content;
        opacity: 1;
        color: #109cf1;
        font-family: Lato, sans-serif;
        border-color: transparent;
        overflow-wrap: break-word;
    }

    .css-15nl7at:hover {
        color: #006DAA;
    }

    .css-gg4vpm {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

</style>

<div class="page-block col-md-10 m-auto mt-4">

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    {{ form_label(form.titre,'attr', {'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.titre,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end labels">
                    {{ form_label(form.description,'',{'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.description,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end labels">
                    {{ form_label(form.referent,'',{'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.referent,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end labels">
                    {{ form_label(form.statut,'',{'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.statut,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row justify-content-center main-devis">
    {% if devis.elements is empty %}
    <svg viewBox="0 0 200 200" focusable="false" class="svg">
        <circle cx="100" cy="100" r="100" fill="white"></circle>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M71.5698 35.1369C69.1936 36.0059 65.8383 35.8552 62.3071 34.6683C60.0434 37.6269 57.346 39.6281 54.89 40.2364C54.021 37.8601 54.1717 34.5049 55.3586 30.9737C52.4 28.7099 50.3988 26.0126 49.7905 23.5566C52.1668 22.6875 55.522 22.8382 59.0532 24.0251C61.317 21.0665 64.0143 19.0654 66.4703 18.457C67.3393 20.8333 67.1886 24.1886 66.0017 27.7197C68.9603 29.9835 70.9615 32.6809 71.5698 35.1369ZM33.3381 135.979C31.873 136.933 29.5902 137.353 27.0278 137.103C25.9633 139.447 24.458 141.214 22.8987 142.006C21.9441 140.541 21.524 138.258 21.7742 135.695C19.43 134.631 17.6631 133.126 16.8716 131.566C18.3367 130.612 20.6195 130.192 23.1819 130.442C24.2464 128.098 25.7516 126.331 27.3109 125.539C28.2656 127.004 28.6857 129.287 28.4354 131.85C30.7797 132.914 32.5466 134.419 33.3381 135.979ZM122.192 171.591C124.105 174.183 126.408 175.955 128.522 176.518C129.31 174.476 129.23 171.572 128.257 168.501C130.849 166.588 132.621 164.286 133.184 162.171C131.142 161.384 128.238 161.463 125.167 162.436C123.254 159.844 120.952 158.073 118.837 157.51C118.05 159.551 118.129 162.455 119.102 165.526C116.51 167.439 114.739 169.742 114.176 171.856C116.217 172.644 119.121 172.564 122.192 171.591ZM189.722 79.3415C187.475 78.7432 185.029 76.8613 182.997 74.1067C179.733 75.1405 176.648 75.2252 174.479 74.3886C175.077 72.1419 176.959 69.6957 179.714 67.6632C178.68 64.3998 178.595 61.3147 179.432 59.1453C181.678 59.7436 184.125 61.6255 186.157 64.3801C189.42 63.3463 192.506 63.2616 194.675 64.0982C194.077 66.3449 192.195 68.7911 189.44 70.8236C190.474 74.087 190.559 77.1721 189.722 79.3415Z"
              fill="#83CDFA"></path>
        <g clip-path="url(#clip0)">
            <path d="M143.746 114.068H140.645V100L116.416 96.0938L120.322 131.289C123.776 131.289 126.577 134.089 126.577 137.543V140.645H140.645V126.577H143.746C147.2 126.577 150 123.776 150 120.322C150 116.868 147.2 114.068 143.746 114.068Z"
                  fill="#27BE6C"></path>
            <path d="M120.322 100L96.0936 96.0938L86.2988 119.298L99.9998 140.645H114.068V137.543C114.068 134.089 116.868 131.289 120.322 131.289V100Z"
                  fill="#BBF3D5"></path>
            <path d="M96.8988 114.068H100V100L75.7715 84.7852L79.6777 150C83.1318 150 85.932 147.2 85.932 143.746V140.645H100V126.577H96.8988C93.4447 126.577 90.6445 123.776 90.6445 120.322C90.6445 116.868 93.4447 114.068 96.8988 114.068Z"
                  fill="#F33725"></path>
            <path d="M79.6772 84.7852L59.355 100V114.068H62.4562C65.9103 114.068 68.7105 116.868 68.7105 120.322C68.7105 123.776 65.9103 126.577 62.4562 126.577H59.355V140.645H73.423V143.746C73.423 147.2 76.2231 150 79.6772 150V90.6445V84.7852Z"
                  fill="#FA8E84"></path>
            <path d="M137.543 73.4234H140.645V59.3555H126.577V56.2543C126.577 52.8002 123.776 50 120.322 50L116.416 79.6777L120.322 109.355C123.776 109.355 126.577 106.555 126.577 103.101V100H140.645V85.932H137.543C134.089 85.932 131.289 83.1318 131.289 79.6777C131.289 76.2236 134.089 73.4234 137.543 73.4234Z"
                  fill="#FFB946"></path>
            <path d="M120.322 50C116.868 50 114.068 52.8002 114.068 56.2543V59.3555H100L96.0938 79.6777L100 100H114.068V103.101C114.068 106.555 116.868 109.355 120.322 109.355V50Z"
                  fill="#FFDCAF"></path>
            <path d="M103.101 73.4234H100V59.3555H85.932V62.4566C85.932 65.9107 83.1318 68.7109 79.6777 68.7109L75.7715 79.6777L79.6777 90.6445C83.1318 90.6445 85.932 93.4447 85.932 96.8988V100H100V85.932H103.101C106.555 85.932 109.355 83.1318 109.355 79.6777C109.355 76.2236 106.555 73.4234 103.101 73.4234Z"
                  fill="#0D8CD9"></path>
            <path d="M73.4234 62.4566V59.3555H59.3555V73.4234H56.2543C52.8002 73.4234 50 76.2236 50 79.6777C50 83.1318 52.8002 85.932 56.2543 85.932H59.3555V100H73.4234V96.8988C73.4234 93.4447 76.2236 90.6445 79.6777 90.6445V68.7109C76.2236 68.7109 73.4234 65.9109 73.4234 62.4566Z"
                  fill="#B0E2FF"></path>
        </g>
        <defs>
            <clipPath id="clip0">
                <rect width="100" height="100" fill="white" transform="translate(50 50)"></rect>
            </clipPath>
        </defs>
    </svg>
</div>
<div class="organisation">
    <div class="organisation2">
        <div class="organisation3">
            <button type="button" class="lot-button" id="add-lot">Créer un lot</button>
            <hr aria-orientation="horizontal" class="ligne">
            <button type="button" class="lot-button import-ouvrage">Importer des ouvrages</button>
            <button type="button" class="ouvrage-button" id="add-ouvrage">Créer un ouvrage</button>
        </div>
    </div>
</div>
{% endif %}


<div class="mt-4 col-md-11 m-auto">
    <div class=" css-1fnl9bt">

        <div class="css-1r30cbj">

            <div class="tab-el-left"></div>
            <div class="tab-el-left">N°</div>
            <div class="tab-el-left">Dénomination</div>
            <div class="tab-el-right">Unité</div>
            <div class="tab-el-right">Quantité</div>
            <div class="tab-el-right">Déboursé HT</div>
            <div class="tab-el-right">Déboursé Total HT</div>
            <div class="tab-el-right"></div>
            {#
            <div class="tab-el">Marge</div>

     <div class="tab-el">Prix unitaire HT</div>
     <div class="tab-el">TVA</div>
     <div class="tab-el">Prix de vente HT</div>
            #}


        </div>

    </div>

    <div id="main-devis">

        {{ html|raw('html') }}

        {# {% for ouvrage in devis %}


            <div class="elements" id="element-{{ ouvrage.id }}">

                <div class="{{ ouvrage.unite is empty or ouvrage.quantiteDOuvrage is empty or ouvrage.prixUnitaireDebourse is empty ? "css-1ip68u7" : "css-ccobzb" }}">
                    <div class="css-1r30cbj">
                        <div class="tab-el-left"></div>
                        <div class="tab-el-left"></div>
                        <div class="tab-el-left">
                            <input type="text" id="devis_ouvrages_{{ loop.index }}_denomination"
                                   name="devis[ouvrages][{{ loop.index }}][denomination]" required="required"
                                   maxlength="255"
                                   class="chakra-input" value="{{ ouvrage.denomination }}">
                        </div>
                        <div class="tab-el-left">
                            <input type="text" id="devis_ouvrages_{{ loop.index }}_unite"
                                   name="devis[ouvrages][{{ loop.index }}][unite]" required="required"
                                   maxlength="255"
                                   class="chakra-input" value="{{ ouvrage.unite }}">

                        </div>
                        <div class="tab-el-right">
                            <input type="text" id="devis_ouvrages_{{ loop.index }}_quantite"
                                   name="devis[ouvrages][{{ loop.index }}][quantite]" required="required"
                                   maxlength="255"
                                   class="chakra-input" value="{{ ouvrage.quantiteDOuvrage }}">
                        </div>
                        <div class="tab-el-right">
                            <input type="text" id="devis_ouvrages_{{ loop.index }}_prixUnitaire"
                                   name="devis[ouvrages][{{ loop.index }}][prixUnitaire]" required="required"
                                   maxlength="255"
                                   class="chakra-input" value="{{ ouvrage.prixUnitaireDebourse }}">
                        </div>
                        <div class="tab-el-right">
                            <input type="text" id="devis_ouvrages_{{ loop.index }}debourseht"
                                   name="devis[ouvrages][{{ loop.index }}][debourseht]" required="required"
                                   maxlength="255"
                                   class="chakra-input" value="{{ ouvrage.debourseHTCalcule }}">
                        </div>
                        <div class="tab-el-right row justify-content-center">
                            <div class="col-md-auto">
                                <a href="#"><i class="bi bi-plus-circle"></i></a>
                            </div>
                            <div class="col-md-auto">
                                <a href="#"><i class="bi bi-three-dots"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}



        {% for lot in form.lots %}
        <div class="css-ccobzb lot">
            <div class="css-1r30cbj">
                <div class="tab-el-left"></div>
                <div class="tab-el-left">{{ form_widget(lot.code,{'attr':{'class':'chakra-input', 'elid':'lot.id', 'definition':'lot'}}) }}</div>
                <div class="tab-el-left">{{ form_widget(lot.titre,{'attr':{'class':'chakra-input', 'elid':'lot.id', 'definition':'lot'}}) }}</div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right row justify-content-center">
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-plus-circle"></i></a>
                    </div>
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-three-dots"></i></a>
                    </div>
                </div>
            </div>
        </div>


        {% for sousLot in lot.sousLots %}
        <div class="css-ccobzb sous-lot">

            <div class="css-1r30cbj col-md-12">
                <div class="tab-el-left"></div>
                <div class="tab-el-left">{{ form_widget(sousLot.code,{'attr':{'class':'chakra-input'}}) }}</div>
                <div class="tab-el-left">{{ form_widget(sousLot.titre,{'attr':{'class':'chakra-input'}}) }}</div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right row justify-content-center">
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-plus-circle"></i></a>
                    </div>
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-three-dots"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %

     {% for sousLot in lot.sousLots %}
    <div class="css-ccobzb sous-lot">

        <div class="css-1r30cbj col-md-12">
            <div class="tab-el-left"></div>
            <div class="tab-el-left">{{ form_widget(sousLot.code,{'attr':{'class':'chakra-input'}}) }}</div>
            <div class="tab-el-left">{{ form_widget(sousLot.titre,{'attr':{'class':'chakra-input'}}) }}</div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right row justify-content-center">
                <div class="col-md-auto">
                    <a href="#"><i class="bi bi-plus-circle"></i></a>
                </div>
                <div class="col-md-auto">
                    <a href="#"><i class="bi bi-three-dots"></i></a>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
    } #}
    </div>
</div>

<div class="row css-gg4vpm buttons" style='display:{{ devis.elements is empty ? "none;" :"" }}'>
    <div>
        <button type="button" class="css-15nl7at" id="add-lot">
            + Créer un lot
        </button>
        <button type="button" class="css-15nl7at import-ouvrage">
            + Importer un ouvrage
        </button>
        <button type="button" class="css-15nl7at" id="add-ouvrage">
            + Créer un ouvrage
        </button>
    </div>
</div>

{{ form_end(form) }}


<div class="col-md-10 m-auto mt-2">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

</div>
<script>

    var selectedElement = null;
    let selectedElementId = null;
    $('body').on('click', '.elements', function(){
            selectedElement = $(this);
            selectedElementId = $(this).attr('id').replaceAll('element-','')
    })

    $('body').click(function(event){
        $('.selected').each(function(){
             $(this).removeClass('selected');
             selectedElemen = null;
             selectedElementId = null;
        });
        const selector = '.elements .'+ (event.target.classList[0] ? event.target.classList[0] : "unselect") ;
        if(document.querySelector(selector)){
            selectedElement.addClass('selected');
            selectedElement = $(this);
            selectedElementId = $(this).attr('id').replaceAll('element-','')
        }
    });


    function submitImportOuvrageEvent(event) {
        event.preventDefault();

        let data = {};
        $('.check-ouvrage').each(function (index) {
            if ($(this).is(':checked')) {
                console.log($(this).val());
                data[index] = {
                    parent: $(this).attr('parent') ? $(this).attr('parent') : null,
                    parentType: $(this).attr('parenttype') ? $(this).attr('parenttype') : null,
                    id: $(this).val(),
                    order: null,
                }
            }
        })

        console.log(data)

        $.post("{{ path('app_affaire_ouvrage_import',{'id':devis.id}) }}", data, function (response) {
            let data = JSON.parse(response);
            if (data.code === 200) {

                $("#modal-import-ouvrage").modal("show");
                if (data.code === 200) {
                    $('#ouvrage-import-success').show();
                    $("#main-devis").append(data.html);
                    setTimeout(() => {
                        $('#modal-import-ouvrage').modal('hide');
                        $('#modal-import-ouvrage').remove();

                    }, "1000");
                    $('.svg').remove();
                    $('.organisation').remove();
                    $('.css-gg4vpm').show();


                } else {
                    $('#ouvrage-import-danger').show();
                    setTimeout(() => {
                        $('#modal-import-ouvrage').modal('hide');
                        $('#modal-import-ouvrage').remove();
                    }, "3000")
                }
                //    location.reload();

            }
        })
    }

    $(".import-ouvrage").click(function () {
        $('#modal-import-ouvrage').remove();

        $.post('{{ path("app_affaire_modal_ouvrage_liste", {"id":devis.id}) }}', function (response) {
            const data = JSON.parse(response);
            $('body').append(data.html);
            $("#modal-import-ouvrage").modal("show");
            $('.datatable').DataTable({
                "oLanguage": {
                    sSearch: "",
                    searchPlaceholder: "Chercher"

                },
                language: {
                    searchPlaceholder: "Chercher"
                },
                order: [[0, 'desc']],
                pageLength: 25,


            });
        })
    })

    $('#add-ouvrage').click(function () {
        $('#modal-ouvrage').remove();
        let path = "{{ path('app_affaire_modal_ouvrage') }}";
        $.post(path, function (data) {
            $('body').append(JSON.parse(data).message);
            $("#modal-ouvrage").modal('show');

        })
    })

    $('#add-lot').click(function () {
        let path = "{{ path('app_affaire_lot_new', {'id':devis.id}) }}";
        $.post(path, function (data) {
            if (code = 200) {
                $('#main-devis').append(JSON.parse(data).html);
                $("#lot").modal('show');
                $('.svg').remove();
                $('.organisation').remove();
                console.log("oui")
                //$('.buttons').style.removeProperty('display');
                const lotId = data.lot;
            }
        })
    })

    $(document).on('change', 'input', function () {
        let definition = $(this).attr('definition');
        console.log(definition);
        const val = $(this).val();
        console.log(val);
        let lotId = $(this).attr('elid');
        console.log(lotId);

        if (definition == "lot") {
            const lot = {
                code: $('input[name="devis[lots][0][code]"]').val(),
                titre: $('input[name="devis[lots][0][titre]"]').val()
            };
            console.log(lot);
            let path = "{{ path('app_affaire_lot_edit', {'id':33}) }}";

            $.post(path, {lot}, function (response) {
                let data = JSON.parse(response);
                if (data.code === 200) {
                    console.log(data, lot);
                }
            })
        }


    })


</script>

