<style>
    .labels {
        font-size: 11px;
        color: #0d4377;
        font-weight: bold;
    }

    .bg-leasy {
        background: #e2e8ed;
        border-radius: 5px;
    }

    .bi {
        font-size: 1.5rem;
    }

    .css-1r30cbj {
        display: grid;
        grid-gap: 1rem;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-columns: 3rem 6rem minmax(15rem, 1fr) 5rem 6rem 8rem 10rem 7rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        flex: 1 1 0%;
    }

    .css-1fnl9bt {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #D9E2EC;
        font-weight: 600;
        color: #486581;
        font-family: Lato, sans-serif;
        background: #ffffff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .css-1ip68u7 {
        display: flex;
        border-bottom: 1px solid rgb(217, 226, 236);
        border-top-color: rgb(217, 226, 236);
        border-right-color: rgb(217, 226, 236);
        background-color: #fff1db;
        border-left: 2px solid rgb(249, 112, 62);
    }

    .css-ccobzb {
        display: flex;
        border-bottom: 1px solid rgb(188, 204, 220);
        border-top-color: rgb(188, 204, 220);
        border-right-color: rgb(188, 204, 220);
        border-left-color: rgb(188, 204, 220);
        background-color: rgba(217, 226, 236, 0.5);
    }

    .tab-el-left {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 100%;
        min-height: 3.125rem;
    }

    .tab-el-right {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        font-size: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 100%;
        min-height: 3.125rem;
        text-align: right;
    }

    input {
        width: 100%;
        min-width: 0px;
        outline: transparent solid 2px;
        outline-offset: 2px;
        position: relative;
        appearance: none;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 200ms;;
        font-size: 1rem;
        padding-inline: 0px;
        height: 1.8rem;
        border-radius: 0px;
        background: #00000000;
        color: #486581;
        border-bottom-color: #00000000;
        opacity: 1;
        padding: 0;
        border: 0;
    }

    .sous-lot {
        margin-left: 0.5rem;
    }
</style>

<div class="page-block col-md-10 m-auto mt-4">

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    {{ form_label(form.titre,'attr', {'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.titre,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end labels">
                    {{ form_label(form.description,'',{'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.description,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end labels">
                    {{ form_label(form.referent,'',{'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.referent,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-3 text-end labels">
                    {{ form_label(form.statut,'',{'label_attr':{'class':'labels'}}) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.statut,{'attr':{'class':'form-control form-control-sm-2'}}) }}
                </div>
            </div>
        </div>

    </div>

</div>

<div class="mt-4 col-md-11 m-auto">
    <div class=" css-1fnl9bt">

        <div class="css-1r30cbj">

            <div class="tab-el-left"></div>
            <div class="tab-el-left">N°</div>
            <div class="tab-el-left">Dénomination</div>
            <div class="tab-el-right">Unité</div>
            <div class="tab-el-right">Quantité</div>
            <div class="tab-el-right">Déboursé HT</div>
            <div class="tab-el-right">Déboursé Total HT</div>
            <div class="tab-el-right"></div>
            {#
            <div class="tab-el">Marge</div>

     <div class="tab-el">Prix unitaire HT</div>
     <div class="tab-el">TVA</div>
     <div class="tab-el">Prix de vente HT</div>
            #}


        </div>

    </div>

    {% for row in form.lots %}

    <div class="">

        <div class="css-ccobzb ">
            <div class="css-1r30cbj">
                <div class="tab-el-left"></div>
                <div class="tab-el-left">{{ form_widget(row.code,{'attr':{'class':'chakra-input'}}) }}</div>
                <div class="tab-el-left">{{ form_widget(row.titre,{'attr':{'class':'chakra-input'}}) }}</div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right row justify-content-center">
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-plus-circle"></i></a>
                    </div>
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-three-dots"></i></a>
                    </div>
                </div>
            </div>
        </div>

        {% for sousLot in row.sousLots %}
        <div class="css-ccobzb sous-lot">

            <div class="css-1r30cbj col-md-12">
                <div class="tab-el-left"></div>
                <div class="tab-el-left">{{ form_widget(sousLot.code,{'attr':{'class':'chakra-input'}}) }}</div>
                <div class="tab-el-left">{{ form_widget(sousLot.titre,{'attr':{'class':'chakra-input'}}) }}</div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right row justify-content-center">
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-plus-circle"></i></a>
                    </div>
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-three-dots"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {#  {% for sousLot in row.sousLots %}
    <div class="css-ccobzb sous-lot">

        <div class="css-1r30cbj col-md-12">
            <div class="tab-el-left"></div>
            <div class="tab-el-left">{{ form_widget(sousLot.code,{'attr':{'class':'chakra-input'}}) }}</div>
            <div class="tab-el-left">{{ form_widget(sousLot.titre,{'attr':{'class':'chakra-input'}}) }}</div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right row justify-content-center">
                <div class="col-md-auto">
                    <a href="#"><i class="bi bi-plus-circle"></i></a>
                </div>
                <div class="col-md-auto">
                    <a href="#"><i class="bi bi-three-dots"></i></a>
                </div>
            </div>
        </div>
    </div>
    #}
</div>


{% endfor %}

</div>

{% for row in form.lots %}



    <div class="mt-4" id="lot_div_{{ loop.index }}">


        <table class="table">
            <thead>
            <tr class="tr-head text-center">
                <th>Lot</th>
                <th>Dénomination</th>
                <th>Déboursé Total HT</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">{{ loop.index }} </td>
                <td id="lot_debourse_total_ht_{{ loop.index }}">

                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>


        <table class="table text-center">

            <thead>
            <tr class="tr-head">
                <th>Sous-lot</th>
                <th>type d'ouvrage</th>
                <th>prix unitaire déboursé</th>
                <th>quantité d'ouvrage</th>
                <th>déboursé HT calculé</th>
                <th>marge</th>
                <th>prix de vente ht</th>
                <th></th>


            </tr>
            </thead>
            <tbody>
            {% for sousLot in row.sousLots %}
                {% for ouvrage in sousLot.ouvrages %}

                    <tr>
                        <td>{{ form_widget(ouvrage.denomination,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>{{ form_widget(ouvrage.typeDOuvrage,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>{{ form_widget(ouvrage.prixUnitaireDebourse,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>{{ form_widget(ouvrage.quantiteDOuvrage,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>{{ form_widget(ouvrage.debourseHTCalcule,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>{{ form_widget(ouvrage.marge,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>{{ form_widget(ouvrage.prixDeVenteHT,{'attr':{'class':'form-control form-control-sm-2'}}) }}</td>
                        <td>
                            <div class="row justify-content-center">
                                <div class="col-md-auto">
                                    <a href="#"><i class="bi bi-plus-circle"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endfor %}

<div class="row">
    <div class="col-md-auto">
        <a href="#">
            + Créer un ouvrage
        </a>
    </div>

    <div class="col-md-auto">
        <a href="#">
            + Créer un nouveau lot
        </a>
    </div>

</div>

{{ form_end(form) }}


<div class="col-md-10 m-auto mt-2">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

</div>


<div class="page-block col-md-10 m-auto mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row mt-1">
                <div class="col-md-3 text-end">
                    <label class="labels">Type de préstation</label>
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.typeDePrestation }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Documents souhaités </label>
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.documentsSouhaites|join('-') }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Fonds de plan </label>
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.fondsDePlan }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <label class="labels">Travaux prevus </label>
                </div>
                <div class="col-md-9 bg-leasy">
                    {{ demande.travauxPrevus|join('\n')|nl2br }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Classe d'échafaudage
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.ClasseDEchaffaudage }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Type de materiel
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.TypeDeMateriel }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Dimensions globales :
                </div>
                <div class="col-md-9 bg-leasy">
                    {{ demande.dimensionsGlobales|join('\n')|nl2br }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Ammarages
                </div>
                <div class="col-md-9 bg-leasy">
                    {{ demande.ammarages|join('\n')|nl2br }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Largeur de travail
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.LargeurDeTravail }}
                </div>
            </div>

        </div>

        <div class="col-md-6">


            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Consoles
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.consoles }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Distance à la façade
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.distanceALaFacade }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Hauteur des planchers
                </div>
                <div class="col-md-9 bg-leasy">
                    {% for key,value in demande.hauteurDesPlanchers %}
                        <div> {{ key~" : "~value }} </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Équipements
                </div>
                <div class="col-md-9 bg-leasy">
                    {% for key,value in demande.equipements %}
                        <div>
                            {% if value == "Passage piéton" %}
                                {{ value~" : "~demande.largeurPassagePieton }}
                            {% elseif value == "Protection couvreur" %}
                                {{ value~" : "~demande.protectionCouvreur }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Accés
                </div>
                <div class="col-md-9 form-control-sm-2">
                    {{ demande.acces }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    Bâche et filet
                </div>
                <div class="col-md-9 bg-leasy">
                    {% for key,value in demande.bacheEtFilet %}
                        <div>
                            {{ key~" : "~value }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 text-end">
                </div>
                <div class="col-md-9 bg-leasy">
                    {% for key,value in demande.bache %}
                        <div>
                            {{ value }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>

<div class="page-block col-md-10 m-auto mt-4">
    <div class="row mt-2">
        <div class="col-md-auto text-end">
            Commentaire
        </div>
        <div class="col-md-10 bg-leasy">
            {{ demande.commentaire|nl2br }}
        </div>
    </div>

</div>


<div class="page-block col-md-10 m-auto mt-4">
    <div class="col-md-6 m-auto row mt-2">
        <div class="col-md-5 text-end">
            Date de création
        </div>
        <div class="col-md-auto bg-leasy">
            {{ demande.createdAt|date('d/m/y H:i:s') }}
        </div>
    </div>

    <div class="col-md-6 m-auto row mt-2">
        <div class="col-md-5 text-end">
            Date de la dernière modification
        </div>
        <div class="col-md-auto bg-leasy">
            {{ demande.updatedAt|date('d/m/y H:i:s') }}
        </div>
    </div>

</div>

