<div class="elements" id="element-{{ lot.id }}" type="lot">
    <div class="css-ccobzb lot">
        <div class="css-1r30cbj">
            <div class="tab-el-left"></div>
            <div class="tab-el-left">
                <input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_code" element="lot"
                       lot="{{ lot.id }}" placeholder="N°" name="devis[lots][{{ lot.id }}][code]"
                       input="code" value="{{ lot.code }}"/>
            </div>
            <div class="tab-el-left">
                <input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_titre" element="lot"
                       lot="{{ lot.id }}" placeholder="Dénomination" name="devis[lots][{{ lot.id }}][titre]"
                       input="titre" value="{{ lot.titre }}"/>
            </div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right">

                <input class="chakra-input dtht-lot" type="text" id="devis_lots_{{ lot.id }}_debourse" disabled="disabled"
                        {% if hasParent is not null %}
                         parent-dtht={{ hasParent}}
                        {% endif %}
                       placeholder="Déboursé Total HT" name="devis[lots][{{ lot.id }}][debourse]" value="{{ lot.prixHT|number_format(2,'.',' ') }}"/>
            </div>
            <div class="tab-el-right row justify-content-center options">
                <div class="col-md-auto">
                    <span><i class="bi bi-plus-circle"></i></span>
                </div>
                <div class="col-md-auto">
                    <span><i id="menu-lot-{{ lot.id }}" class="bi bi-three-dots menu-lot"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
