<div class="elements" id="element-{{ lot.id }}" type="lot">
    <div class="css-ccobzb lot">
        <div class="css-1r30cbj">
            <div class="tab-el-left"></div>
            <div class="tab-el-left"><input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_code"
                                            name="devis[lots][{{ lot.id }}][code]"/></div>
            <div class="tab-el-left"><input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_titre"
                                            name="devis[lots][{{ lot.id }}][titre]"/></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right row justify-content-center options">
                <div class="col-md-auto">
                    <span><i class="bi bi-plus-circle"></i></span>
                </div>
                <div class="col-md-auto">
                    <span><i id="menu-lot-{{ lot.id }}" class="bi bi-three-dots"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
