<div class="elements" id="element-{{ lot.id }}" type="lot" {% if hasParent is not null %}
    parent="{{ hasParent }}"
        {% endif %}>
    <div class="css-ccobzb lot">
        <div class="css-1r30cbj">
            <div class="tab-el-left"></div>
            <div class="tab-el-left">
                <input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_code" element="lot"
                       lot="{{ lot.id }}" placeholder="N°" name="devis[lots][{{ lot.id }}][code]"
                       input="code" value="{{ lot.code }}"/>
            </div>
            <div class="tab-el-left">
                <input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_titre" element="lot"
                       lot="{{ lot.id }}" placeholder="Dénomination" name="devis[lots][{{ lot.id }}][titre]"
                       input="titre" value="{{ lot.titre }}"/>
            </div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right">
                <input type="text" id="devis_ouvrages_{{ lot.id }}_quantite" input="quantite"
                       name="devis[lot][{{ lot.id }}][quantite]" required="required"
                       maxlength="255" element="ouvrage" lot="{{ lot.id }}" class="chakra-input numbers"
                        {% if hasParent is not null %}
                            parent-quantite="{{ hasParent }}"
                        {% else %}
                            disabled
                        {% endif %}
                       placeholder="Quantité">
            </div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right">

                <input class="chakra-input dtht-lot" type="text" id="devis_lots_{{ lot.id }}_debourse"
                       disabled="disabled" placeholder="Déboursé Total HT" lot="{{ lot.id }}"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       name="devis[lots][{{ lot.id }}][debourse]" value="{{ lot.prixHT|number_format(2,'.',' ') }}"/>
            </div>
            <div class="tab-el-right row justify-content-center options">
                <div class="col-md-auto">
                    <span><i class="bi bi-plus-circle"></i></span>
                </div>
                <div class="col-md-auto">
                    <span><i id="menu-lot-{{ lot.id }}" class="bi bi-three-dots menu-lot"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
