
<div class="elements" id="element-{{ lot.id }}" type="lot"
   {% if hasParent is not null %}
        parent="{{ hasParent }}"
    {% endif %}
    >
    <div class="css-ccobzb lot">
        <div class="css-1r30cbj">
            <div class="tab-el-left"></div>
            <div class="tab-el-left">
                <input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_code" element="lots"
                       lots="{{ lot.id }}" placeholder="N°" name="devis[lots][{{ lot.id }}][code]"
                       input="code" value="{{ lot.code }}"/>
            </div>
            <div class="tab-el-left">
                <input class="chakra-input" type="text" id="devis_lots_{{ lot.id }}_denomination" element="lots"
                       lots="{{ lot.id }}" placeholder="Dénomination" name="devis[lots][{{ lot.id }}][denomination]"
                       input="denomination" value="{{ lot.denomination }}"/>
            </div>
            <div class="tab-el-right">
                <input type="text" id="devis_lots_{{ lot.id }}_quantite" input="quantite"
                       name="devis[lots][{{ lot.id }}][quantite]" required="required"
                       maxlength="255" element="lots" lots="{{ lot.id }}" class="chakra-input numbers calcul text-center"
{#                        {% if hasParent is not null %}
                            parent-quantite="{{ hasParent }}"
                        {% else %}
                            disabled
                        {% endif %}
                        #}
                       placeholder="Quantité" value="{{ lot.quantite }}"/>
            </div>
            <div class="tab-el-right">
                <select id="devis_lots_{{ lot.id }}_unite" name="devis[lots][{{ lot.id }}][unite]" class="text-center col-md-12 chakra-input" required  input="unite" element="lots"  lots="{{ lot.id }}">
                        {% set isSelected = false %}
                    
                        {% for unite in unites %}
                            <option value="{{unite.id}}"
                                {% if unite == lot.unite %}
                                        selected
                                        {% set isSelected = true %}
                                {% endif %}
                            > {{ unite.label}}</option>
                        {% endfor %}
                        <option disabled {{ lot.unite is empty or isSelected == false ? "selected" : ""}}>Unité</option>
                </select>
            
            </div>
            <div class="tab-el-right">
                <input class="chakra-input dtht-lot" type="text" id="devis_lots_{{ lot.id }}_debourseUnitaireHT"
                        placeholder="Déboursé unitaire HT" lots="{{ lot.id }}" element="lots"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %} disabled
                       name="devis[lots][{{ lot.id }}][debourseUnitaireHT]" value=""/>
            </div>
            <div class="tab-el-right">
                <input class="chakra-input text-end" type="text" id="devis_lots_{{ lot.id }}_debourseTotalHT"
                       disabled="disabled" placeholder="Déboursé Total HT" lots="{{ lot.id }}"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       name="devis[lots][{{ lot.id }}][debourseTotalHT]"
                       value="{{ lot.debourseTotalLot|number_format(2,'.',' ') }}"
                />
            </div>
            <div class="tab-el-right">
                <input class="chakra-input dtht-lot text-center" type="text" id="devis_lots_{{ lot.id }}_marge"
                        placeholder="Marge" lots="{{ lot.id }}"  element="lots"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       name="devis[lots][{{ lot.id }}][marge]" value="{{ lot.marge|number_format(2,'.',' ') }}"/>
            </div>
            <div class="tab-el-right">
                <input class="chakra-input text-end" type="text" id="devis_lots_{{ lot.id }}_prix_de_vente"
                       disabled="disabled" placeholder="Prix de vente" lots="{{ lot.id }}"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       name="devis[lots][{{ lot.id }}][prixDeVente]"
                       value="{{ (lot.prixDeVenteHT)|number_format(2,'.',' ') }}"/>
            </div>
            <div class="tab-el-right row justify-content-center options">
                <div class="col-md-auto add-element-button" id="bi-plus-circle-{{lot.id}}" type="lot" style="cursor:pointer;">
                    <span><i class="bi bi-plus-circle"></i></span>
                </div>
                <div class="spinner-border text-primary col-md-auto" style="display:none" role="status" id="spinner-{{lot.id}}">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="col-md-auto">
                    <span><i id="menu-lot-{{ lot.id }}" class="bi bi-three-dots menu-lot"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
