<div class="elements" id="element-{{ ouvrage.id }}" type="ouvrage">

    <div class="css-1ip68u7">
        <div class="css-1r30cbj">
            <div class="tab-el-left"></div>
            <div class="tab-el-left">

                {% if ouvrage.denomination is not null and ouvrage.origine is not null %}
                    <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_denomination" input="denomination"
                           element="ouvrages" ouvrages="{{ ouvrage.id }}" origine={{ ouvrage.origine }}
                           name="devis[ouvrages][{{ ouvrage.id }}][denomination]" required="required" maxlength="255"
                           class="chakra-input" placeholder="Dénomination" value="{{ ouvrage.denomination }}" disabled/>
                {% else %}
                    <div class="import-ouvrage" id="import-ouvrage-{{ouvrage.id}}" style="width: 100%">
                        <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_denomination" input="denomination"
                               element="ouvrages" ouvrages="{{ ouvrage.id }}" maxlength="255" value="{{ ouvrage.denomination }}"
                               name="devis[ouvrages][{{ ouvrage.id }}][denomination]" required="required"
                               class="chakra-input" placeholder="Veuillez sélectionner un ouvrage"
                               style="cursor: pointer;" disabled/>
                    </div>

                {% endif %}

            </div>
            <div class="tab-el-right">
                <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_quantite" input="quantite"
                       name="devis[ouvrages][{{ ouvrage.id }}][quantite]" required="required" maxlength="255"
                       element="ouvrages" ouvrages="{{ ouvrage.id }}"
                       class="chakra-input numbers dtht-ouvrage text-center"
                       placeholder="Quantité"
                       value="{{ ouvrage.quantite }}">
            </div>
            <div class="tab-el-right">
                {#           <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_unite" input="unite" element="ouvrages"
                       ouvrages="{{ ouvrage.id }}" name="devis[ouvrages][{{ ouvrage.id }}][unite]" required="required"
                       maxlength="255"
                       class="chakra-input" placeholder="Unité" value="{{ ouvrage.unite }}"> #}

                <select id="devis_ouvrages_{{ ouvrage.id }}_unite" name="devis[ouvrages][{{ ouvrage.id }}][unite]"
                        class="text-center col-md-12 chakra-input" required input="unite" element="ouvrages"
                        ouvrages="{{ ouvrage.id }}">
                    {% set isSelected = false %}
                    {% for unite in unites %}
                        <option value="{{ unite.id }}"
                                {% if unite == ouvrage.unite %}
                                    selected
                                    {% set isSelected = true %}
                                {% endif %}
                        > {{ unite.label }}</option>
                    {% endfor %}
                    <option disabled {{ ouvrage.unite is empty or isSelected == false ? "selected" : "" }}>Unité
                    </option>

                </select>
            </div>
            <div class="tab-el-right">
                {% for composant in ouvrage.composants %}
                    {% if composant.typeComposant.titre == "Location" %}
                        <input type="text" id="devis_composants_{{ composant.id }}_quantite2" input="quantite2"
                               name="devis[composants][{{ composant.id }}][quantite2]" required="required" maxlength="255"
                               element="composants" composants="{{ composant.id }}" class="chakra-input numbers dtht-composant text-center"
                               placeholder="Quantité2"
                               value="{{ composant.quantite2 }}">

                        <select disabled style="width:30% !important" id="devis_composants_{{ composant.id }}_unite2" name="devis[composants][{{ composant.id }}][unite2]" class="text-center col-md-12 chakra-input" required  input="unite2" element="composants"  composants="{{ composant.id }}">
                            {% set isSelected = false %}
                            {% for unite in unites %}
                                <option value="{{unite.id}}"
                                        {% if unite == composant.unite2 %}
                                            selected
                                            {% set isSelected = true %}
                                        {% endif %}
                                > {{ unite.label}}</option>
                            {% endfor %}
                            <option disabled {{ composant.unite2 is empty or isSelected == false ? "selected" : ""}}>Unité 2</option>
                        </select>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-el-right">
                <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_debourseTotalHT" disabled="disabled"
                       input="debourseTotalHT"
                       name="devis[ouvrages][{{ ouvrage.id }}][debourseTotalHT]" required="required" maxlength="255"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       class="chakra-input  text-end" placeholder="Déboursé Total HT"
                       value="{{ (ouvrage.getSommeDebourseTotalComposants)|number_format(2,'.',' ') }}">
            </div>
            <div class="tab-el-right">
                <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_marge"
                       input="marge" element="ouvrages" ouvrages="{{ ouvrage.id }}"
                       name="devis[ouvrages][{{ ouvrage.id }}][marge]" required="required" maxlength="255"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       class="chakra-input text-center" placeholder="Marge"
                       value="{{ ouvrage.marge|number_format(2,'.',' ') }}">
            </div>
            <div class="tab-el-right">
                <input type="text" id="devis_ouvrages_{{ ouvrage.id }}_prix_de_vente" disabled="disabled"
                       input="prixDeVente"
                       name="devis[ouvrages][{{ ouvrage.id }}][prixDeVente]" required="required" maxlength="255"
                        {% if hasParent is not null %}
                            parent-dtht="{{ hasParent }}"
                        {% endif %}
                       class="chakra-input text-end" placeholder="Prix de vente HT"
                       value="{{ (ouvrage.prixDeVenteHT)|number_format(2,'.',' ') }}">
            </div>
            <div class="tab-el-right row justify-content-center">
                <div class="col-md-auto add-element-button" id="bi-plus-circle-{{ ouvrage.id }}" type="ouvrage"
                     style="cursor:pointer;">
                    <span><i ouvrages="{{ ouvrage.id }}" class="bi bi-plus-circle"></i></span>
                </div>
                <div class="spinner-border text-primary col-md-auto" style="display:none" role="status"
                     id="spinner-{{ ouvrage.id }}">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="col-md-auto">
                    <span><i id="menu-ouvrage-{{ ouvrage.id }}" class="bi bi-three-dots menu-ouvrage"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>