<div class="col-md-10 m-auto page-block mb-3">

    <style>


        .btn-roles {
            margin-left: 2px;
        }
    </style>

    {% if not form.vars.valid %}
        <ul>
            {# Loop through every form item #}
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {% for error in child.vars.errors %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.photo is not empty %}

        <img src="{{ asset('./uploads/photo/'~user.photo) }}" alt="Admin" class="rounded-circle"
             width="50">

    {% endif %}

    {{ form_start(form,{'attr':{"id":"dropzone"}}) }}


    <div class="col-md-12 ">


        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Nom
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.lastname,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','required':'true','placeholder':'Nom','autofocus':'on'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Prénom
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.firstname,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','required':'true','placeholder':'Prénom'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Pseudo
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.pseudo,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','placeholder':'Pseudo'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Email
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.email,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','required':'true','placeholder':'Email'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Téléphone
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.telephone,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','placeholder':'Téléphone'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Téléphone Fixe
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.telephoneFixe,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','placeholder':'Téléphone'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Service
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.service,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Fonction
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.poste,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Matricule
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.matricule,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Lien linkedin
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.linkdin,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Adresse Pro
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.entite,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>



                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Rôles
                        </div>
                        <div class="col-md-9 ">
                            <div class="form-check form-switch col-md-12">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Super Admin</label>
                                {{ form_widget(form.roles[0],{'attr':{'class':'form-check-input'}}) }}
                            </div>
                            <div class="form-check form-switch col-md-12">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Admin</label>
                                {{ form_widget(form.roles[1],{'attr':{'class':'form-check-input'}}) }}
                            </div>
                            <div class="form-check form-switch col-md-12">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Manager</label>
                                {{ form_widget(form.roles[2],{'attr':{'class':'form-check-input'}}) }}
                            </div>
                            <div class="form-check form-switch col-md-12">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Commercial</label>
                                {{ form_widget(form.roles[3],{'attr':{'class':'form-check-input'}}) }}
                            </div>
                            <div class="form-check form-switch col-md-12">
                                <label class="form-check-label" for="flexSwitchCheckChecked">J4R</label>
                                {{ form_widget(form.roles[4],{'attr':{'class':'form-check-input'}}) }}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Email Perso
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.emailPerso,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','placeholder':'Email Perso'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Téléphone Perso
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.telephoneMobile,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','placeholder':'Téléphone Perso'}}) }}
                        </div>
                    </div>
                </div>

                {% if form.password is defined %}
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-3 text-end fw-bold">
                                Mot de passe
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.password.first,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','required':'true','placeholder':'mot de passe'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12  mb-3">
                        <div class="row">
                            <div class="col-md-3 text-end fw-bold">
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form.password.second,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off','required':'true','placeholder':'repeter le mot de passse'}}) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Adresse
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.adresse1,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Complement
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.adresse2,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Code Postal
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.codePostal,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Ville
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.ville,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Pays
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.pays,{'attr':{'class':'form-control form-control-sm-2','autocomplete':'off'}}) }}
                        </div>
                    </div>
                </div>


                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Photo de profil
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.photo,{'attr':{'class':'form-control form-control-sm drop'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Signature mail
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.signature,{'attr':{'class':'form-control form-control-sm drop'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mb-3">
                    <div class="row">
                        <div class="col-md-3 text-end fw-bold">
                            Signature Document
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.signatureM,{'attr':{'class':'form-control form-control-sm drop'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="btn btn-j4r mb-4">{{ button_label|default('Enregistrer') }}</button>


        {% if user.signature is not empty %}

            <div class="col-sm-12 mb-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">
                        Signature
                    </div>
                    <div class="card-body">
                        <iframe id="inlineFrameExample" style="width: 100%;"

                                src="{{ asset('uploads/signature/'~user.signature) }}"
                        ></iframe>
                    </div>
                </div>
            </div>

        {% endif %}

        {% if user.signatureM is not empty %}

            <div class="col-sm-12 mb-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">
                        Signature document
                    </div>
                    <div class="card-body">
                        <img id="inlineFrameExample" style="width: 100%;"

                                src="{{ asset('uploads/signatureM/'~user.signatureM) }}"
                        >
                    </div>
                </div>
            </div>

        {% endif %}


        <div class="row mb-3">


        </div>

    </div>
    <div class="form-group position-relative has-icon-left mb-4">

    </div>


    {{ form_end(form) }}

</div>

