{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}



<section class="section">
    <div class="card">
        <div class="card-header">
            Jquery Datatable
        </div>
        <div class="card-body">

    <table class="table dataTable no-footer">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Statut</th>
                <th>Service</th>
                <th>Poste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.isActif ? '<span class="badge badge-success" style="color:black;">Actif</span>' :'<span class="badge badge-danger" style="color:black;">Inactif</span>'}}</td>
                <td>{{ user.service is not empty ? user.service.titre : "NC"}}</td>
                <td>{{ user.poste is not empty ? user.poste.titre : "NC"}}</td>

                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="btn btn-info">Create new</a>
        </div>
    </div>
</section>
{% endblock %}
